md-dialog.rp-login-dialog(flex="10", aria-label="settings", md-theme="{{settings.theme}}")
  rp-dialog-close-button(ng-if="isDialog")
  md-dialog-content(layout-padding)
    .content(layout="column", layout-align="space-around center")
      .rp-brand(layout="row", layout-align="center center", hide, show-gt-sm, ng-click="brandLink($event)")
        md-icon.rp-brand-icon(md-svg-src="../../icons/logo.svg")
        .rp-brand-name Uraraka
      p Sign in with Reddit to vote, comment, see your subreddits and more
      rp-login-button
      md-button.default-dark-button.cancel-button(ng-click="closeDialog()") IM GOOD
