rp-layout-button {
	md-select {
		margin-top: 27.5px;

		md-select-value {
			min-width: auto !important;

			span {
				flex: none !important;
			}

			span.md-select-icon {
				width: 12px !important;
				color: @rp-titlebar-font-color !important;
			}
		}
	}
}

#select_container_13 {
	max-width: 64px !important;

	md-select-menu {
		max-width: 64px !important;
	}

	md-content {
		max-width: 64px !important;
		min-width: 64px !important;
	}

	md-option {
		max-width: 64px !important;

		.md-text {
			margin: 0 auto !important;
		}
	}

	md-option {
		&:focus {
			background-color: white;
		}
	}
}