.rp-captcha-image-wrapper
{
    position: relative;  width: 120px;  height: 50px;  margin-top: 15px;
}

.rp-captcha-image
{
    position: absolute;  top: 0;  left: 0;  width: 120px;  height: 50px;  outline-style: none !important;     background-color: whitesmoke;
}

.rp-captcha-image-progress
{
    position: absolute;  left: 31px;
    // margin: auto;
}

.rp-captcha-input input
{
    width: 120px;
}

.rp-bad-captcha-message
{
    font-size: 14px;
}

.rp-captcha-reload-button
{
    position: absolute !important;  z-index: 0 !important;  top: 7px;  left: 130px;  width: @rp-post-fab-size !important;  height: @rp-post-fab-size !important;  margin: 0;     background-color: transparent !important;  box-shadow: none !important;
}

.rp-captcha-reload-icon
{
    position: absolute;  top: 7px !important;  left: 7px !important;  width: @rp-post-fab-icon-size !important;  height: @rp-post-fab-icon-size !important;     color: @inactive-icon !important;
}
