.rp-media-giphy-video {
  .rp-media-video;
}

.rp-media-giphy-play-icon {
  .rp-media-icon;
}

.rp-media-giphy-pause-icon {
  display: none;
  .rp-media-icon;
}

.rp-media-giphy-video-wrapper:hover .rp-media-giphy-pause-icon {
  display: block;
}

.rp-media-giphy-thumbnail-wrapper,
.rp-media-giphy-video-wrapper {
  position: relative;
  width: 100%;
}