.rp-content-404(layout-padding)
	//- img.rp-404-image(src="../../images/404.png")
	img.rp-404-image(src="http://38.media.tumblr.com/0e3cd11b74caaf3273373761887bb4bf/tumblr_inline_np3ekdsqc11rkobij_500.gif")
	//- p.title 404
	p.message Four-oh-four,
	p.message Did not find the page you're looking for.
