md-dialog.rp-article-dialog(aria-label="article dialog", flex="60", ng-class="{'rp-animation-dialog-none': !animations}")
	rp-dialog-close-button(hide-gt-xs, ng-if="isDialof")
	md-dialog-content.rp-article(dialog="dialog", post="post", article="article", comment="comment", subreddit="subreddit")
