.rp-comment-media-root
	.rp-comment-media-original-content
		a(href="{{href}}", ng-transclude)

	.rp-comment-media-wrapper(ng-if="redditLink")
		p reddit_ref_link

	.rp-comment-media-wrapper(ng-if="!redditLink")
		rp-media(url="href")