span.rp-comment-media-root

	span.rp-comment-media-original-content
		a(target="_blank" href="{{href | rp_hijack_reddit_link}}", ng-transclude)

	.rp-comment-media-wrapper(ng-if="(href | rp_media_type) !== null")
		rp-media(url="href")
