//- a(class="coinbase-button", data-code="e4ce63314109ddbcab449c70bd2e5c3c", data-button-style="custom_small", href="https://www.coinbase.com/checkouts/e4ce63314109ddbcab449c70bd2e5c3c") Donate Bitcoins
//- script(src="https://www.coinbase.com/assets/button.js")

md-button.md-fab.rp-post-fab.coinbase-button(data-code="e4ce63314109ddbcab449c70bd2e5c3c", href="https://www.coinbase.com/checkouts/e4ce63314109ddbcab449c70bd2e5c3c", target="_blank")
    md-icon.rp-post-fab-icon(md-svg-src="../../icons/bitcoin.svg")
