.rp-comment(class="rp-comment-depth{{depth}}")
	.rp-comment-inner(layout="row", class="rp-comment-inner-depth{{depth}}", ng-if="comment.kind === 't1'")
		
		.rp-comment-collapse(ng-if="hasChildren")
			md-button.md-button.rp-comment-collapse-button(ng-click="collapseChildren()", aria-label="collapse comments", ng-class="{'rp-collapse-hidden': childrenCollapsed === true}")
				md-icon.rp-comment-collapse-icon(md-svg-src="../../icons/ic_arrow_drop_down_black_24px.svg")
			md-button.md-button.rp-comment-collapse-button(ng-click="expandChildren()", aria-label="expand comments", ng-class="{'rp-collapse-hidden': childrenCollapsed === false}")
				md-icon.rp-comment-collapse-icon(md-svg-src="../../icons/ic_arrow_drop_up_black_24px.svg")

		.rp-comment-score(layout="column", layout-align="start center")
			md-button.md-fab.rp-post-fab#upvote(aria-label="upvote", ng-click="upvotePost()")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_upvote_24px.svg", ng-class="{'upvoted': comment.data.likes}")
			span.rp-comments-score {{comment.data.score}}
			md-button.md-fab.rp-post-fab#downvote(aria-label="downvote", ng-click="downvotePost()")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_downvote_24px.svg", ng-class="{'downvoted': comment.data.likes === false}")

		.rp-comment-body(flex)
			.rp-comment-title
				span.rp-comment-user(ng-class="{'rp-comment-user-op': post.data.author === comment.data.author}") {{comment.data.author}} &nbsp&nbsp
				span.rp-comment-details(am-time-ago="comment.data.created_utc") &nbsp&nbsp&nbsp&nbsp
				span.rp-gilded(ng-if="comment.data.gilded > 0")
					md-tooltip {{comment.data | rp_gilded_alt}}
					md-button.md-fab.rp-gilded-fab(target="_blank", aria-label="gilded")
						md-icon.rp-gilded-icon(md-svg-src="../../icons/ic_stars_black_18px.svg")
					span.rp-gilded-count(ng-if="comment.data.gilded > 1")  &#215 {{comment.data.gilded}}
			
			.rp-comment-body-html(compile="comment.data.body_html | rp_unescape_html | rp_load_comment_media")
			
			.rp-comment-actions(layout-padding, layout="row", layout-align="start center")
				md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="savePost()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': comment.data.saved}")
				md-button.md-fab.rp-post-fab#reply(aria-label="reply", ng-click="toggleReply()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_reply_24px.svg", ng-class="{'replying': showReply}")

			.rp-comment-reply(layout-padding, ng-if="showReply")
				form.rp-post-reply-form(name="rpPostReplyForm", ng-submit="postCommentReply(comment.data.name, reply)", layout="row", ng-controller="rpCommentReplyCtrl")
					md-input-container.md-accent(flex)
						input(placeholder="Reply to this comment", ng-model="reply")
					md-button.md-fab.rp-post-fab#send(aria-label="post reply", ng-if="reply")
						md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_send_24px.svg")

	.rp-comment-showmore(ng-if="comment.kind === 'more' && comment.data.count > 0")
		md-progress-circular.md-accent.rp-comment-showmore-progress(md-mode="indeterminate", ng-if="loadingMoreChildren", md-diameter="24")
		.rp-comment-showmore-link(ng-if="!loadingMoreChildren")
			span(ng-click="showMore()") load {{comment.data.count}} more replies  
				i.mdi.mdi-chevron-down

	.rp-comments-continue(ng-if="comment.kind == 'more' && comment.data.count == 0 && comment.data.children.length > 0")
		a(ng-href="/r/{{post.data.subreddit}}/comments/{{post.data.id}}/{{comment.data.parent_id | rp_name_to_id36}}", target="_blank") 
			span.rp-comments-continue-link continue this thread  
				t.mdi.mdi-arrow-right
	//- md-divider
	rp-comment(ng-repeat="comment in comment.data.replies.data.children", comment="comment", parent="currentComment", depth="childDepth", post="post", sort="sort")