md-dialog.rp-comments-dialog(aria-label="", flex="90")

	md-toolbar.rp-comments-sort-toolbar(ng-controller="commentsSortCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
				md-tabs.rp-comments-sort-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
					md-tab.rp-comment-sort-tab(aria-controls="best", label="Best", ng-click="commentsSort('confidence')")
					md-tab.rp-comment-sort-tab(aria-controls="top", label="Top", ng-click="commentsSort('top')")
					md-tab.rp-comment-sort-tab(aria-controls="new", label="New", ng-click="commentsSort('new')")
					md-tab.rp-comment-sort-tab(aria-controls="hot", label="Hot", ng-click="commentsSort('hot')")
					md-tab.rp-comment-sort-tab(aria-controls="controversial", label="controversial", ng-click="commentsSort('controversial')")
					md-tab.rp-comment-sort-tab(aria-controls="old", label="old", ng-click="commentsSort('old')")
	
	md-content.rp-comments-content(flex)
		.rp-comments-header(layout-padding, layout="row")
			.rp-comments-header-score
				md-button.md-fab.rp-post-fab#upvote(aria-label="upvote", ng-click="upvotePost()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_upvote_24px.svg", ng-class="{'upvoted': post.data.likes}")
				span.rp-comments-score {{::post.data.score}}
				md-button.md-fab.rp-post-fab#downvote(aria-label="downvote", ng-click="downvotePost()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_downvote_24px.svg", ng-class="{'downvoted': post.data.likes === false}")

			.rp-card-header-content(flex)
				a.rp-comments-header-title(ng-href="http://www.reddit.com{{::post.data.permalink}}", target="_blank") {{::post.data.title | clean}}
				.rp-comments-header-details 
					//- span(title="{{ ::post.data.created_utc*1000 | date: 'medium' }}", am-time-ago="::post.data.created_utc")
					span(am-time-ago="::post.data.created_utc")
					|  by 
					span.rp-comments-header-author {{::post.data.author}}
					span.rp-comments-header-subreddit(ng-if="::showSub")
						|  to
						| r/{{::post.data.subreddit}}
		
		rp-media.rp-comments-media(ng-if="::!post.data.is_self", layout-padding)

		.rp-post-selftext(ng-if="::post.data.selftext_html", layout-padding)
			p(ng-bind-html="::post.data.selftext_html | unescape_html | unsafe")
		
		.rp-comments-actions(layout-padding)
			md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="savePost()")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': post.data.saved}")
			md-button.md-fab.rp-post-fab#share(aria-label="share")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_share_24px.svg")

		.rp-commets-reply(layout-padding)
			md-input-container.md-accent
				label.rp-post-comment-label Post a reply
				textarea(rows="1")

		.rp-comments-thread
			md-progress-circular.md-accent.rp-comments-thread-progress(md-mode="indeterminate", ng-if="threadLoading")
			rp-thread(comments="comments", depth="0", post="post", sort="sort", ng-if="!threadLoading")