md-toolbar.rp-tab-toolbar(ng-controller="rpCommentsSortCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
	md-tabs.rp-comments-sort-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
		md-tab.rp-comment-sort-tab(aria-controls="best", label="Best", md-on-select="tabClick('confidence')")
		md-tab.rp-comment-sort-tab(aria-controls="top", label="Top", md-on-select="tabClick('top')")
		md-tab.rp-comment-sort-tab(aria-controls="new", label="New", md-on-select="tabClick('new')")
		md-tab.rp-comment-sort-tab(aria-controls="hot", label="Hot", md-on-select="tabClick('hot')")
		md-tab.rp-comment-sort-tab(aria-controls="controversial", label="controversial", md-on-select="tabClick('controversial')")
		md-tab.rp-comment-sort-tab(aria-controls="old", label="old", md-on-select="tabClick('old')")
		md-tab.rp-comment-sort-tab(aria-controls="qa", label="Q&A", md-on-select="tabClick('qa')")

md-content.rp-comments-content(flex, ng-class="{'rp-comments-content-loaded': threadLoading === false}")
	.rp-comments-content-inner(ng-if="post")
		.rp-comments-post(ng-class="{'rp-comments-post-loaded': threadLoading === false}")
			.rp-comments-header(layout-padding, layout="row", layout-align="start center")
				.rp-comments-header-score
					md-button.md-fab.rp-post-fab#upvote(aria-label="upvote", ng-click="commentsUpvotePost()")
						md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_upvote_24px.svg", ng-class="{'upvoted': post.data.likes}")
					span.rp-comments-score {{post.data.score}}
					md-button.md-fab.rp-post-fab#downvote(aria-label="downvote", ng-click="commentsDownvotePost()")
						md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_downvote_24px.svg", ng-class="{'downvoted': post.data.likes === false}")

				.rp-card-header-content(flex)
					a.rp-comments-header-title(ng-href="{{post.data.url | rp_hijack_reddit_link}}", target="_blank") {{post.data.title | rp_clean_title}}
					.rp-comments-header-details 
						//- span(title="{{ post.data.created_utc*1000 | date: 'medium' }}", am-time-ago="post.data.created_utc")
						span(am-time-ago="post.data.created_utc")
						|  by 
						span.rp-comments-header-author(ng-click='openAuthor($event)') {{post.data.author}}
						|  to 
						span.rp-comments-header-subreddit(ng-click="openSubreddit($event)") r/{{::post.data.subreddit}}

				.rp-gilded(ng-if="post.data.gilded > 0", layout-margin)
					md-tooltip {{post.data | rp_gilded_alt}}
					md-button.md-fab.rp-gilded-fab(target="_blank", aria-label="gilded")
						md-icon.rp-gilded-icon(md-svg-src="../../icons/ic_stars_black_18px.svg")
					span.rp-gilded-count(ng-if="post.data.gilded > 1")  &#215 {{post.data.gilded}}
			
			
			.rp-comments-media(ng-if="!post.data.is_self", layout-padding)
				rp-media(url="post.data.url", post="post")

			
			.rp-post-selftext.rp-comments-selftext(ng-if="post.data.selftext_html", layout-padding)
				p(ng-bind-html="post.data.selftext_html | rp_unescape_html")
			
			.rp-comments-actions(layout-padding)
				md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="commentsSavePost()")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': post.data.saved}")
				md-button.md-fab.rp-post-fab#share(aria-label="share")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_share_24px.svg")

			.rp-comments-reply(layout-padding)
				form.rp-post-reply-form(name="rpPostReplyForm", ng-submit="postCommentsReply(post.data.name, reply)", layout="row", ng-controller="rpCommentsReplyCtrl")
					md-input-container.md-accent(flex)
						input(placeholder="Post a reply", ng-model="reply")
					md-button.md-fab.rp-post-fab#send(aria-label="post comment", ng-if="reply")
						md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_send_24px.svg")

		.rp-comments-thread
			.rp-comments-thread-progress-wrapper
				md-progress-circular.md-accent.rp-comments-thread-progress(md-mode="indeterminate", ng-if="threadLoading")
			
			.rp-comments-thread-comment-warning(ng-if="!threadLoading && comment", layout-padding)
				.rp-comments-thread-comment-warning-body You are viewing a single comment's thread. &nbsp&nbsp&nbsp&nbsp
					a.rp-comments-thread-comment-warning-link(href="/r/{{subreddit}}/comments/{{article}}") view the rest of the comments     
						i.mdi.mdi-arrow-right
					span &nbsp&nbsp&nbsp&nbsp
					a.rp-comments-thread-comment-warning-link(href="/r/{{subreddit}}/comments/{{article}}/{{comment}}/?context=8") view the full context
						i.mdi.mdi-arrow-right


			rp-comment(ng-repeat="comment in comments", comment="comment", depth="0", post="post", sort="sort", ng-if="!threadLoading")