md-button.md-fab.rp-post-fab#delete(aria-label="delete", ng-click="toggleDeleting($event)")
  md-icon.rp-post-fab-icon(md-svg-icon="ic_delete_24px", ng-class="{deleting: parentCtrl.isDeleting}")
  md-tooltip(hide, show-gt-sm) delete
