form.rp-delete-form(layout="row", layout-align="start center", ng-submit="submit()", ng-if="parentCtrl.isDeleting")
	p.rp-delete-form-heading Are you sure you want to delete this {{type}}?
	span(flex)
	.md-actions
		md-button.md-button.md-accent(ng-if="!isDeleteInProgress", type="submit") Yep, Delete it
		md-progress-circular.md-accent(md-mode="indeterminate", ng-if="isDeleteInProgress", md-diameter="24")
