md-button.md-fab.rp-post-fab#edit(aria-label="edit", ng-click="toggleEditing($event)")
  md-icon.rp-post-fab-icon(md-svg-icon="ic_mode_edit_24px", ng-class="{editing: parentCtrl.isEditing}")
  md-tooltip(hide, show-gt-sm) edit
