.rp-edit-form(layout-padding, ng-if="parentCtrl.isEditing")
	form.rp-article-edit-post-form(ng-submit="submit()", layout="column")
		md-input-container.md-accent(flex, layout-padding)
			textarea(required, ng-model="editText", ng-disabled="inputIsDisabled", aria-label="edit post body", rows="1")
		.rp-article-edit-post-form-button-area(ng-if="!isSubmitting")
			md-button.md-accent.md-raised.rp-raised-accent(type="submit") Save Edit
		md-progress-circular.md-accent(md-mode="indeterminate", ng-if="isSubmitting", md-diameter="24", layout-padding)

	rp-formatting
