md-content.rp-form-content
	.rp-form-inner
		.rp-form-title send feedback

		form.rp-submit-link-form(name="rpSubmitNewLinkForm", ng-submit="submitForm()", layout="column", ng-controller="rpFeedbackFormCtrl", layout-padding)
			
			md-input-container.md-accent.no-padding(flex, layout-padding)
				label Title
				input#feedback-title(required, ng-model="title", placeholder="Please use the tag [SUGGESTION] or [ISSUE]")

			div.no-padding(layout="row")
				md-input-container.md-accent.rp-submit-text-input-container(flex)
					label Feedback
					textarea#feedback-text(required, ng-model="text", placeholder="Describe your suggestion or issue")
				md-button.md-fab.rp-post-fab.rp-formatting-button#info(aria-label="reply info", ng-click="toggleFormatting()")
					md-icon.rp-post-fab-icon(md-svg-icon="ic_info_outline_24px", ng-class="{formatting: formatting}")
					md-tooltip(hide, show-gt-sm) reddiqutte				

			rp-formatting.no-padding(ng-if="formatting")

			p.rp-submit-feedback(ng-if="showFeedback")
				i.material-icons.rp-feedback-icon.rp-material-icon(ng-if="showFeedbackIcon") {{feedbackIcon}} &nbsp
				a.rp-feedback-link(href="{{feedbackLink}}", ng-if="showFeedbackLink") {{feedbackLinkName}} &nbsp
				span.rp-feedback-message {{feedbackMessage}}

			.rp-form-button-area(layout="row", ng-if="showButtons")

				md-button.md-accent.md-raised.rp-submit-button(ng-if="showSubmit", aria-label="submit", type="submit") SUBMIT FEEDBACK
				md-button.md-raised.rp-submit-cancel-button(ng-click="closeDialog($event)", aria-label="cancel", type="button") CANCEL

			md-progress-circular.md-accent.rp-submit-progress(md-mode="indeterminate", ng-if="showProgress", md-diameter="32", layout-padding)

			//- rp-submit-rules
