.rp-gilded(ng-if="gilded > 0")
   md-tooltip(hide, show-gt-sm) Yeah, {{author}} got gold for this
   md-button.md-fab.rp-gilded-fab(target="_blank", aria-label="gilded")
      md-icon.rp-gilded-icon(md-svg-src="../../icons/ic_stars_black_18px.svg")
   span.rp-gilded-count(ng-if="gilded > 1")  &#215 {{gilded}}
