.rp-gild(ng-if="gilded > 0", rp-simple-suspendable)
   md-tooltip(hide, show-gt-sm, rp-simple-suspendable) Yeah, /u/{{author}} got gold for this
   md-button.md-fab.rp-gild-fab(target="_blank", aria-label="gilded", rp-simple-suspendable)
      md-icon.rp-gild-icon(md-svg-icon="ic_stars_black_18px", rp-simple-suspendable)
   span.rp-gild-count(ng-if="gilded > 1", rp-simple-suspendable)  &#215 {{gilded}}
