//- img(ng-src={{album.images[0]}})
.rp-imgur-album-controls
	md-button(ng-click="prev(album.data.images_count)") Prev
	span.rp-imgur-album-controls-count Image {{currentImage}} of {{album.data.images_count}}
	md-button(ng-click="next(album.data.images_count)") Next
	
img(ng-src="{{currentImageUrl}}")