.rp-imgur-album-controls
	p.rp-imgur-album-controls-count(ng-if="album.data.images_count > 1") Image {{currentImage}} of {{album.data.images_count}}

.rp-imgur-album-wrapper
	img.rp-imgur-album-image(ng-src="{{ currentImageUrl | image_url}}")
	.rp-imgur-album-controls(ng-if="album.data.images_count > 1")
		md-button.rp-imgur-album-button-before(ng-click="prev(album.data.images_count)", aria-label="prev")
			md-icon.rp-imgur-album-icon-before(md-svg-src="../../icons/ic_chevron_left_24px.svg")
		md-button.rp-imgur-album-button-next(ng-click="next(album.data.images_count)", aria-label="next")
			md-icon.rp-imgur-album-icon-next(md-svg-src="../../icons/ic_chevron_right_24px.svg")

.rp-imgur-details(layout-padding, ng-if="album.data.images_count > 1")
	p.rp-imgur-album-image-title {{imageTitle}}
	p.rp-imgur-album-image-description {{imageDescription}}
