md-dialog.rp-info-dialog
    md-dialog-content.rp-info-dialog-content
    .md.wiki
      .toc
        ul
          li.wiki_please__do
            a(href='#wiki_please__do') Please  do
          li.(class='wiki_please__don.27t')
            a(href='#wiki_please__don.27t') Please  don't
          li.toc_child
            ul
              li.wiki_in_regard_to_voting
                a(href='#wiki_in_regard_to_voting') In regard to voting
              li.wiki_in_regard_to_promoting_reddit_posts
                a(href='#wiki_in_regard_to_promoting_reddit_posts') In regard to promoting reddit posts
              li.wiki_in_regard_to_new_submissions
                a(href='#wiki_in_regard_to_new_submissions') In regard to new submissions
              li.wiki_in_regard_to_comments
                a(href='#wiki_in_regard_to_comments') In regard to comments
      p
        strong Reddiquette
        |  is an 
        strong informal
        |  expression of the values of many redditors, as written by redditors themselves. Please abide by it the best you can.
      p
        | The reddiquette is also available in the following languages:
        br
        | [
        a(href='http://www.reddit.com/wiki/reddiquette', rel='nofollow') en
        | ] [
        a(href='http://www.reddit.com/wiki/es/reddiquette', rel='nofollow') es
        | ] [
        a(href='http://www.reddit.com/wiki/de/reddiquette', rel='nofollow') de
        | ] [
        a(href='http://www.reddit.com/wiki/fr/reddiquette', rel='nofollow') fr
        | ] [
        a(href='http://www.reddit.com/wiki/ko/reddiquette', rel='nofollow') ko
        | ] [
        a(href='http://www.reddit.com/wiki/pt-br/reddiquette', rel='nofollow') pt-br
        | ] [
        a(href='http://www.reddit.com/wiki/sv/reddiquette', rel='nofollow') sv
        | ] [
        a(href='http://www.reddit.com/wiki/uk-ua/reddiquette', rel='nofollow') uk-ua
        | ] [
        a(href='http://www.reddit.com/wiki/nl/reddiquette', rel='nofollow') nl
        | ]
        br
        | The English version of the reddiquette is the canonical version at this time. Please use the English version when translating to other languages.
      h1#wiki_please__do Please  do
      ul
        li
          p
            strong Remember the human.
            |  When you communicate online, all you see is a computer screen. When talking to someone you might want to ask yourself "Would I say it to the person's face?" or "Would I get jumped if I said this to a buddy?"
        li
          p
            strong Adhere to the same standards of behavior online that you follow in real life.
        li
          p
            strong Read the rules of a community before making a submission.
            |  These are usually found in the sidebar.
        li
          p
            strong Read the reddiquette.
            |  Read it again every once in a while. Reddiquette is a living, breathing, working document which may change over time as the community faces new problems in its growth.
        li
          p
            strong Moderate based on quality, not opinion.
            |  Well written and interesting content can be worthwhile, even if you disagree with it.
        li
          p
            strong Use proper grammar and spelling.
            a(href='http://reddit.com/info/1mbhv/comments', rel='nofollow')  Intelligent discourse requires a standard system of communication.
            |  Be open for gentle corrections.
        li
          p
            strong Keep your submission titles factual and opinion free.
            |  If it is an outrageous topic, share your crazy outrage in the comment section.
        li
          p
            strong Look for the original source of content
            | , and submit that. Often, a blog will reference another blog, which references another, and so on with everyone displaying ads along the way. Dig through those references and submit a link to the creator, who actually deserves the traffic.
        li
          p
            strong Post to the most appropriate community possible.
            |  Also, consider cross posting if the contents fits more communities.
        li
          p
            strong Vote.
            |  If you think something contributes to conversation, upvote it. If you think it does not contribute to the subreddit it is posted in or is off-topic in a particular community, downvote it.
        li
          p
            strong Search for duplicates before posting.
            |  Redundancy posts add nothing new to previous conversations. That said, sometimes bad timing, a bad title, or just plain bad luck can cause an interesting story to fail to get noticed. Feel free to post something again if you feel that the earlier posting didn't get the attention it deserved and you think you can do better.
        li
          p
            strong Link to the direct version of a media file
            |  if the page it was found on isn't the creator's and doesn't add additional information or context.
        li
          p
            strong
              | Link to canonical and 
              a(href='http://www.w3.org/Provider/Style/URI.html', rel='nofollow') persistent URLs
              |  where possible,
            |  not temporary pages that might disappear. In particular, use the "permalink" for blog entries, not the blog's index page.
        li
          p
            strong
              | Consider posting constructive criticism / an explanation when you downvote something,
            |  and do so carefully and tactfully.
        li
          p
            strong
              a(href='http://www.reddit.com/r/spam', rel='nofollow')  Report
            |  any spam you find.
        li
          p
            strong
              | Browse the 
              a(href='http://www.reddit.com/new/', rel='nofollow')  new submissions page
              |  and vote on it.
            |  Regard it, perhaps, as a public service.
        li
          p
            strong Actually read an article before you vote on it
            |  (as opposed to just basing your vote on the title).
        li
          p
            strong Feel free to post links to your own content
            |  (within reason). But if that's all you ever post, or it always seems to get voted down, take a good hard look in the mirror — you just might be a spammer. A widely used rule of thumb is the 9:1 ratio, i.e. only 1 out of every 10 of your submissions should be your own content.
        li
          p
            strong Posts containing explicit material such as nudity, horrible injury etc,
            |  add 
            a(href='/wiki/help/faqs/nsfw', rel='nofollow') NSFW
            |  (Not Safe For Work) for nudity, and tag. However, if something IS safe for work, but has a risqué title, tag as SFW (Safe for Work). Additionally, use your best judgement when adding these tags, in order for everything to go swimmingly.
        li
          p
            strong State your reason for any editing of posts.
            |  Edited submissions are marked by an asterisk (*) at the end of the timestamp after three minutes. For example: a simple "Edit: spelling" will help explain. This avoids confusion when a post is edited after a conversation breaks off from it. If you have another thing to add to your original comment, say "Edit: And I also think..." or something along those lines.
        li
          p
            strong Use an "Innocent until proven guilty" mentality.
            |  Unless there is obvious proof that a submission is fake, or is whoring karma, please don't say it is. It ruins the experience for not only you, but the millions of people that browse reddit every day.
        li
          p
            strong Read over your submission for mistakes before submitting
            | , especially the title of the submission. Comments and the content of self posts can be edited after being submitted, however, the title of a post can't be. Make sure the facts you provide are accurate to avoid any confusion down the line.
      hr
      h1(id='wiki_please__don.27t') Please  don't
      ul
        li
          p
            strong Engage in illegal activity.
        li
          p
            strong Post someone's personal information,
            |  or post links to personal information. This includes links to public Facebook pages and screenshots of Facebook pages with the names still legible. We all get outraged by the ignorant things people say and do online, but witch hunts and vigilantism 
            a(href='http://www.reddit.com/r/reddit.com/comments/d7m1c/dear_internet_vigilantes_and_lynch_mobs/', rel='nofollow')  hurt innocent people too often
            | , and such posts or comments will be removed. Users posting personal info are subject to an immediate account deletion. If you see a user posting personal info, 
            a(href='http://www.reddit.com/message/compose?to=%23reddit.com&subject=posting%20of%20personal%20info', rel='nofollow')  please contact the admins.
            |  Additionally, on pages such as Facebook, where personal information is often displayed, please mask the personal information and personal photographs using a blur function, erase function, or simply block it out with color. When personal information is relevant to the post (i.e. comment wars) please use color blocking for the personal information to indicate whose comment is whose.
        li
          p
            strong Repost deleted/removed information.
            |  Remember that comment someone just deleted because it had personal information in it or was a picture of gore? Resist the urge to repost it. It doesn't matter what the content was. If it was deleted/removed, it should stay deleted/removed.
        li
          p
            strong Be (intentionally) rude at all.
            |  By choosing not to be rude, you increase the overall civility of the community and make it better for all of us.
        li
          p
            strong
              | Follow those who are 
              a(href='http://en.wiktionary.org/wiki/rabble', rel='nofollow')  rabble rousing
              |  against another redditor without first investigating both sides of the issue that's being presented.
            |  Those who are inciting this type of action often have malicious reasons behind their actions and are, more often than not, a troll. Remember, every time a redditor who's contributed large amounts of effort into assisting the growth of community as a whole is driven away, projects that would benefit the whole easily flounder.
        li
          p
            strong
              | Ask people to 
              a(href='http://en.wikipedia.org/wiki/Troll_%28Internet%29', rel='nofollow')  Troll
              |  others on reddit,
            |  in real life, or on other blogs/sites. We aren't your personal army.
        li
          p
            strong Conduct personal attacks on other commenters.
            |  Ad hominem and other distracting attacks do not add anything to the conversation.
        li
          p
            strong Start a flame war.
            |  Just report and "walk away". If you really feel you have to confront them, leave a polite message with a quote or link to the rules, and no more.
        li
          p
            strong Insult others.
            |  Insults do not contribute to a rational discussion. Constructive Criticism, however, is appropriate and encouraged.
        li
          p
            strong Troll.
            a(href='http://en.wikipedia.org/wiki/Troll_%28Internet%29', rel='nofollow')  Trolling
            |  does not contribute to the conversation.
        li
          p
            strong Take moderation positions in a community where your profession,
            |  employment, or biases could pose a direct conflict of interest to the neutral and user driven nature of reddit.
      h5#wiki_in_regard_to_voting In regard to voting
      ul
        li
          p
            strong Downvote an otherwise acceptable post because you don't personally like it.
            |  Think before you downvote and take a moment to ensure you're downvoting someone because they are not contributing to the community dialogue or discussion. If you simply take a moment to stop, think and examine your reasons for downvoting, rather than doing so out of an emotional reaction, you will ensure that your downvotes are given for good reasons.
        li
          p
            strong Mass downvote someone else's posts.
            |  If it really is the content you have a problem with (as opposed to the person), by all means vote it down when you come upon it. But don't go out of your way to seek out an enemy's posts.
        li
          p
            strong Moderate a story based on your opinion of its source.
            |  Quality of content is more important than who created it.
        li
          p
            strong Upvote or downvote based just on the person that posted it.
            |  Don't upvote or downvote comments and posts just because the poster's username is familiar to you. Make your vote based on the content.
        li
          p
            strong Report posts just because you do not like them.
            |  You should only be using the report button if the post breaks the subreddit rules.
      h5#wiki_in_regard_to_promoting_reddit_posts In regard to promoting reddit posts
      ul
        li
          p
            strong Hint at asking for votes.
            |  ("Show me some love!", "Is this front page worthy?", "Vote This Up to Spread the Word!", "If this makes the front page, I'll adopt this stray cat and name it reddit", "If this reaches 500 points, I'll get a tattoo of the Reddit alien!", "Upvote if you do this!", "Why isn't this getting more attention?", etc.)
        li
          p
            strong Conduct polls using the title of your submission and/or votes.
            |  These methods are not reliable because of 
            a(href='http://www.reddit.com/r/WTF/comments/eaqnf/pardon_me_but_5000_downvotes_wtf_is_worldnews_for/c16omup?context=3', rel='nofollow')  vote fuzzing
            |  and are in that regard just asking for upvotes.
        li
          p
            strong
              | Send out IMs, tweets, or any other message asking people to vote for your submission
            |  — or comply when other people ask you. This will result in a ban from the admins. Your submission should get points for being good, not because the submitter is part of a voting clique.
        li
          p
            strong Ask for upvotes in exchange for gifts or prizes.
            |  "Upvote me to the top and I'll give away ..."
        li
          p
            strong Create mass downvote or upvote campaigns.
            |  This includes attacking a user's profile history when they say something bad and participating in karma party threads.
      h5#wiki_in_regard_to_new_submissions In regard to new submissions
      ul
        li
          p
            strong Use the word "BREAKING" or other time sensitive words in your submissions.
            |  By the time your post reaches the front page, it probably won't be 'breaking' anymore.
        li
          p
            strong Post hoaxes.
            |  If snopes.com has already declared something false, you probably shouldn't be submitting it to reddit.
        li
          p
            strong Flood reddit with a lot of stories in a short span of time.
            |  By doing this you flood the new queue. Be warned, your future submissions may be automatically blocked by the spam filter. Shadow banning (you can see your posts and votes, but no one else can) can, and will, take place in more severe cases.
        li
          p
            strong Write titles in ALL CAPS.
        li
          p
            strong Editorialize or sensationalize your submission title.
        li
          p
            strong
              a(href='http://www.urbandictionary.com/define.php?term=linkjack', rel='nofollow')  Linkjack
              |  stories:
            |  linking to stories via blog posts that add nothing extra.
        li
          p
            strong Use link shorteners to post your content.
            |  There are few reasons to hide what you're linking to, and most of them are sneaky (if you are, use the "preview" feature that those services offer).
      h5#wiki_in_regard_to_comments In regard to comments
      ul
        li
          p
            strong Make comments that lack content.
            |  Phrases such as "this", "lol", and "I came here to say this" are not witty, original, or funny, and do not add anything to the discussion.
        li
          p
            strong Announce your vote
            a(href='http://www.reddit.com/r/pics/comments/hppgf/this_is_the_start_of_a_beautiful_friendship_reddit/c1xbyx6', rel='nofollow') (with rare exceptions).
            |  "Upvote" and "Downvote" aren't terribly interesting comments and only increase the noise to signal ratio.
        li
          p
            strong
              | Complain about other users reposting/rehosting stories, images, videos, or any other content.
            |  Users should give credit where credit should be given, but if someone fails to do so, and is not causing harm, please either don't point it out, or point it out politely and leave it at that. They are only earning karma, which has little to no use at all.
        li
          p
            strong Complain about the votes you do or do not receive,
            |  especially by making a submission voicing your complaint. You may have just gotten unlucky. Try submitting later or seek out other communities to submit to. Millions of people use reddit; every story and comment gets at least a few up/downvotes. Some up/downvotes are by reddit to fuzz the votes 
            a(href='http://www.reddit.com/r/WTF/comments/eaqnf/pardon_me_but_5000_downvotes_wtf_is_worldnews_for/c16omup?context=3', rel='nofollow')  in order to confuse spammers and cheaters
            | . This also includes messaging moderators or admins complaining about the votes you did or did not receive, except when you suspect you've been targeted by vote cheating by being massively up/downvoted.
        li
          p
            strong
              | Complain about reposts. Just because you have seen it before doesn't mean everyone has.
            |  Votes indicate the popularity of a post, so just vote. Keep in mind that linking to previous posts is not automatically a complaint; it is information.
        li
          p
            strong Complain about cross posts.
            |  Just because you saw it in one place, doesn't mean everyone has seen it. Just vote and move on.
