.rp-link-ad-switch(ng-switch="::post.isAd")
	rp-chitika-ad(ng-switch-when="true")
	
	md-card.rp-post(ng-switch-when="false", id="{{::post.data.name}}")
		.rp-link-comment-header(ng-if="isComment", layout-padding, layout="row")
			.rp-post-header-content(flex)
				//- a.rp-post-header-title(ng-href="/r/{{post.data.subreddit}}/comments/{{post.data.link_id | rp_name_to_id36}}") {{post.data.link_title}}
				a.rp-post-header-title(ng-href="/r/{{post.data.subreddit}}/comments/{{post.data.link_id | rp_name_to_id36}}", target="_blank") {{::post.data.link_title | rp_clean_title}}
				.rp-post-header-details(flex)
					a.rp-post-header-author(href="/u/{{post.data.link_author}}") {{post.data.link_author}}
					|  路 &nbsp
					a.rp-post-header-subreddit-link(href="/r/{{post.data.subreddit}}") r/{{post.data.subreddit}}
					|  路 &nbsp
					span(am-time-ago="::post.data.created_utc")
			rp-overflow-menu
			

			//- md-divider

		.rp-post-header(layout-padding, layout="row", layout-align="start start", ng-if="!isComment")
			//- rp-score.rp-post-header-score(score="post.data.score", reddit-id="::post.data.name", likes="post.data.likes")

			.rp-post-header-content(flex)
				a.rp-post-header-title(ng-href="{{::post.data.url | rp_hijack_reddit_link}}", target="_blank") {{::post.data.title | rp_clean_title}}
				.rp-post-header-details
					span
						a.rp-post-header-author(href="/u/{{::post.data.author}}") {{::post.data.author}}
						| &nbsp路&nbsp
						span(am-time-ago="::post.data.created_utc")
						span(ng-if="showSub")
							| &nbsp路&nbsp
							a.rp-post-header-subreddit-link(ng-if="showSub", href="/r/{{::post.data.subreddit}}") r/{{::post.data.subreddit}}
						//- md-icon.rp-link-overflow-icon(md-svg-icon="ic_more_vert_black_24px")
						

			rp-gilded(parent-ctrl="thisCtrl", author="::post.data.author", gilded="::post.data.gilded")
			
			.rp-stickied(ng-if="::post.data.stickied")
				md-icon(md-svg-icon="ic_pin_24px")
					md-tooltip(hide, show-gt-sm) stickied post
					
			rp-overflow-menu

		.rp-link-comment(ng-if="isComment", compile="post.data.body_html | rp_unescape_html | rp_load_comment_media")

		.rp-link-link(ng-if="!isComment")
			.rp-post-media(ng-if="::!post.data.is_self")
				rp-media(url="::post.data.url", post="post")

			.rp-post-selftext(ng-if="::post.data.selftext_html", layout-padding, ng-bind-html="post.data.selftext_html  | limitTo: 500 | rp_unescape_html | rp_open_in_tab")

		.rp-post-actions(layout-padding, layout="row")
			rp-score.rp-post-header-score(flex, score="post.data.score", reddit-id="::post.data.name", likes="post.data.likes")
			rp-article-button.rp-post-action(flex, parent-ctrl="thisController", post="post", is-comment="isComment")
			//- rp-article-context-button.rp-post-action(flex,parent-ctrl="thisController", post="post", is-comment="isComment", ng-if="isComment")

		rp-delete-form(reddit-id="post.data.name", parent-ctrl="thisController", is-comment="isComment", ng-if="thisController.isDeleting")
		//- rp-reply-form(reddit-id="post.data.name", parent-ctrl="thisController", post="post", ng-if="!postComment")

		md-divider(ng-if="postComment")

		.rp-post-comment(layout-padding, ng-if="postComment")
			p {{postComment.data.body}}
