//- Adsense
//- adsense(ad-client="ca-pub-2409109107298024", ad-slot="4365773598", inline-style="display:inline-block")

//- Revenue Hits
//- script(src='//clksite.com/adServe/banners?tid=124310_211333_0')

//- Chitika Ad
//- p placement_id: {{placement_id}}
div.rp-chitika-ad(ng-attr-id="{{ 'chitikaAdBlock-' + placement_id}}")
//- #chitikaAdBlock-0
