//- Adsense
//- adsense(ad-client="ca-pub-2409109107298024", ad-slot="4365773598", inline-style="display:inline-block")

//- Revenue Hits
//- script(src='//clksite.com/adServe/banners?tid=124310_211333_0')

//- Kajamba
//- p ad
.rp-kajamba-post
    script.
        _kj.tag("yp7wtn", {"size":"300x250"});
