p advertisement
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
// rpLink Responsive Ad
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2409109107298024', data-ad-slot='4365773598', data-ad-format='auto')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});
