.rp-media-imgur(ng-switch="imgurType", rp-simple-suspendable)
	.rp-media-imgur-image-switch(ng-switch-when="image", rp-simple-suspendable)
		//- a(href="{{imageUrl}}", target="_blank")
		img.rp-media-image.rp-media-imgur-image.rp-resize-drag(ng-src="{{imageUrl | rp_https}}", rp-simple-suspendable)

	.rp-media-imgur-video-switch(ng-switch-when="video", rp-simple-suspendable)

		.rp-media-imgur-video-thumbnail-wrapper(ng-if="!showGif", rp-simple-suspendable)
			img.rp-media-thumbnail.rp-media-imgur-gif-thumbnail(ng-src="{{thumbnailUrl | rp_https}}", rp-simple-suspendable)
				
			md-icon.rp-media-imgur-play-icon(md-svg-icon="ic_play_circle_outline_48px", ng-click="show()", aria-label="play", rp-simple-suspendable)

		.rp-media-imgur-video-wrapper(ng-if="showGif", rp-simple-suspendable)

			video.rp-media-image.rp-media-imgur-video(autoplay, loop, muted, preload, rp-simple-suspendable)
				source(ng-src="{{webmUrl | rp_https | rp_trusted}}", type="video/webm", rp-simple-suspendable)
				source(ng-src="{{mp4Url | rp_https | rp_trusted}}", type="video/mp4", rp-simple-suspendable)
			md-icon.rp-media-imgur-pause-icon(md-svg-icon="ic_pause_circle_outline_48px", aria-label="pause", ng-click="hide()", rp-simple-suspendable)
