.rp-media-warning-switch(ng-switch="showWarning", rp-simple-suspendable)

	.rp-media-warning-wrapper(ng-switch-when="true", aria-label="show media", layout-padding, layout="column", rp-simple-suspendable)

		.rp-media-warning(layout-padding, layout="column", rp-simple-suspendable)
			.rp-media-warning-header(layout="row", layout-align="start end", layout-padding, rp-simple-suspendable)
				md-icon.rp-media-warning-icon(md-svg-src="../../icons/ic_warning_black_48px.svg", rp-simple-suspendable)
				//- span Warning 
			p.rp-media-warning-body(layout-padding, rp-simple-suspendable) This post has been tagged as {{warningText}}
			.rp-media-warning-button-area(layout="row", layout-align="end", layout-padding, rp-simple-suspendable)
				md-button.md-accent(ng-click="showMedia()", rp-simple-suspendable) SHOW ANYWAY


	.rp-media-wrapper(ng-switch-default, rp-simple-suspendable)
		.rp-media(ng-switch="url | rp_media_type")
			.rp-media-inner(ng-switch-when="imgur")
				rp-media-imgur(rp-simple-suspendable)

			.rp-media-inner(ng-switch-when="imgurAlbum")
				rp-media-imgur-album(rp-simple-suspendable)

			.rp-media-inner(ng-switch-when="youtube")
				rp-media-youtube(rp-simple-suspendable

			.rp-media-inner(ng-switch-when="twitter")
				rp-media-twitter(rp-simple-suspendable)

			.rp-media-inner(ng-switch-when="gfycat")
				rp-media-gfycat(rp-simple-suspendable)

			.rp-media-inner(ng-switch-when="giphy")
				rp-media-giphy(rp-simple-suspendable)

			.rp-media-inner(ng-switch-default)
				rp-media-default(rp-simple-suspendable)
