.rp-media-image-panel-wrapper
	//- md-button(ng-click="close()") close
	.rp-close-wrapper(ng-click="close($event)")
	img(ng-src="{{imageUrl | rp_https}}")
	md-button.md-fab.rp-media-image-panel-close-button(aria-label="clsoe", ng-click="close($event)")
		md-icon(md-svg-icon="ic_close_black_48px")
			md-tooltip(hide, show-gt-sm) close
