.rp-media(ng-switch="url | rp_media_type")
	
	.rp-media-inner(ng-switch-when="imgur")
		rp-media-imgur

	.rp-media-inner(ng-switch-when="imgurAlbum")
		rp-media-imgur-album

	.rp-media-inner(ng-switch-when="youtube")
		rp-media-youtube

	.rp-media-inner(ng-switch-when="twitter")
		rp-media-twitter

	.rp-media-inner(ng-switch-when="gfycat")
		rp-media-gfycat

	.rp-media-inner(ng-switch-when="giphy")
		rp-media-giphy

	.rp-media-inner(ng-switch-default)
		rp-media-default