.rp-media-imgur(ng-switch="imgurType")
	.rp-media-imgur-image-switch(ng-switch-when="image")
		//- img.rp-media-image.rp-media-imgur-image.rp-resize-drag(ng-src="{{imageUrl | rp_https}}")
		img.rp-media-image.rp-media-imgur-image(ng-src="{{imageUrl | rp_https}}", ng-click="openImagePanel()")

	.rp-media-imgur-video-switch(ng-switch-when="video")
		.rp-media-imgur-video-thumbnail-wrapper(ng-if="!showGif && !autoplay")
			img.rp-media-thumbnail.rp-media-imgur-gif-thumbnail(ng-src="{{thumbnailUrl | rp_https}}")
			md-icon.rp-media-imgur-play-icon(md-svg-icon="ic_play_circle_outline_48px", ng-click="show()", aria-label="play")

		.rp-media-imgur-video-wrapper(ng-if="showGif || !!autoplay")
			video.rp-media-image.rp-media-imgur-video(autoplay, loop, muted, preload)
				source(ng-src="{{webmUrl | rp_https | rp_trusted}}", type="video/webm")
				source(ng-src="{{mp4Url | rp_https | rp_trusted}}", type="video/mp4")
			md-icon.rp-media-imgur-pause-icon(ng-if="!autoplay", md-svg-icon="ic_pause_circle_outline_48px", aria-label="pause", ng-click="hide()")
