md-card.rp-message-comment-wrapper(id="message.data.name")

	.rp-message-comment(layout-padding, layout="row", ng-if="message.kind === 't1'")
		
		rp-score.rp-comment-score(score="message.data.score", reddit-id="message.data.name", likes="message.data.likes")

		.rp-message-comment-body(flex)
			.rp-message-comment-title(layout="row")
				span
					span.rp-message-comment-tag comment reply 
					a.rp-message-comment-link-title(href="/r/{{message.data.subreddit}}/comments/{{message.data.context | rp_link_id}}", target="_blank") {{message.data.link_title}}
				span(flex)
				rp-gilded(parent-ctrl="thisCtrl", author="message.data.author", gilded="message.data.gilded")
			.rp-message-comment-details
				| from 
				a.rp-message-comment-author(href="/u/{{message.data.author}}", target="_blank") {{message.data.author}} 
				| via 
				a.rp-message-comment-subreddit(href="/r/{{message.data.subreddit}}", target="_blank") {{message.data.subreddit}} 
				| sent 
				span.rp-message-comment-sent(am-time-ago="message.data.created_utc")

			.rp-message-comment-body-html(compile="message.data.body_html | rp_unescape_html | rp_load_comment_media")

			.rp-comment-actions(layout="row", layout-align="start center")
				rp-article-context-button(parent-ctrl="thisController", message="message")
				rp-article-button(parent-ctrl="thisController", message="message")
				rp-reply-button(parent-ctrl="thisController")
						
			rp-reply-form(reddit-id="message.data.name", parent-ctrl="thisController", ng-if="thisController.isReplying")
			rp-comment(ng-repeat="comment in comments", comment="comment", depth="1", ng-if="comments", identity="::identity")

	.rp-direct-message(layout-padding, layout-margin, ng-if="message.kind === 't4'")
		.rp-direct-message-header(ng-if="depth == 0")
			a.rp-direct-message-author(href="/u/{{message.data.author}}", target="_blank") {{message.data.author}} 
			span.rp-direct-message-subject {{message.data.subject}}
		
		.rp-direct-message-details(ng-if="$parent.$parent.identity.name !== message.data.author")
			span from 
			a.rp-direct-message-author(href="/u/{{message.data.author}}", target="_blank") {{message.data.author}} 
			span sent 
			span(am-time-ago="message.data.created_utc")
		
		.rp-direct-message-inner(class="rp-direct-message-inner-depth{{depth}}")


			.rp-direct-message-details(ng-if="$parent.$parent.identity.name === message.data.author")
				span to 
				a.rp-direct-message-author(href="/u/{{message.data.dest}}", target="_blank") {{message.data.dest}} 
				span sent 
				span(am-time-ago="message.data.created_utc")

			.rp-direct-message-body(compile="message.data.body_html | rp_unescape_html | rp_load_comment_media")

			.rp-comment-actions(layout="row", layout-align="start center")
				rp-reply-button(parent-ctrl="thisController")
				rp-delete-button(parent-ctrl="thisController")
				
			rp-reply-form(reddit-id="message.data.name", parent-ctrl="thisController", ng-if="thisController.isReplying")
			rp-delete-form(reddit-id="message.data.name", parent-ctrl="thisController", ng-if="thisController.isDeleting", type="'message'")
			rp-message-comment(ng-repeat="message in message.data.replies.data.children", message="message", depth="childDepth", comments-dialog="commentsDialog")

	md-divider(ng-if="depth === 0")
