.rp-media-gfycat
	p rp-media-gfycat
	p {{url}}
	.rp-media-gfycat-thumbnail-wrapper(ng-if="!showGif")
		img.rp-media-gfycat-thumbnail(src="{{url | rp_media_gfycat_thumbnail_url}}")
		md-icon.rp-media-gfycat-play-icon(md-svg-src="../../icons/ic_play_circle_outline_48px.svg", ng-click="show()", aria-label="play")

	.rp-media-gfycat-video-wrapper(ng-if="showGif")
		video.rp-media-gfycat-video(autoplay, loop, muted, preload)
			source(ng-src="{{url | rp_media_gfycat_webm_url | trusted}}", type="video/webm")
			source(ng-src="{{url | rp_media_gfycat_mp4_url | trusted}}", type="video/mp4")
		md-icon.rp-media-gfycat-pause-icon(md-svg-src="../../icons/ic_pause_circle_outline_48px.svg", aria-label="pause", ng-click="hide()")