.rp-media-gfycat
	.rp-media-gfycat-thumbnail-wrapper(ng-if="!showGif")
		img.rp-media-thumbnail.rp-media-gfycat-thumbnail(ng-src="{{thumbnailUrl}}")
		md-icon.rp-media-gfycat-play-icon(md-svg-src="../../icons/ic_play_circle_outline_48px.svg", ng-click="show()", aria-label="play")

	.rp-media-gfycat-video-wrapper(ng-if="showGif", ng-switch="gfycatType")
		img.rp-media-image.rp-media-gfycat-image(ng-switch-when="image", ng-src="{{imageUrl}}")
		
		video.rp-media-gfycat-video(autoplay, loop, muted, preload, ng-switch-when="video")
			source(ng-src="{{zippyVideoUrl | rp_trusted}}", type="video/webm")
			source(ng-src="{{fatVideoUrl | rp_trusted}}", type="video/webm")
			source(ng-src="{{giantVideoUrl | rp_trusted}}", type="video/webm")

		md-icon.rp-media-gfycat-pause-icon(md-svg-src="../../icons/ic_pause_circle_outline_48px.svg", aria-label="pause", ng-click="hide()")