.rp-media-imgur-album(rp-simple-suspendable)
	.rp-media-imgur-album-info(rp-simple-suspendable)
		p.rp-media-imgur-album-info-count(ng-if="album.data.images_count > 1", rp-simple-suspendable) Image {{currentImage}} of {{album.data.images_count}}

	.rp-media-imgur-album-wrapper(rp-simple-suspendable)
		//- a(href="{{currentImageUrl}}", target="_blank")
		img.rp-media-image.rp-media-imgur-album-image.rp-resize-drag#rp-media-imgur-album-image(ng-src="{{currentImageUrl | rp_https}}", rp-simple-suspendable)
		md-progress-circular.md-accent.rp-media-imgur-album-progress(md-mode="indeterminate", rp-simple-suspendable)
		
		.rp-media-imgur-album-controls(ng-if="album.data.images_count > 1", rp-simple-suspendable)
			md-button.rp-media-imgur-album-button.rp-media-imgur-album-button-before(ng-click="prev(album.data.images_count)", aria-label="prev", rp-simple-suspendable)
				md-icon.rp-media-imgur-album-icon-before(md-svg-icon="ic_chevron_left_24px", rp-simple-suspendable)
			md-button.rp-media-imgur-album-button.rp-media-imgur-album-button-next(ng-click="next(album.data.images_count)", aria-label="next", rp-simple-suspendable)
				md-icon.rp-media-imgur-album-icon-next(md-svg-icon="ic_chevron_right_24px", rp-simple-suspendable)
	
	.rp-media-imgur-album-details(layout-padding, ng-if="album.data.images_count > 1", rp-simple-suspendable)
		p.rp-media-imgur-album-image-title(rp-simple-suspendable) {{imageTitle}}
		p.rp-media-imgur-album-image-description(ng-if="imageDescriptionLinky !== null", ng-bind-html="imageDescriptionLinky | rp_trusted", rp-simple-suspendable)
			
