rp-tabs(parent-ctrl="thisController", tabs="tabs", selected-index="selectedTab")

md-content.rp-message-content#rp-content(flex, rp-infinite-scroll, rp-infinite-scroll-div="#rp-subreddit-posts", rp-infinite-scroll-distance="3")
	.rp-messages#rp-subreddit-posts(ng-if="havePosts")
		rp-message-comment(ng-repeat="message in messages", message="message", depth="0", identity="::identity")
	p.rp-content-eol(ng-if="noMorePosts") No more messages.
