md-content.rp-message-compose-content
	.rp-message-compose-inner
		.rp-message-compose-title {{title}}
		form.rp-message-compose-form(name="rpMessageComposeForm", ng-submit="sendMessage()", layout="column", ng-controller="rpMessageComposeFormCtrl", layout-padding)
			md-input-container.md-accent(flex)
				label To
				input(required, ng-model="to")
			md-input-container.md-accent(flex)
				label Subject
				input(required, ng-model="subject")
			md-input-container.md-accent(flex)
				label Message
				textarea(required, ng-model="text")

			rp-captcha

			p.rp-submit-feedback(layout-margin, ng-if="showFeedback")
				i.mdi.mdi-alert.rp-feedback-alerticon(ng-if="showFeedbackAlert") &nbsp
				span.rp-feedback-message {{feedbackMessage}}

			.rp-message-compose-button-area(layout="row", ng-if="!messageSending")
				md-button.md-accent.md-raised.rp-message-compose-button.rp-message-compose-send-button.rp-raised-accent(aria-label="send message", ng-if="showSend", type="submit") SEND
				md-button.md-accent.md-raised.rp-message-compose-button.rp-message-compose-send-button.rp-raised-accent(aria-label="send another", ng-click="sendAnother()", ng-if="showSendAnother", type="button") SEND ANOTHER
				md-button.md-raised.rp-message-compose-button.rp-message-compose-cancel-button(ng-click="closeDialog($event)", type="button") CANCEL
			
			md-progress-circular.md-accent.rp-message-compose-progress(md-mode="indeterminate", ng-if="messageSending", md-diameter="32")