.rp-media-imgur(ng-switch="imgurType")

	.rp-media-imgur-image-switch(ng-switch-when="image")
		img.rp-media-imgur-image(ng-src="{{url | rp_media_imgur_url}}")
	
	.rp-media-imgur-video-switch(ng-switch-when="video")
		.rp-media-imgur-video-thumbnail-wrapper(ng-if="!showGif")
			img.rp-media-imgur-gif-thumbnail(src="{{url | rp_media_imgur_thumbnail_url}}")
			md-icon.rp-media-imgur-play-icon(md-svg-src="../../icons/ic_play_circle_outline_48px.svg", ng-click="show()", aria-label="play")

		.rp-media-imgur-video-wrapper(ng-if="showGif")
			video.rp-media-imgur-video(autoplay, loop, muted, preload)
				source(ng-src="{{url | rp_media_imgur_webm_url | trusted}}", type="video/webm")
				source(ng-src="{{url | rp_media_imgur_mp4_url | trusted}}", type="video/mp4")
			md-icon.rp-media-imgur-pause-icon(md-svg-src="../../icons/ic_pause_circle_outline_48px.svg", aria-label="pause", ng-click="hide()")