.rp-media(ng-switch="post.data | media_type")

	.rp-media-inner(ng-switch-when="album")
		//- p album
		rp-imgur-album

	.rp-media-inner(ng-switch-when="embed", ng-controller="embedCtrl")
		//- p embed
		.rp-media-embed(ng-if="post.showEmbed")
			div.responsive-object(ng-bind-html="post.data.media.oembed.html | unescape_html | unsafe")
		.rp-media-embed(ng-if="!post.showEmbed")
			.rp-media-embed-thumbnail-wrapper()
				img.rp-media-embed-thumbnail(ng-src="{{post.data.thumbnail}}")
				//- md-button.rp-media-embed-play-button(ng-click="showEmbed", aria-label="play")
				//- core-icon.rp-media-embed-play-icon(icon="av:play-circle-outline")
				paper-icon-button.rp-media-embed-play-paper-icon-button.huge(icon="av:play-arrow", ng-click="show()")
				
	.rp-media-inner(ng-switch-when="video")
		//- p video
		//- remvoed autoplay.
		video.rp-media-video(loop, muted, preload)
			source(ng-src="{{post.data | video_url: '.webm' | trusted}}", type="video/webm")
			source(ng-src="{{post.data | video_url: '.mp4' | trusted}}", type="video/mp4")

	.rp-imgur-media-inner(ng-switch-when="image")
		//- p image
		img.rp-card-image(ng-src="{{post.data | image_url}}")

	.rp-imgur-media-inner(ng-switch-default)
		//- p default
		img.rp-card-image(ng-src="{{post.data | image_url}}")