.rp-media-warning-switch(ng-switch="showWarning")

	.rp-media-warning-wrapper(ng-switch-when="true", aria-label="show media")
		span.rp-media-warning 
			span.rp-media-warning-asdf
				md-icon.rp-media-warning-icon(md-svg-icon="ic_warning_black_18px")
				span.rp-media-warning-text &nbsp{{warningText}}
			| &nbsp&nbsp
			span.rp-media-warning-show(ng-click="showMedia()") show post
			
			
			//- span
				| &nbsppost tagged as {{warningText}}&nbsp
			//- md-button.md-accent(ng-click="showMedia()")
				md-icon.rp-media-warning-icon(md-svg-icon="ic_warning_black_24px")
				span {{warningText}}
				


	.rp-media-wrapper(ng-switch-default)
		.rp-media(ng-switch="url | rp_media_type")
			.rp-media-inner(ng-switch-when="imgur")
				rp-media-imgur

			.rp-media-inner(ng-switch-when="imgurAlbum")
				rp-media-imgur-album

			.rp-media-inner(ng-switch-when="youtube")
				rp-media-youtube

			.rp-media-inner(ng-switch-when="twitter")
				rp-media-twitter

			.rp-media-inner(ng-switch-when="gfycat")
				rp-media-gfycat

			.rp-media-inner(ng-switch-when="giphy")
				rp-media-giphy

			.rp-media-inner(ng-switch-when="redditUpload")
				rp-media-reddit-upload

			.rp-media-inner(ng-switch-when="streamable")
				rp-media-streamable

			.rp-media-inner(ng-switch-default)
				rp-media-default
