.rp-message-comment(layout-padding, layout="row")
	
	.rp-comment-score(layout="column", layout-align="start center")
		md-button.md-fab.rp-post-fab#upvote(aria-label="upvote", ng-click="upvotePost(message)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_upvote_24px.svg", ng-class="{'upvoted': message.data.likes}")
		md-button.md-fab.rp-post-fab#downvote(aria-label="downvote", ng-click="downvotePost(message)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_downvote_24px.svg", ng-class="{'downvoted': message.data.likes === false}")

	.rp-message-comment-body(flex)
		.rp-message-comment-title
			span.rp-message-comment-tag comment reply 
			a.rp-message-comment-link-title(href="/r/{{message.data.subreddit}}/comments/{{message.data.context | rp_link_id}}", target="_blank") {{message.data.link_title}}
		.rp-message-comment-details
			| from 
			span.rp-message-comment-author {{message.data.author}} 
			| via 
			span.rp-message-comment-subreddit {{message.data.subreddit}} 
			| sent 
			span.rp-message-comment-sent(am-time-ago="message.data.created_utc")

		.rp-message-comment-body-html(compile="message.data.body_html | rp_unescape_html | rp_load_comment_media")


		.rp-comment-actions(layout-padding, layout="row", layout-align="start center")
			
			md-button.md-fab.rp-post-fab#context(aria-label="context", href="/r/{{message.data.subreddit}}/comments/{{message.data.context | rp_link_id}}/{{message.data.id}}/?context=8", target="_blank")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_receipt_24px.svg")
			
			md-button.md-fab.rp-post-fab#comments(aria-label="comments", ng-click="showComments($event, message)")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_forum_24px.svg")						

			md-button.md-fab.rp-post-fab#reply(aria-label="reply", ng-click="toggleReply()")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_reply_24px.svg", ng-class="{'replying': showReply}")

		.rp-comment-reply(layout-padding, ng-if="showReply")
			form.rp-post-reply-form(name="rpPostReplyForm", ng-submit="postCommentReply(message.data.name, reply, $index)", layout="row", ng-controller="rpMessageCommentReplyCtrl")
				md-input-container.md-accent(flex)
					input(placeholder="Reply to this comment", ng-model="reply")
				md-button.md-fab.rp-post-fab#send(aria-label="post reply", ng-if="reply")
					md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_send_24px.svg")

		rp-comment(ng-repeat="comment in comments", comment="comment", depth="1", post="", sort="", ng-if="comments")