.rp-media-default(rp-simple-suspendable)
	img.rp-media-image.rp-media-deafult-image(ng-if="!playable && imageUrl !== 'default'", ng-src="{{imageUrl}}", rp-simple-suspendable)

	.rp-media-default-playable(ng-if="playable", rp-simple-suspendable)

		.rp-media-default-playable-thumbnail-wrapper(ng-if="!showPlayable", rp-simple-suspendable)
			img.rp-media-thumbnail.rp-media-default-thumbnail(ng-src="{{thumbnailUrl}}", rp-simple-suspendable)
			md-icon.rp-media-default-play-icon(md-svg-src="../../icons/ic_play_circle_outline_48px.svg", aria-label="play", ng-click="show()", rp-simple-suspendable)

		.rp-media-default-playable-wrapper(ng-if="showPlayable", ng-switch="defaultType", rp-simple-suspendable)

			img.rp-media-image.rp-media-default-gif(ng-switch-when="gif", ng-src="{{gifUrl}}", rp-simple-suspendable)

			video.rp-media-default-video(ng-switch-when="video", autoplay, loop, muted, preload, rp-simple-suspendable)
				source(ng-if="webmUrl", ng-src="{{webmUrl | rp_trusted}}", type="video/webm", rp-simple-suspendable)
				source(ng-if="mp4Url", ng-src="{{mp4Url | rp_trusted}}", type="video/mp4", rp-simple-suspendable)

			.rp-media-default-embed(ng-switch-when="embed", ng-bind-html="post.data.media.oembed.html | rp_unescape_embed", rp-simple-suspendable)

			md-icon.rp-media-default-pause-icon(ng-if="defaultType != 'embed'", md-svg-src="../../icons/ic_pause_circle_outline_48px.svg", aria-label="pause", ng-click="hide()", rp-simple-suspendable)
