.rp-plus-sidenav-ad(ng-if="!isSubscribed")
	//- p Support reddup's development and get bonus features for $1
	//- img(src="/images/dark-theme.svg")
	//- object.ad(data="/images/dark-theme.svg")
	.rp-plus-logo-wrapper
		md-icon.rp-plus-logo(md-svg-src="/images/reddup-plus.svg")
	img(src="/images/reddup-plus.gif")
	md-button.md-accent.md-raised(ng-click="showPlus($event)") UPGRADE
