span(ng-if="post.data.thumbnail != 'self'")
div(class="rp-colorbar-{{post.data | media_type}}")

.rp-card-header(layout-padding)
	a.rp-card-title(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank") {{post.data.title | clean}}
	p 
		span.rp-card-score {{post.data.score}}
		|  points 
		span(title="{{ post.data.created_utc*1000 | date: 'medium' }}", am-time-ago="post.data.created_utc")
		|  by 
		span.rp-card-author {{post.data.author}}

.rp-card-image(ng-hide="post.data.is_self")
	rp-media.rp-media

.rp-card-selftext(ng-if="post.data.selftext", layout-padding)
	p(ng-bind-html="post.data.selftext | limitTo: 250 | clean | linkify | unsafe")
		span(ng-if="post.data.selftext.length > 250")
			|... 
			a.rp-readmore(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank") Read more
.rp-card-actions(layout-padding, layout="row", layout-align="space-around center")
	paper-icon-button.rp-card-paper-icon#upvote(icon="reddit:upvote", class="rp-card-upvote-{{post.data.likes}}")
	paper-icon-button.rp-card-paper-icon#downvote(icon="reddit:downvote", class="rp-card-downvote-{{post.data.likes}}")
	paper-icon-button.rp-card-paper-icon#favorite(icon="favorite", class="rp-card-favorite-{{post.data.saved}}")
	paper-icon-button.rp-card-paper-icon#share(icon="social:share")
	paper-icon-button.rp-card-paper-icon#forum(icon="communication:forum")
		//- span.rp-card-numcomments {{post.data.num_comments}} 
			
md-divider
.rp-card-comment(layout-padding)
	md-input-container
		label.rp-card-comment-label Add a comment
		input