//- rp-infinite-scroll
md-content.rp-content.rp-content-scroll(
    flex
    rp-column-resize
    rp-card-infinite-scroll
)
    rp-card-container(posts="posts", layout="row", identity="identity", show-sub="showSub")
        .rp-card-wrapper

rp-speed-dial
