md-toolbar.rp-tab-toolbar(ng-controller="rpPostsTabsCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
	md-tabs.rp-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
		md-tab.rp-tab(aria-controls="hot", label="Hot", md-on-select="tabClick('hot')")
		md-tab.rp-tab(aria-controls="new", label="New", md-on-select="tabClick('new')")
		md-tab.rp-tab(aria-controls="rising", label="Rising", md-on-select="tabClick('rising')")
		md-tab.rp-tab(aria-controls="controversial", label="Controversial", md-on-select="tabClick('controversial')")
		md-tab.rp-tab(aria-controls="top", label="Top", md-on-select="tabClick('top')")

md-content.rp-content#rp-content(flex)
	div(infinite-scroll="morePosts()", infinite-scroll-container="'#rp-content'", infinite-scroll-distance="2")
		.rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
			.rp-posts-wrapper(layout="row")
				.rp-posts-col(layout="column", ng-repeat="column in columns")
					rp-post(ng-repeat="post in posts", ng-if="columns.length == 1 || $index % columns.length == $parent.$index")
