md-card.rp-post
	.rp-post-header(layout-padding, class="{{::post.data.rp_type}}", layout="row")
		.rp-post-header-score
			md-button.md-fab.rp-post-fab#upvote(aria-label="upvote", ng-click="upvotePost(post)")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_upvote_24px.svg", ng-class="{'upvoted': post.data.likes}")
			span.rp-post-score {{::post.data.score}}
			md-button.md-fab.rp-post-fab#downvote(aria-label="downvote", ng-click="downvotePost(post)")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_downvote_24px.svg", ng-class="{'downvoted': post.data.likes === false}")

		.rp-card-header-content(flex)
			a.rp-post-header-title(ng-href="http://www.reddit.com{{::post.data.permalink}}", target="_blank") {{::post.data.title | clean}}
			.rp-post-header-details 
				//- span(title="{{ ::post.data.created_utc*1000 | date: 'medium' }}", am-time-ago="::post.data.created_utc")
				span(am-time-ago="::post.data.created_utc")
				|  by 
				span.rp-post-header-author {{::post.data.author}}
				span.rp-post-header-subreddit(ng-if="::showSub")
					|  to
					| r/{{::post.data.subreddit}}

	.rp-post-media(ng-if="::!post.data.is_self")
		rp-media.rp-media

	.rp-post-selftext(ng-if="::post.data.selftext_html", layout-padding)
		p(ng-bind-html="::post.data.selftext_html |  limitTo: 500 | unescape_html | unsafe")
		span(ng-if="::post.data.selftext_html.length > 500")
			|... 
			a.rp-post-readmore(ng-href="http://www.reddit.com{{::post.data.permalink}}", target="_blank") Read more

	.rp-post-actions(layout-padding, layout="row", layout-align="space-around center")
		md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="savePost(post)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': post.data.saved}")
		md-button.md-fab.rp-post-fab#share(aria-label="share")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_share_24px.svg")
		.rp-post-actions-comments(layout="row", layout-align="center center")
			span.rp-post-numcomments {{::post.data.num_comments}}
			md-button.md-fab.rp-post-fab#comments(aria-label="comments")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_forum_24px.svg")

			
	md-divider
	.rp-card-comment(layout-padding)
		md-input-container.md-accent
			label.rp-card-comment-label Add a comment
			input