md-content.rp-content.rp-content-scroll(flex, rp-column-resize, rp-infinite-scroll, rp-infinite-scroll-div="#rp-subreddit-posts", rp-infinite-scroll-distance="2")
	.rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
		.rp-posts-wrapper(layout="row")
			.rp-posts-col(ng-repeat="column in columns track by $index")
				//- rp-link(ng-repeat="post in posts track by $index", post="post", parent-ctrl="thisController", identity="identity", show-sub="showSub", ng-if="columns.length == 1 || $index % columns.length == $parent.$index", rp-simple-suspendable)
				.rp-col-wrapper
					rp-link.rp-link-asdf(ng-repeat="post in posts track by $index", post="post", parent-ctrl="thisController", identity="identity", show-sub="showSub", ng-if="post.column === $parent.$index", rp-simple-suspendable)
	p.rp-content-eol(ng-if="noMorePosts") No more posts.


rp-speed-dial
