span(ng-if="post.data.thumbnail != 'self'")
.rp-card-header(layout-padding)
	a.rp-card-title(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank") {{post.data.title}}
	p 
		span.rp-card-score {{post.data.score}}
		|  points 
		span(am-time-ago="post.data.created_utc")
		|  by 
		span.rp-card-author {{post.data.author}}

img.rp-card-image(ng-src="{{post.data.thumbnail}}")

.rp-card-selftext(ng-if="post.data.selftext", layout-padding)
	p {{post.data.selftext | limitTo: 250}}
		span(ng-if="post.data.selftext.length > 250")
			|... 
			a.rp-readmore(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank") Read more
.rp-card-actions(layout-padding, layout="row", layout-align="center")
	div.rp-card-action-inner(flex): paper-icon-button.rp-card-paper-icon#thumb-up(icon="thumb-up")
	div.rp-card-action-inner(flex): paper-icon-button.rp-card-paper-icon#thumb-down(icon="thumb-down")
	div.rp-card-action-inner(flex): paper-icon-button.rp-card-paper-icon#favorite(icon="favorite")
	div.rp-card-action-inner(flex): paper-icon-button.rp-card-paper-icon#share(icon="social:share")
	div.rp-card-action-inner(flex)
		paper-icon-button.rp-card-paper-icon#forum(icon="communication:forum")
		span.rp-card-numcomments {{post.data.num_comments}} 
			
md-divider
.rp-card-comment(layout-padding)
	md-input-container
		label.rp-card-comment-label Add a comment
		input