span(ng-if="post.data.thumbnail != 'self'")
.rp-card-header(layout-padding)
	a.rp-card-title(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank") {{post.data.title}}
	p 
		span.rp-card-score {{post.data.score}}
		|  points 
		span(am-time-ago="post.data.created_utc")
		|  by 
		span.rp-card-author {{post.data.author}}

//- p.rp-card-stats(layout-padding)
	span.rp-card-score {{post.data.score}} 
	| points {{post.data.num_comments}} comments
img.rp-card-image(ng-src="{{post.data.thumbnail}}")
.rp-card-selftext(ng-if="post.data.selftext", layout-padding)
	p {{post.data.selftext | limitTo: 250}}
		span(ng-if="post.data.selftext.length > 250")
			|... 
			a.rp-readmore(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank") Read more
.rp-card-actions(layout-padding, layout="row", layout-align="center")
	div.rp-card-action-inner(flex): i.rp-card-icon.fa.fa-arrow-up
	div.rp-card-action-inner(flex): i.rp-card-icon.fa.fa-arrow-down
	div.rp-card-action-inner(flex): i.rp-card-icon.fa.fa-share-alt
	div.rp-card-action-inner(flex): i.rp-card-icon.fa.fa-star
	div.rp-card-action-inner(flex)
		a.rp-card-numcomments-link(ng-href="http://www.reddit.com{{post.data.permalink}}", target="_blank")
			span.rp-card-numcomments {{post.data.num_comments}} 
			i.fa.fa-comments

md-divider
.rp-card-comment(layout-padding)
	md-input-container
		label Add a omment
		input