.rp-premium-sidenav-ad
	//- p Support reddup's development and get bonus features for $1
	//- img(src="/images/dark-theme.svg")
	//- object.ad(data="/images/dark-theme.svg")
	md-icon.ad(md-svg-src="/images/dark-theme.svg")
	md-button.md-accent.md-raised try reddup+ for free
