.rp-premium-subscription(layout-padding)
    .rp-premium-subscription-details
        table
            tr
                td Subscription Status:
                td {{subscription.status}}
            tr
                td Subscription Activated:
                td {{activedDate}}
            tr
                td Next Bill:
                td {{nextBillDate}}
            tr
                td Payment Method:
                td {{paymentMethod}}
        
    .rp-cancel-subscription
        md-button.md-raised.rp-cancel-button(ng-if="!showCancelConfirmation", ng-click="toggleCancelConfirmation($event)") CANCEL SUBSCRIPTION
        
        .rp-cancel-subscription-confirmation(ng-if="showCancelConfirmation")
            p Are you sure you want to cancel your subscription?
            md-button.md-raised.rp-cancel-button(ng-click="cancelSubscription($event)") Yeah, Cancel it
            md-button.md-raised.md-accent(ng-click="toggleCancelConfirmation($event)") No, Keep it
