md-content.rp-premium(layout-padding, ng-switch="isSubscribed === true")
	.rp-premium-not-subscribed(ng-switch-when="false")
		//- rp-premium-form
		md-button.rp-paypal-subscribe-button(ng-click="subscribe()")
			md-icon(md-svg-src="../../icons/paypal_subscribe.svg")
			
	.rp-premium-subscription(ng-switch-when="true")
		rp-premium-subscription
