md-content.rp-premium(layout-padding, ng-switch="isSubscribed === true")
	.rp-premium-not-subscribed(ng-switch-when="false")
		rp-premium-form
	.rp-premium-subscription(ng-switch-when="true")
		rp-premium-subscription
