md-content.rp-form-content(layout-padding)
	.rp-premium-title Upgrade to Premium

		.rp-premium-intro(ng-show="!showForm")
			p Features of upgrading to premium
			
			md-button.md-accent.md-raised.rp-submit-button(ng-click="toggleShowForm($event)") SUBSCRIBE

		rp-premium-form(ng-show="showForm")
