md-button.md-fab.rp-post-fab#reply(aria-label="reply", ng-click="toggleReplying($event)")
  md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_reply_24px.svg", ng-class="{replying: parentCtrl.isReplying}")
  md-tooltip reply
