.rp-content-404(ng-controller="rpErrorCtrl", layout-padding)
	//- img.rp-404-image(src="../../images/404.png")
	img.rp-404-image(src="http://i.giphy.com/zeL564bRCkJig.gif")
	p.title {{errorCode}}
	p.message Did not find the page you're looking four-oh-four.
