md-dialog.rp-settings-dialog(flex="50", ng-controller="rpSettingsCtrl", aria-label="settings")
	p.rp-settings-title Settings
	.rp-settings( layout-padding, layout="column", layout-align="start center")
		.rp-setting-inset.inset
			.rp-setting-over18(layout="row", layout-align="start center")
				md-label NSFW Warning 
				span(flex)
				md-switch.md-accent.rp-settings-switch(ng-model="settings.over18", aria-label="over18", ng-change="settingChanged()")

			.rp-setting-compose(layout="row", layout-align="start center")
				md-label Compose messages in a dialog
				span(flex)
				md-switch.md-accent.rp-settings-switch(ng-model="settings.composeDialog", aria-label="composeDialog", ng-change="settingChanged()")

			.rp-setting-compose(layout="row", layout-align="start center")
				md-label Open comments in a dialog
				span(flex)
				md-switch.md-accent.rp-settings-switch(ng-model="settings.commentsDialog", aria-label="commentsDialog", ng-change="settingChanged()")

			//- .rp-setting-test(layout="row", layout-align="start center")
				p testSetting: {{settings.testSetting}}
