md-toolbar.rp-tab-toolbar(ng-controller="rpSearchTabsCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
	md-tabs.rp-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
		md-tab.rp-tab(aria-controls="relevance", label="Relevance", md-on-select="tabClick('relevance')")
		md-tab.rp-tab(aria-controls="top", label="Top", md-on-select="tabClick('top')")
		md-tab.rp-tab(aria-controls="new", label="New", md-on-select="tabClick('new')")
		md-tab.rp-tab(aria-controls="comments", label="Comments", md-on-select="tabClick('comments')")

md-content.rp-content#rp-content(flex)
	p Links
	div(infinite-scroll="morePosts()", infinite-scroll-container="'#rp-content'", infinite-scroll-distance="2")
		.rp-subreddit-posts#rp-subreddit-posts(layout="row", ng-if="posts")
			.rp-posts-wrapper(layout="row")
				.rp-posts-col(layout="column", ng-repeat="column in columns")
					rp-search-link(ng-repeat="post in posts", ng-if="columns.length == 1 || $index % columns.length == $parent.$index")