md-dialog.rp-settings-dialog(flex="50", aria-label="settings", ng-class="{'rp-animation-dialog-none': !animations}")
	rp-dialog-close-button(hide-gt-xs, ng-if="isDialog")
	md-dialog-content.rp-settings
