.rp-settings(flex, layout-padding, layout="column", layout-align="center center")
	
	.rp-setting-inset.inset
		md-swtich.md-warn(ng-model="over18", aria-label="over18", ng-true-value="on", ng-false-value="off", ng-change="settingChanged('over18', over18)") Over 18 filter
