md-content.rp-form-content
	.rp-form-inner
		.rp-form-title share via email
		form.rp-share-email-form(layout-padding, name="rpShareEmailForm", ng-submit="submitForm()", layout="column", ng-controller="rpShareEmailFormCtrl")
			md-input-container.md-accent.no-padding(flex)
				label Email
				input#share-to(required, ng-model="to")
			md-input-container.md-accent.no-padding(flex)
				label Add optional message
				textarea(ng-model="optionalMessage")
			p.rp-submit-feedback(layout-margin, ng-if="showFeedback")
				i.material-icons.rp-feedback-alerticon.rp-material-icon(ng-if="showFeedbackAlert") error_outline
				i.material-icons.rp-feedback-alerticon.rp-material-icon(ng-if="showFeedbackSuccess") sentiment_very_satisfied 
				span.rp-feedback-message {{feedbackMessage}}
			.rp-form-button-area(layout="row", ng-if="showButtons")
				md-button.md-accent.md-raised.rp-submit-button(ng-if="showSubmit", aria-label="submit", type="submit") SUBMIT
				md-button.md-accent.md-raised.rp-submit-button(ng-click="resetForm()", ng-if="showAnother", aria-label="submit new", type="button") SEND ANOTHER
				md-button.md-raised.rp-submit-cancel-button(ng-click="closeDialog($event)", aria-label="cancel", type="button") CANCEL
			md-progress-circular.md-accent.rp-submit-progress(md-mode="indeterminate", ng-if="showProgress", md-diameter="36", layout-padding)
