md-bottom-sheet.md-grid.rp-bottom-sheet(flex)
	md-list
		md-list-item(ng-repeat="item in items")
			md-button.mg-grid-item-content(ng-click="listItemClicked($event, $index)")
				md-icon(md-svg-src="{{item.icon}}")
				.md-grid-text {{item.name}}