md-content.rp-slideshow-settings-panel.md-whiteframe-z4(layout="column", layout-align="start center")
	.rp-slideshow-setting(layout="row", layout-align="space-around center", layout-padding)
		md-label Show Title
		md-checkbox.md-accent(ng-model="slideshowHeader", ng-change="headerSettingChanged()", aria-label="settings slideshow header", class="md-{{theme}}-theme")
	.rp-slideshow-setting(layout="row", layout-align="space-around center", layout-padding)
		md-label Fixed Title
		md-switch.md-accent(ng-model="slideshowHeaderFixed", ng-change="headerFixedSettingChanged()", aria-label="settings slideshow header fixed", class="md-{{theme}}-theme", ng-disabled="!slideshowHeader")
	md-divider
	.rp-slideshow-setting(layout="row", layout-align="space-around center", layout-padding)
		md-label Autoplay
		md-switch.md-accent(ng-model="slideshowAutoplay", ng-change="autoplaySettingChanged()", aria-label="settings slideshow autoplay", class="md-{{theme}}-theme")
	md-divider
	.rp-slideshow-setting.rp-slideshow-setting-timer(layout-padding)
		md-label Slideshow Timer
		//- md-select(ng-model="slideshowTime", aria-label="slideshow timer")
			md-option(ng-repeat="time in times", ng-value="time.value") {{time.label}}
		md-slider-container(layout="row", layout-align="space-between center")
			md-slider(flex, min="1", max="60", ng-model="time", ng-change="timeSettingChanged()", aria-label="slideshow timer",  class="md-{{theme}}-theme")
			span {{time}}
