md-dialog.rp-submit-dialog(aria-label="new dialog", flex="60")
	md-content.rp-submit-content
		.rp-submit-inner
			.rp-submit-title Submit to reddit

			form.rp-submit-link-form(name="rpSubmitNewLinkForm", ng-submit="submitLink('self', sendreplies, subreddit, title, '', text)", layout="column", ng-controller="rpPostSubmitFormCtrl", layout-padding)
				md-input-container.md-accent(flex)
					label Title
					input(required, ng-model="title")
				md-input-container.md-accent(flex)
					label Text
					textarea(required, ng-model="text")
				md-input-container.md-accent(flex)
					label Choose a subreddit
					input(required, ng-model="subreddit")

				md-checkbox.rp-submit-sendreplies(ng-model="sendreplies", aria-label="sendreplies") Send replies to my inbox

				.rp-submit-button-area(layout="row", ng-if="!submitted")
					md-button.md-accent.md-raised.rp-message-compose-button.rp-message-compose-send-button(aria-label="send message", ng-if="!submitting", type="submit") SUBMIT
					md-button.md-raised.rp-message-compose-button.rp-message-compose-cancel-button(ng-click="closeDialog()", ng-if="!submitting", type="button") CANCEL
					md-progress-circular.md-accent.rp-message-compose-progress(md-mode="indeterminate", ng-if="submitting", md-diameter="32")

			.rp-submit-submitted.rp-submit-button-area(ng-if="submitted")
				.rp-submit-submitted-link-div
					a.rp-submit-submitted-link(href="{{submittedLink}}") Your Link
					span was submitted successfully.
				.rp-submit-submitted-button-area
					md-button.md-accent.md-raised.rp-message-compose-button.rp-message-compose-send-button(ng-click="resetForm()", aria-label="submit new", type="button") SUBMIT ANOTHER SELF POST
					md-button.md-raised.rp-message-compose-button.rp-message-compose-cancel-button(ng-click="closeDialog()", type="button") CANCEL