md-toolbar.rp-tab-toolbar(layout="row", ng-if="tabs.length > 0")
	md-tabs.rp-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
		md-tab.rp-tab(ng-repeat="tab in tabs", aria-controls="{{tab.label}}", label="{{tab.label}}", ng-click="tabClick(tab.value)")
