md-toolbar.rp-tab-toolbar(ng-controller="rpUserTabsCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
	md-tabs.rp-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
		md-tab.rp-tab(aria-controls="overview", label="Overview", md-on-select="tabClick('overview')")
		md-tab.rp-tab(aria-controls="submitted", label="Submitted", md-on-select="tabClick('submitted')")
		md-tab.rp-tab(aria-controls="comments", label="Comments", md-on-select="tabClick('comments')")
		md-tab.rp-tab(aria-controls="gilded", label="Gilded", md-on-select="tabClick('gilded')")
		md-tab.rp-tab(ng-if="isMe", aria-controls="upvoted", label="upvoted", md-on-select="tabClick('upvoted')")
		md-tab.rp-tab(ng-if="isMe", aria-controls="downvoted", label="downvoted", md-on-select="tabClick('downvoted')")
		md-tab.rp-tab(ng-if="isMe", aria-controls="hidden", label="Hidden", md-on-select="tabClick('hidden')")
		md-tab.rp-tab(ng-if="isMe", aria-controls="saved", label="Saved", md-on-select="tabClick('saved')")

md-content.rp-content#rp-content(flex, rp-infinite-scroll, rp-infinite-scroll-div="#rp-subreddit-posts", rp-infinite-scroll-distance="3")
	.rp-subreddit-posts.rp-column-resize#rp-subreddit-posts(layout="row", ng-if="posts")
		.rp-posts-wrapper(layout="row")
			.rp-posts-col(layout="column", ng-repeat="column in columns")
				rp-user-post(ng-repeat="post in posts", ng-if="columns.length == 1 || $index % columns.length == $parent.$index")
	p.rp-content-eol(ng-if="noMorePosts") No more posts.