md-card.rp-post
	//- p Regex Test: {{post.data.url | test_media_regex}}
	//- p URL: {{post.data.url}}
	//- .rp-post-header(layout-padding, class="{{::post.data.rp_type}}", layout="row") COLORBAR
	
	.rp-user-comment-link-header(layout="row")
		.rp-user-comment-details(flex)
			a.rp-user-comment-link-title(ng-href="/r/{{post.data.subreddit}}/comments/{{post.data.link_id | rp_name_to_id36}}", target="_blank") {{post.data.link_title}}
			|  by 
			a.rp-user-comment-link-author(href="/u/{{post.data.link_author}}", target="_blank") {{post.data.link_author}}
			|  in 
			a.rp-user-comment-link-subreddit(href="/r/{{post.data.subreddit}}", target="_blank") {{post.data.subreddit}}

		.rp-gilded(ng-if="post.data.gilded > 0", layout-margin)
			md-tooltip {{post.data | rp_gilded_alt}}
			md-button.md-fab.rp-gilded-fab(target="_blank", href="/r/{{post.data.subreddit}}/gilded", aria-label="gilded")
				md-icon.rp-gilded-icon(md-svg-src="../../icons/ic_stars_black_18px.svg")
			span.rp-gilded-count(ng-if="post.data.gilded > 1")  &#215 {{post.data.gilded}}

	md-divider

	.rp-post-header(layout-padding, layout="row")
		.rp-user-comment-score
			md-button.md-fab.rp-post-fab#upvote(aria-label="upvote", ng-click="upvotePost(post)")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_upvote_24px.svg", ng-class="{'upvoted': post.data.likes}")
			span.rp-post-score {{::post.data.score}}
			md-button.md-fab.rp-post-fab#downvote(aria-label="downvote", ng-click="downvotePost(post)")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_downvote_24px.svg", ng-class="{'downvoted': post.data.likes === false}")

		.rp-user-comment-body(flex)
			.rp-user-comment-title
				span(am-time-ago="::post.data.created_utc")
				|  by 
				a.rp-post-header-author(href="/u/{{post.data.author}}", target="_blank") {{::post.data.author}}
	
			.rp-user-comment-body-html(compile="post.data.body_html | rp_unescape_html | rp_load_comment_media")

	
	.rp-post-actions(layout-padding, layout="row", layout-align="space-around center")
		md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="savePost(post)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': post.data.saved}")
		md-button.md-fab.rp-post-fab#context(aria-label="context", href="/r/{{post.data.subreddit}}/comments/{{post.data.link_id | rp_name_to_id36}}/{{post.data.id}}/?context=8", target="_blank")
			//- md-icon.rp-post-fab-icon(md-svg-src="../../icons/comment-multiple-outline.svg")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_receipt_24px.svg")
		md-button.md-fab.rp-post-fab#comments(aria-label="comments", ng-click="showComments($event, post)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_forum_24px.svg")
		
	md-divider

	.rp-post-reply(layout-padding)
		form.rp-post-reply-form(name="rpPostReplyForm", ng-submit="postReply(post.data.name, reply)", layout="row", ng-controller="rpUserReplyCtrl")
			md-input-container.md-accent(flex)
				input(placeholder="Post a reply to this comment", ng-model="reply")
			md-button.md-fab.rp-post-fab#send(aria-label="post reply", ng-if="reply")
				md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_send_24px.svg")

