md-card.rp-post
	//- p Regex Test: {{post.data.url | test_media_regex}}
	//- p URL: {{post.data.url}}
	//- .rp-post-header(layout-padding, class="{{::post.data.rp_type}}", layout="row") COLORBAR
	
	.rp-user-comment-link-header(layout="row")
		.rp-user-comment-details(flex)
			a.rp-user-comment-link-title(ng-href="/r/{{post.data.subreddit}}/comments/{{post.data.link_id | rp_name_to_id36}}") {{post.data.link_title}}
			|  by 
			a.rp-user-comment-link-author(href="/u/{{post.data.link_author}}") {{post.data.link_author}}
			|  in 
			a.rp-user-comment-link-subreddit(href="/r/{{post.data.subreddit}}") {{post.data.subreddit}}

		.rp-gilded(ng-if="post.data.gilded > 0", layout-margin)
			md-tooltip {{post.data | rp_gilded_alt}}
			md-button.md-fab.rp-gilded-fab(target="_blank", href="/r/{{post.data.subreddit}}/gilded", aria-label="gilded")
				md-icon.rp-gilded-icon(md-svg-src="../../icons/ic_stars_black_18px.svg")
			span.rp-gilded-count(ng-if="post.data.gilded > 1")  &#215 {{post.data.gilded}}

	md-divider

	.rp-post-header(layout-padding, layout="row")
		
		rp-score.rp-user-comment-score(score="post.data.score", id="post.data.name", likes="post.data.likes")

		.rp-user-comment-body(flex)
			.rp-user-comment-title
				span(am-time-ago="::post.data.created_utc")
				|  by 
				a.rp-post-header-author(href="/u/{{post.data.author}}", target="_blank") {{::post.data.author}}
	
			.rp-user-comment-body-html(compile="post.data.body_html | rp_unescape_html | rp_load_comment_media")

	
	.rp-post-actions(layout-padding, layout="row", layout-align="space-around center")
		md-button.md-fab.rp-post-fab#save(aria-label="save", ng-click="savePost(post)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_favorite_24px.svg", ng-class="{'saved': post.data.saved}")
				md-tooltip save
		md-button.md-fab.rp-post-fab#context(aria-label="context", ng-click="showContext($event, post)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_receipt_24px.svg")
				md-tooltip comment context
		md-button.md-fab.rp-post-fab#delete(aria-label="delete", ng-click="toggleDeleting(post)", ng-if="me === post.data.author")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_delete_24px.svg")
				md-tooltip delete
		md-button.md-fab.rp-post-fab#comments(aria-label="comments", ng-click="showCommentsUser($event, post)")
			md-icon.rp-post-fab-icon(md-svg-src="../../icons/ic_forum_24px.svg")
				md-tooltip comments
		
	.rp-post-delete(layout-padding, ng-if="post.isDeleting")
		rp-delete(id="post.data.name", parent-ctrl="thisController", type="'comment'")

	.rp-post-reply(layout-padding, ng-if="!post.postComment")
		rp-reply-form(id="post.data.name", parent-ctrl="thisController", post="post")
		
	md-divider(ng-if="post.postComment")

	.rp-post-comment(layout-padding, ng-if="post.postComment")
		p {{post.postComment.data.body}}