md-button.rp-sidenav-button(layout-fill flex) Subreddits
md-list.subs
	md-item(ng-repeat="sub in subs")
		md-item-content
			md-button.rp-sidenav-subreddit(ng-href="{{sub.data.url}}" flex) {{sub.data.display_name}}