md-button.rp-toolbar-action-button.md-icon-button(aria-label="sidebar", ng-click="sidebarButtonCtrl.toggleSidebar()")
  md-icon.rp-toolbar-action-icon(md-svg-icon="ic_chrome_reader_mode_black_48px")
    md-tooltip(hide, show-gt-sm) sidebar
