.rp-media-default(ng-if="imageUrl !== 'default'")
	.rp-media-default-playable-thumbnail-wrapper.rp-media-default-playable-wrapper(ng-if="!showPlayable")
		//- a(href="{{imageUrl}}", target="_blank")
		//- img.rp-media-image.rp-media-deafult-image.rp-resize-drag(ng-if="imageUrl", ng-src="{{imageUrl}}")
		img.rp-media-image.rp-media-deafult-image(ng-if="imageUrl && !playable", ng-src="{{imageUrl}}", ng-click="openImagePanel()")
		md-icon.rp-media-default-play-icon(
			ng-if="playable && !slideshow"
			md-svg-icon="ic_play_circle_outline_48px"
			aria-label="play"
			ng-click="show()"
		)
		img.rp-media-image.rp-media-deafult-image(ng-if="imageUrl && playable", ng-src="{{imageUrl}}")

	.rp-media-default-playable(ng-if="playable")
		.rp-media-default-playable-wrapper(ng-if="showPlayable", ng-switch="defaultType")
			img.rp-media-image.rp-media-default-gif(ng-switch-when="gif", ng-src="{{gifUrl}}")
			video.rp-media-default-video(ng-switch-when="video", autoplay, loop, muted, preload)
				source(ng-if="webmUrl", ng-src="{{webmUrl | rp_trusted}}", type="video/webm")
				source(ng-if="mp4Url", ng-src="{{mp4Url | rp_trusted}}", type="video/mp4")

			.rp-media-default-embed(ng-switch-when="embed", ng-bind-html="post.data.media.oembed.html | rp_unescape_embed")

			md-icon.rp-media-default-pause-icon(ng-if="defaultType != 'embed' && !slideshow", md-svg-icon="ic_pause_circle_outline_48px", aria-label="pause", ng-click="hide()")
