.rp-login-button-wrapper {
    margin-top: 28px;
    margin-bottom: 12px;
}

.rp-login-button {
    .rp-sidenav-button;
    margin-bottom: 16px;
    margin-left: 16px;
    padding-top: 6px;
    max-width: 170px;
    padding-left: 0;
    color: white !important;
    text-align: center;
}
