.rp-login-button-wrapper {
  margin-top: 28px;
  margin-bottom: 12px;
}

.rp-login-button {
  max-width: 170px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding-top: 6px;
  padding-left: 0;
  text-align: center;
  color: white !important;
  .rp-sidenav-button;
}