.rp-media-twitter-tweet iframe
{ margin-right: auto !important;
    margin-left: auto !important; 
}

twitterwidget.twitter-tweet
{ margin-right: auto !important;
    margin-left: auto !important; 
}

/*
	Can't affect elements in an iframe
	would need to use js.
 */

.EmbeddedTweet
{ border-right-width: 0 !important; border-left-width: 0 !important;  border-top-left-radius: 0 !important;  border-top-right-radius: 0 !important;  border-bottom-right-radius: 0 !important; 
    border-bottom-left-radius: 0 !important; 
}
