html
	meta(charset="utf-8", name="viewport", content="initial-scale=1.0")
	title Oops
	link(rel='stylesheet', href='stylesheets/css/style.css')

body.rp-error-body
	.rp-error-sidenav
		a(href="/")
			img.rp-error-image-snoo(src="../../icons/logo.svg")
		a.rp-brand-name(href="/") reddup

	.rp-error-content
		img.rp-error-image(src="http://i.giphy.com/zeL564bRCkJig.gif")
		p.title #{status}
		p #{message}

		if status == 404
			p.message could not find the page you are looking four-oh-four
		else 
			p.message Uh-oh something went wrong.