//- 
	Created by Jalal on 2/12/2015.

head
	title(ng-bind='appTitle') 
	base(href='/')
	//-So that bootstrap scales properly on small screen (mobile) devices.
	meta(charset="utf-8", name="viewport", content="initial-scale=1.0")
	//- meta(charset="utf-8", name="viewport", content="width=device-width, minimum-scale=1.0")

	//- SCROLLS
	link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
	link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
	link(rel='stylesheet', href='/bower_components/mdi/css/materialdesignicons.css')
	link(rel='stylesheet', href='/bower_components/ng-mfb/mfb/dist/mfb.css')
	//- link(rel="stylesheet", hred='/bower_components/materialize/dist/css/materialize.css')
	
	//- link(rel='stylesheet', href='stylesheets/css/scroll.css')
	link(rel='stylesheet', href='/stylesheets/css/twitter-widget.css')
	link(rel='stylesheet', href='stylesheets/css/style.css')

	//- SPELLS

	script(src='/bower_components/jquery/dist/jquery.js')
	
	script(src='/bower_components/angular/angular.js')
	script(src='/bower_components/angular-material/angular-material.min.js')
	script(src='/bower_components/angular-sanitize/angular-sanitize.js')
	script(src='/bower_components/angular-route/angular-route.js')
	script(src='/bower_components/angular-animate/angular-animate.js')
	script(src='/bower_components/angular-aria/angular-aria.js')
	script(src='/bower_components/angular-resource/angular-resource.js')
	script(src='/bower_components/angular-linkify/angular-linkify.js')
	script(src='/bower_components/angular-recursion/angular-recursion.js')
	
	script(src='/bower_components/moment/moment.js')
	script(src='/bower_components/angular-moment/angular-moment.js')
	script(src='/bower_components/materialize/dist/js/materialize.js')
	script(src='/bower_components/mediaCheck/js/mediaCheck.js')
	script(src='/bower_components/nginfinitescroll/build/ng-infinite-scroll.js')
	script(src='/bower_components/ng-mfb/mfb/dist/mfb.js')
	script(src='/bower_components/ng-mfb/src/mfb-directive.js')
	script(src='/javascript/twitterWidget.js')

	script(src='/javascript/ng-app/rpApp.js')
	script(src='/javascript/ng-app/rpServices.js')
	script(src='/javascript/ng-app/rpResourceServices.js')
	script(src='/javascript/ng-app/rpUtilServices.js')
	script(src='/javascript/ng-app/rpFilters.js')
	script(src='/javascript/ng-app/rpDirectives.js')
	script(src='/javascript/ng-app/rpMediaDirectives.js')
	script(src='/javascript/ng-app/rpControllers.js')
	script(src='/javascript/ng-app/rpPostControllers.js')
	script(src='/javascript/ng-app/rpUserControllers.js')
	script(src='/javascript/ng-app/rpMessageControllers.js')
	script(src='/javascript/ng-app/rpCommentsControllers.js')
	script(src='/javascript/ng-app/rpCommentControllers.js')
	script(src='/javascript/ng-app/rpMediaControllers.js')
	script(src='/javascript/ng-app/rpProgressControllers.js')
	script(src='/javascript/ng-app/rpCaptchaControllers.js')
	script(src='/javascript/ng-app/rpSettingsControllers.js')
	script(src='/javascript/ng-app/rpSearchControllers.js')
	
	script(src='/javascript/calcWatchers.js')
	script(src='/javascript/actionButtonSelectHelper.js')
	script(src='/javascript/postColumns.js')
	//- script(src='/javascript/progress.js')
	script(src='/javascript/analytics.js')
		



	//- script(src="/javascript/hideEmbeds.js")