//- 
	Created by Jalal on 2/12/2015.

head
	title(ng-bind='appTitle') 
	base(href='/')
	//-So that bootstrap scales properly on small screen (mobile) devices.
	meta(charset="utf-8", name="viewport", content="initial-scale=1.0")
	//- meta(charset="utf-8", name="viewport", content="width=device-width, minimum-scale=1.0")

	meta(name="fragment" content="!")

	//- ITEMS

	link( rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto')

	//- SCROLLS
	//- link(rel='stylesheet', href='/stylesheets/dist/scrolls.min.css')

	link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
	link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
	link(rel='stylesheet', href='/bower_components/mdi/css/materialdesignicons.min.css')
	link(rel='stylesheet', href='/bower_components/ng-mfb/mfb/dist/mfb.min.css')
	link(rel='stylesheet', href='/stylesheets/css/twitter-widget.css')
	link(rel='stylesheet', href='/stylesheets/css/style.css')

	//- SPELLS
	//- script(src='/javascript/dist/spells.min.js')
	
	script(src="/bower_components/jquery/dist/jquery.js")
	script(src="/bower_components/jquery/dist/jquery.min.js")
	script(src='/bower_components/snoocore/dist/Snoocore-browser.min.js')
	script(src='/bower_components/angular/angular.min.js')
	script(src='/javascript/resources/angular-material.js')
	script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
	script(src='/bower_components/angular-route/angular-route.min.js')
	script(src='/bower_components/angular-animate/angular-animate.min.js')
	script(src='/bower_components/angular-aria/angular-aria.min.js')
	script(src='/bower_components/angular-resource/angular-resource.min.js')
	script(src='/bower_components/angular-linkify/angular-linkify.min.js')
	script(src='/bower_components/angular-recursion/angular-recursion.min.js')
	script(src='/bower_components/ng-debounce/angular-debounce.js')
	script(src='/bower_components/moment/min/moment.min.js')
	script(src='/bower_components/angular-moment/angular-moment.min.js')
	script(src='/bower_components/mediaCheck/js/mediaCheck-min.js')
	script(src="/bower_components/angular-google-adsense/dist/angular-google-adsense.min.js")
	script(src='/bower_components/ng-mfb/mfb/dist/mfb.min.js')
	script(src='/bower_components/ng-mfb/src/mfb-directive.js')
	script(src='/javascript/resources/mediaCheck.js')
	script(src='/javascript/ng-app/rpApp.js')
	script(src='/javascript/ng-app/rpServices.js')
	script(src='/javascript/ng-app/rpRedditApiServices.js')
	script(src='/javascript/ng-app/rpResourceServices.js')
	script(src='/javascript/ng-app/rpUtilServices.js')
	script(src='/javascript/ng-app/rpFilters.js')
	script(src='/javascript/ng-app/rpDirectives.js')
	script(src='/javascript/ng-app/rpMediaDirectives.js')
	script(src='/javascript/ng-app/rpControllers.js')
	script(src='/javascript/ng-app/rpPostControllers.js')
	script(src='/javascript/ng-app/rpUserControllers.js')
	script(src='/javascript/ng-app/rpMessageControllers.js')
	script(src='/javascript/ng-app/rpArticleControllers.js')
	script(src='/javascript/ng-app/rpCommentControllers.js')
	script(src='/javascript/ng-app/rpMediaControllers.js')
	script(src='/javascript/ng-app/rpProgressControllers.js')
	script(src='/javascript/ng-app/rpCaptchaControllers.js')
	script(src='/javascript/ng-app/rpSettingsControllers.js')
	script(src='/javascript/ng-app/rpSearchControllers.js')
	script(src='/javascript/ng-app/rpShareControllers.js')
	script(src='/javascript/ng-app/rpSubmitControllers.js')
	script(src='/javascript/ng-app/rpScoreControllers.js')
	script(src='/javascript/ng-app/rpReplyFormControllers.js')
	script(src='/javascript/ng-app/rpDeleteControllers.js')
	script(src='/javascript/ng-app/rpSaveControllers.js')
	script(src='/javascript/ng-app/rpGildControllers.js')
	script(src='/javascript/ng-app/rpEditFormControllers.js')
	script(src='/javascript/ng-app/rpLinkControllers.js')
	script(src='/javascript/ng-app/rpTabsControllers.js')
	script(src='/javascript/ng-app/rpImgurUtilServices.js')
	script(src='/javascript/resources/analytics.js')
	script(src='/javascript/resources/twitterWidget.js')
	
	script.
		window.prerenderReady = false;
