//
	Created by Jalal on 2/12/2015.

head
	title #{title}
	base(href="/")

	// So that bootstrap scales properly on small screen (mobile) devices.
	meta(charset="utf-8", name="viewport", content="initial-scale=1.0")

	// SCROLLS
	//- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
	link(rel='stylesheet', href='stylesheets/css/style.css')
	link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')

	// SPELLS
	//- script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src='/bower_components/angular/angular.js')
	script(src='/bower_components/angular-route/angular-route.js')
	script(src='/bower_components/angular-animate/angular-animate.js')
	script(src='/bower_components/angular-aria/angular-aria.js')
	script(src='/bower_components/angular-material/angular-material.js')
	script(src='/bower_components/angular-resource/angular-resource.js')
	script(src='/bower_components/moment/moment.js')
	script(src='/bower_components/angular-moment/angular-moment.js')

	script(src='/javascript/app.js')
	script(src='/javascript/controllers.js')
	script(src='/javascript/filters.js')
	script(src='/javascript/services.js')
	script(src='/javascript/progress.js')