//-
  Created by Jalal on 2/12/2015.

head
  title(ng-bind='appCtrl.titles.page')
  base(href='/')
  //-So that bootstrap scales properly on small screen (mobile) devices.
  //- meta(charset="utf-8", name="viewport", content="initial-scale=1.0")
  meta(name="viewport", charset="utf-8", content="width=device-width, minimum-scale=1.0")

  meta(name="fragment", content="!")

  meta(name="description", content="{{appCtrl.descriptionService.description}}")
  meta(name="description", content="A new and exciting reddit web app. The most beautiful and advanced way to browse reddit online.", ng-if="false")

  //- humans.txt
  link(rel='author' type='text/plain' href='/humans.txt')

  //- ITEMS
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel="icon", href="/icons/favicon.ico?v=412")

  //- SCROLLS
  //- link(rel='stylesheet', href='/stylesheets/dist/scrolls.min.css?v=414')

  link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
  link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
  link(rel='stylesheet', href='/stylesheets/css/twitter-widget.css')
  link(rel='stylesheet', href='/stylesheets/css/style.css')

  //- SPELLS
  //- script(src='/javascript/dist/spells.min.js?v=414')

  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src='/bower_components/angular/angular.min.js')
  //- don't disable
  script(src='/javascript/resources/snoocore/dist/Snoocore-browser.min.js')
  script(src="https://www.youtube.com/iframe_api")

  //- ANGULAR MATERIAL
  //- angular material cdn
  //- script(src='https://gitcdn.link/repo/angular/bower-material/master/angular-material.js')
  //- angular material modified
  script(src='/javascript/resources/angular-material.js')
  //- angular material in bower components
  //- script(src='/bower_components/angular-material/angular-material.min.js')

  script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
  script(src='/bower_components/angular-route/angular-route.min.js')
  script(src='/bower_components/angular-animate/angular-animate.min.js')
  script(src='/bower_components/angular-messages/angular-messages.min.js')
  script(src='/bower_components/angular-aria/angular-aria.min.js')
  script(src='/bower_components/angular-resource/angular-resource.min.js')
  script(src='/bower_components/angular-linkify/angular-linkify.min.js')
  script(src='/bower_components/angular-cookies/angular-cookies.min.js')
  script(src='/bower_components/angular-recursion/angular-recursion.min.js')
  script(src='/bower_components/angular-debounce/dist/angular-debounce.min.js')
  script(src='/bower_components/moment/min/moment.min.js')
  script(src='/bower_components/moment-timezone/builds/moment-timezone.min.js')
  script(src='/bower_components/angular-moment/angular-moment.min.js')
  script(src='/bower_components/mediaCheck/js/mediaCheck-min.js')
  script(src='/bower_components/angular-google-adsense/dist/angular-google-adsense.min.js')
  script(src='/bower_components/angular-inview/angular-inview.js')
  script(src='/bower_components/interactjs/dist/interact.min.js')
  script(src='/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js')
  script(src='/javascript/resources/mediaCheck.js')
  script(src='rpApp/rpApp.js')
  script(src='rpApp/controllers/rpAppController.js')
  script(src='rpApp/directives/rpAppImgDirective.js')
  script(src='rpApp/directives/rpAppResizeDragDirective.js')
  script(src='rpApp/directives/rpAppVideoDirective.js')
  script(src='rpApp/directives/rpAppBackButtonDirective.js')
  script(src='rpApp/directives/rpAppCompileDirective.js')
  script(src='rpApp/directives/rpAppFocusMeDirective.js')
  script(src='rpApp/directives/rpAppMainDirective.js')
  script(src='rpApp/directives/rpAppInfiniteScrollDirective.js')
  script(src='rpApp/directives/rpAppColumnResizeDirective.js')
  script(src='rpApp/directives/rpAppPageContentDirective.js')
  script(src='rpApp/services/rpAppIsMobileViewService.js')
  script(src='rpApp/services/rpAppTitleService.js')
  script(src='rpApp/services/rpAppDescriptionService.js')
  script(src='rpApp/services/rpAppGoogleUrlService.js')
  script(src='rpApp/services/rpAppGoogleUrlResourceService.js')
  script(src='rpApp/services/rpAppLocationService.js')
  script(src='rpApp/services/rpAppAuthService.js')
  script(src='rpApp/services/rpAppUserAgentService.js')
  script(src='rpApp/filters/rpAppAddEllipsisFilter.js')
  script(src='rpApp/filters/rpAppOpenLinkNewWindowFilter.js')
  script(src='rpApp/filters/rpAppHijackRedditLinkFilter.js')
  script(src='rpApp/filters/rpAppNameToId36Filter.js')
  script(src='rpApp/filters/rpAppCleanTitleFilter.js')
  script(src='rpApp/filters/rpAppUnescapeEmbedFilter.js')
  script(src='rpApp/filters/rpAppUnescapeHtmlFilter.js')
  script(src='rpProgress/rpProgress.js')
  script(src='rpProgress/controllers/rpProgressController.js')
  script(src='rpProgress/directives/rpProgressDirective.js')
  script(src='rpProgress/services/rpProgressService.js')
  script(src='rpReddit/rpReddit.js')
  script(src='rpReddit/services/rpRedditRequestService.js')
  script(src='rpReddit/services/rpRedditRequestResourceService.js')
  script(src='rpReddit/services/rpRedditConfigResourceService.js')
  script(src='rpIdentity/rpIdentity.js')
  script(src='rpIdentity/controllers/rpIdentityController.js')
  script(src='rpIdentity/directives/rpIdentityDirective.js')
  script(src='rpIdentity/services/rpIdentityService.js')
  script(src='rpIdentity/services/rpIdentityResourceService.js')
  script(src='rpScore/rpScore.js')
  script(src='rpScore/controllers/rpScoreController.js')
  script(src='rpScore/directives/rpScoreDirective.js')
  script(src='rpScore/services/rpScoreVoteService.js')
  script(src='rpScore/services/rpScoreVoteResourceService.js')
  script(src='rpScore/filters/rpScoreKiloFilter.js')
  script(src='rpArticle/rpArticle.js')
  script(src='rpArticle/controllers/rpArticleButtonController.js')
  script(src='rpArticle/controllers/rpArticleDialogController.js')
  script(src='rpArticle/controllers/rpArticleController.js')
  script(src='rpArticle/directives/rpArticleDirective.js')
  script(src='rpArticle/directives/rpArticleButtonDirective.js')
  script(src='rpArticle/directives/rpArticleContextButtonDirective.js')
  script(src='rpArticle/directives/rpArticleContextButtonMenuDirective.js')
  script(src='rpCaptcha/rpCaptcha.js')
  script(src='rpCaptcha/controllers/rpCaptchaController.js')
  script(src='rpCaptcha/directives/rpCaptchaDirective.js')
  script(src='rpCaptcha/services/rpCaptchaService.js')
  script(src='rpCaptcha/services/rpCaptchaResourceService.js')
  script(src='rpCaptcha/services/rpCaptchaNeedsResourceService.js')
  script(src='rpCaptcha/services/rpCaptchaNewResourceService.js')
  script(src='rpComment/rpComment.js')
  script(src='rpComment/controllers/rpCommentController.js')
  script(src='rpComment/directives/rpCommentDirective.js')
  script(src='rpComment/directives/rpCommentMediaDirective.js')
  script(src='rpComment/directives/rpCommentScrollDirective.js')
  script(src='rpComment/services/rpCommentService.js')
  script(src='rpComment/services/rpCommentCommentsService.js')
  script(src='rpComment/services/rpCommentCommentsResourceService.js')
  script(src='rpComment/services/rpCommentResourceService.js')
  script(src='rpComment/services/rpCommentMoreChildrenResourceService.js')
  script(src='rpComment/services/rpCommentChildrenService.js')
  script(src='rpComment/filters/rpCommentLoadMediaFilter.js')
  script(src='rpDelete/rpDelete.js')
  script(src='rpDelete/controllers/rpDeleteButtonController.js')
  script(src='rpDelete/controllers/rpDeleteFormController.js')
  script(src='rpDelete/directives/rpDeleteButtonDirective.js')
  script(src='rpDelete/directives/rpDeleteButtonMenuDirective.js')
  script(src='rpDelete/directives/rpDeleteFormDirective.js')
  script(src='rpDelete/services/rpDeleteService.js')
  script(src='rpDelete/services/rpDeleteResourceService.js')
  script(src='rpDelete/services/rpDeleteMessageResourceService.js')
  script(src='rpEdit/rpEdit.js')
  script(src='rpEdit/controllers/rpEditFormController.js')
  script(src='rpEdit/controllers/rpEditButtonController.js')
  script(src='rpEdit/directives/rpEditButtonDirective.js')
  script(src='rpEdit/directives/rpEditFormDirective.js')
  script(src='rpEdit/services/rpEditService.js')
  script(src='rpEdit/services/rpEditResourceService.js')
  script(src='rpFeedback/rpFeedback.js')
  script(src='rpFeedback/controllers/rpFeedbackController.js')
  script(src='rpFeedback/controllers/rpFeedbackSidenavController.js')
  script(src='rpFeedback/controllers/rpFeedbackDialogController.js')
  script(src='rpFeedback/controllers/rpFeedbackFormController.js')
  script(src='rpFeedback/directives/rpFeedbackDirective.js')
  script(src='rpFeedback/directives/rpFeedbackSidenavDirective.js')
  script(src='rpFeedback/services/rpFeedbackService.js')
  script(src='rpFeedback/services/rpFeedbackResourceService.js')
  script(src='rpGild/rpGild.js')
  script(src='rpGild/controllers/rpGildButtonController.js')
  script(src='rpGild/directives/rpGildButtonDirective.js')
  script(src='rpGild/directives/rpGildDirective.js')
  script(src='rpGild/services/rpGildService.js')
  script(src='rpGild/services/rpGildResourceService.js')
  script(src='rpLink/rpLink.js')
  script(src='rpLink/controllers/rpLinkController.js')
  script(src='rpLink/directives/rpLinkDirective.js')
  script(src='rpLink/directives/rpLinkListDirective.js')
  script(src='rpLink/filters/rpLinkIsCommentFilter.js')
  script(src='rpLink/filters/rpLinkOpenInTabFilter.js')
  script(src='rpHide/rpHide.js')
  script(src='rpHide/controllers/rpHideButtonController.js')
  script(src='rpHide/directives/rpHideButtonDirective.js')
  script(src='rpHide/services/rpHideService.js')
  script(src='rpMedia/rpMedia.js')
  script(src='rpMedia/rpMedia/controllers/rpMediaController.js')
  script(src='rpMedia/rpMedia/controllers/rpMediaPreviewPanelController.js')
  script(src='rpMedia/rpMedia/directives/rpMediaDirective.js')
  script(src='rpMedia/rpMedia/directives/rpMediaDefaultEmbedDirective.js')
  script(src='rpMedia/rpMediaDefault/rpMediaDefault.js')
  script(src='rpMedia/rpMediaDefault/controllers/rpMediaDefaultController.js')
  script(src='rpMedia/rpMediaDefault/directives/rpMediaDefaultDirective.js')
  script(src='rpMedia/rpMediaGfycat/rpMediaGfycat.js')
  script(src='rpMedia/rpMediaGfycat/controllers/rpMediaGfycatController.js')
  script(src='rpMedia/rpMediaGfycat/directives/rpMediaGfycatDirective.js')
  script(src='rpMedia/rpMediaGiphy/rpMediaGiphy.js')
  script(src='rpMedia/rpMediaGiphy/controllers/rpMediaGiphyController.js')
  script(src='rpMedia/rpMediaGiphy/directives/rpMediaGiphyDirective.js')
  script(src='rpMedia/rpMediaImagePanel/rpMediaImagePanel.js')
  script(src='rpMedia/rpMediaImagePanel/controllers/rpMediaImagePanelAlbumController.js')
  script(src='rpMedia/rpMediaImagePanel/controllers/rpMediaImagePanelController.js')
  script(src='rpMedia/rpMediaImgur/rpMediaImgur.js')
  script(src='rpMedia/rpMediaImgur/controllers/rpMediaImgurController.js')
  script(src='rpMedia/rpMediaImgur/directives/rpMediaImgurDirective.js')
  script(src='rpMedia/rpMediaImgur/services/rpMediaImgurGalleryResourceService.js')
  script(src='rpMedia/rpMediaImgurAlbum/rpMediaImgurAlbum.js')
  script(src='rpMedia/rpMediaImgurAlbum/controllers/rpMediaImgurAlbumController.js')
  script(src='rpMedia/rpMediaImgurAlbum/directives/rpMediaImgurAlbumDirective.js')
  script(src='rpMedia/rpMediaImgurAlbum/directives/rpMediaImgurAlbumPanelProgressDirective.js')
  script(src='rpMedia/rpMediaImgurAlbum/directives/rpMediaImgurAlbumWrapperDirective.js')
  script(src='rpMedia/rpMediaImgurAlbum/services/rpMediaImgurAlbumPreloaderService.js')
  script(src='rpMedia/rpMediaImgurAlbum/services/rpMediaImgurAlbumResourceService.js')
  script(src='rpMedia/rpMediaRedditUpload/rpMediaRedditUpload.js')
  script(src='rpMedia/rpMediaRedditUpload/controllers/rpMediaRedditUploadController.js')
  script(src='rpMedia/rpMediaRedditUpload/directives/rpMediaRedditUploadDirective.js')
  script(src='rpMedia/rpMediaStreamable/rpMediaStreamable.js')
  script(src='rpMedia/rpMediaStreamable/controllers/rpMediaStreamableController.js')
  script(src='rpMedia/rpMediaStreamable/directives/rpMediaStreamableDirective.js')
  script(src='rpMedia/rpMediaTwitter/rpMediaTwitter.js')
  script(src='rpMedia/rpMediaTwitter/controllers/rpMediaTwitterController.js')
  script(src='rpMedia/rpMediaTwitter/directives/rpMediaTwitterDirective.js')
  script(src='rpMedia/rpMediaTwitter/services/rpMediaTwitterResourceService.js')
  script(src='rpMedia/rpMediaYoutube/rpMediaYoutube.js')
  script(src='rpMedia/rpMediaYoutube/controllers/rpMediaYoutubeController.js')
  script(src='rpMedia/rpMediaYoutube/directives/rpMediaYoutubeDirective.js')
  script(src='rpMedia/rpMedia/filters/rpMediaGetImageUrlFilter.js')
  script(src='rpMedia/rpMedia/filters/rpMediaRemoveAmpFilter.js')
  script(src='rpMedia/rpMedia/filters/rpMediaHttpsFilter.js')
  script(src='rpMedia/rpMedia/filters/rpMediaYoutubeTimeToSecondsFilter.js')
  script(src='rpMedia/rpMedia/filters/rpMediaTrustedResourceFilter.js')
  script(src='rpMedia/rpMedia/filters/rpMediaTypeFilter.js')
  script(src='rpMessage/rpMessage.js')
  script(src='rpMessage/rpMessage/controllers/rpMessageController.js')
  script(src='rpMessage/rpMessage/controllers/rpMessageCommentController.js')
  script(src='rpMessage/rpMessage/controllers/rpMessageSidenavController.js')
  script(src='rpMessage/rpMessage/directives/rpMessageCommentDirective.js')
  script(src='rpMessage/rpMessage/directives/rpMessageSidenavDirective.js')
  script(src='rpMessage/rpMessageCompose/rpMessageCompose.js')
  script(src='rpMessage/rpMessageCompose/controllers/rpMessageComposeController.js')
  script(src='rpMessage/rpMessageCompose/controllers/rpMessageComposeDialogController.js')
  script(src='rpMessage/rpMessageCompose/controllers/rpMessageComposeFormController.js')
  script(src='rpMessage/rpMessageCompose/directives/rpMessageComposeDirective.js')
  script(src='rpMessage/services/rpMessageComposeService.js')
  script(src='rpMessage/services/rpMessageComposeResourceService.js')
  script(src='rpMessage/services/rpMessageService.js')
  script(src='rpMessage/services/rpMessageReadAllService.js')
  script(src='rpMessage/services/rpMessageReadAllResourceService.js')
  script(src='rpMessage/services/rpMessageReadResourceService.js')
  script(src='rpMessage/services/rpMessageReadService.js')
  script(src='rpMessage/services/rpMessageResourceService.js')
  script(src='rpMessage/filters/rpMessageLinkIdFilter.js')
  script(src='rpOpenNew/rpOpenNew.js')
  script(src='rpOpenNew/controllers/rpOpenNewController.js')
  script(src='rpOpenNew/directives/rpOpenNewButtonMenuDirective.js')
  script(src='rpUser/rpUser.js')
  script(src='rpUser/controllers/rpUserController.js')
  script(src='rpUser/services/rpUserService.js')
  script(src='rpUser/services/rpUserResourceService.js')
  script(src='rpPlus/rpPlus.js')
  script(src='rpPlus/controllers/rpPlusController.js')
  script(src='rpPlus/controllers/rpPlusSubscriptionController.js')
  script(src='rpPlus/controllers/rpPlusSidenavController.js')
  script(src='rpPlus/controllers/rpPlusSidenavAdController.js')
  script(src='rpPlus/directives/rpPlusDirective.js')
  script(src='rpPlus/directives/rpPlusSubscriptionDirective.js')
  script(src='rpPlus/directives/rpPlusSidenavAdDirective.js')
  script(src='rpPlus/directives/rpPlusPaypalButtonDirective.js')
  script(src='rpPlus/services/rpPlusSubscriptionService.js')
  script(src='rpPlus/services/rpPlusPaypalResourceServices.js')
  script(src='rpPost/rpPost.js')
  script(src='rpPost/controllers/rpPostController.js')
  script(src='rpPost/services/rpPostService.js')
  script(src='rpPost/services/rpPostResourceService.js')
  script(src='rpPost/services/rpPostFrontpageResourceService.js')
  script(src='rpReply/rpReply.js')
  script(src='rpReply/controllers/rpReplyButtonController.js')
  script(src='rpReply/controllers/rpReplyFormController.js')
  script(src='rpReply/directives/rpReplyButtonDirective.js')
  script(src='rpReply/directives/rpReplyFormDirective.js')
  script(src='rpSave/rpSave.js')
  script(src='rpSave/controllers/rpSaveButtonController.js')
  script(src='rpSave/directives/rpSaveButtonDirective.js')
  script(src='rpSave/directives/rpSaveButtonMenuDirective.js')
  script(src='rpSave/services/rpSaveService.js')
  script(src='rpSave/services/rpSaveResourceService.js')
  script(src='rpSave/services/rpSaveUnsaveResourceService.js')
  script(src='rpSearch/rpSearch.js')
  script(src='rpSearch/controllers/rpSearchController.js')
  script(src='rpSearch/controllers/rpSearchFormController.js')
  script(src='rpSearch/controllers/rpSearchSidenavController.js')
  script(src='rpSearch/controllers/rpSearchSubscriptionController.js')
  script(src='rpSearch/directives/rpSearchFormDirective.js')
  script(src='rpSearch/directives/rpSearchLinkDirective.js')
  script(src='rpSearch/directives/rpSearchLinkListDirective.js')
  script(src='rpSearch/directives/rpSearchPostDirective.js')
  script(src='rpSearch/directives/rpSearchSidenavDirective.js')
  script(src='rpSearch/directives/rpSearchSidenavFormDirective.js')
  script(src='rpSearch/directives/rpSearchSubDirective.js')
  script(src='rpSearch/directives/rpSearchSubListDirective.js')
  script(src='rpSearch/directives/rpSearchFormTimeFilterButtonDirective.js')
  script(src='rpSearch/services/rpSearchService.js')
  script(src='rpSearch/services/rpSearchFormService.js')
  script(src='rpSearch/services/rpSearchResourceService.js')
  script(src='rpSearch/filters/rpSearchContainsSpacesFilter.js')
  script(src='rpSettings/rpSettings.js')
  script(src='rpSettings/controllers/rpSettingsController.js')
  script(src='rpSettings/controllers/rpSettingsDialogController.js')
  script(src='rpSettings/controllers/rpSettingsSidenavController.js')
  script(src='rpSettings/directives/rpSettingsDirective.js')
  script(src='rpSettings/directives/rpSettingsSidenavDirective.js')
  script(src='rpSettings/services/rpSettingsService.js')
  script(src='rpSettings/services/rpSettingsResourceService.js')
  script(src='rpShare/rpShare.js')
  script(src='rpShare/controllers/rpShareController.js')
  script(src='rpShare/controllers/rpShareButtonController.js')
  script(src='rpShare/controllers/rpShareEmailController.js')
  script(src='rpShare/controllers/rpShareEmailDialogController.js')
  script(src='rpShare/controllers/rpShareEmailFormController.js')
  script(src='rpShare/directives/rpShareButtonDirective.js')
  script(src='rpShare/directives/rpShareButtonMenuDirective.js')
  script(src='rpShare/directives/rpShareEmailDirective.js')
  script(src='rpShare/services/rpShareEmailService.js')
  script(src='rpShare/services/rpShareEmailResourceService.js')
  script(src='rpSlideshow/rpSlideshow.js')
  script(src='rpSlideshow/controllers/rpSlideshowController.js')
  script(src='rpSlideshow/controllers/rpSlideshowControlsController.js')
  script(src='rpSlideshow/controllers/rpSlideshowProgressController.js')
  script(src='rpSlideshow/controllers/rpSlideshowSettingsPanelController.js')
  script(src='rpSlideshow/controllers/rpSlideshowButtonController.js')
  script(src='rpSlideshow/directives/rpSlideshowControlsDirective.js')
  script(src='rpSlideshow/directives/rpSlideshowDirective.js')
  script(src='rpSlideshow/directives/rpSlideshowHeaderDirective.js')
  script(src='rpSlideshow/directives/rpSlideshowPlayButtonDirective.js')
  script(src='rpSlideshow/directives/rpSlideshowButtonDirective.js')
  script(src='rpSubmit/rpSubmit.js')
  script(src='rpSubmit/controllers/rpSubmitController.js')
  script(src='rpSubmit/controllers/rpSubmitDialogController.js')
  script(src='rpSubmit/controllers/rpSubmitFormController.js')
  script(src='rpSubmit/controllers/rpSubmitRulesController.js')
  script(src='rpSubmit/directives/rpSubmitLinkDirective.js')
  script(src='rpSubmit/directives/rpSubmitRulesDirective.js')
  script(src='rpSubmit/directives/rpSubmitTextDirective.js')
  script(src='rpSubmit/services/rpSubmitService.js')
  script(src='rpSubmit/services/rpSubmitResourceService.js')
  script(src='rpLoginButton/rpLoginButton.js')
  script(src='rpLoginButton/controllers/rpLoginButtonController.js')
  script(src='rpLoginButton/directives/rpLoginButtonDirective.js')
  script(src='rpSubreddits/rpSubreddits.js')
  script(src='rpSubreddits/controllers/rpSubredditsController.js')
  script(src='rpSubreddits/directives/rpSubredditsDirective.js')
  script(src='rpSubreddits/services/rpSubredditsService.js')
  script(src='rpSubreddits/services/rpSubredditsAboutResourceService.js')
  script(src='rpSubreddits/services/rpSubredditsResourceService.js')
  script(src='rpSubreddits/services/rpSubredditsMineResourceService.js')
  script(src='rpToast/rpToast.js')
  script(src='rpToast/controllers/rpToastController.js')
  script(src='rpToast/services/rpToastService.js')
  script(src='rpToolbar/rpToolbar.js')
  script(src='rpToolbar/controllers/rpToolbarController.js')
  script(src='rpToolbar/controllers/rpToolbarOverflowMenuLayoutButtonController.js')
  script(src='rpToolbar/directives/rpToolbarDirective.js')
  script(src='rpToolbar/directives/rpToolbarOverflowMenuDirective.js')
  script(src='rpToolbar/directives/rpToolbarOverflowMenuLayoutButtonDirective.js')
  script(src='rpToolbar/services/rpToolbarButtonVisibilityService.js')
  script(src='rpToolbarSelect/rpToolbarSelect.js')
  script(src='rpToolbarSelect/controllers/rpToolbarSelectController.js')
  script(src='rpToolbarSelect/controllers/rpToolbarSelectButtonController.js')
  script(src='rpToolbarSelect/directives/rpToolbarSelectButtonDirective.js')
  script(src='rpSubscribe/rpSubscribe.js')
  script(src='rpSubscribe/controllers/rpSubscribeController.js')
  script(src='rpSubscribe/directives/rpSubscribeDirective.js')
  script(src='rpSubscribe/services/rpSubscribeResourceService.js')
  script(src='rpError/rpError.js')
  script(src='rpError/controllers/rpErrorController.js')
  script(src='rpSidebar/rpSidebar.js')
  script(src='rpSidebar/controllers/rpSidebarController.js')
  script(src='rpSidebar/controllers/rpSidebarButtonController.js')
  script(src='rpSidebar/directives/rpSidebarDirective.js')
  script(src='rpSidebar/directives/rpSidebarButtonDirective.js')
  script(src='rpSpeedDial/rpSpeedDial.js')
  script(src='rpSpeedDial/controllers/rpSpeedDialController.js')
  script(src='rpSpeedDial/directives/rpSpeedDialDirective.js')
  script(src='rpRefreshButton/rpRefreshButton.js')
  script(src='rpRefreshButton/controllers/rpRefreshButtonController.js')
  script(src='rpRefreshButton/directives/rpRefreshButtonDirective.js')
  script(src='rpRefreshButton/services/rpRefreshButtonService.js')
  script(src='rpLayoutButton/rpLayoutButton.js')
  script(src='rpLayoutButton/controllers/rpLayoutButtonController.js')
  script(src='rpLayoutButton/directives/rpLayoutButtonDirective.js')
  script(src='rpDialogCloseButton/rpDialogCloseButton.js')
  script(src='rpDialogCloseButton/controllers/rpDialogCloseButtonController.js')
  script(src='rpDialogCloseButton/directives/rpDialogCloseButtonDirective.js')
  script(src='rpGotoSubreddit/rpGotoSubreddit.js')
  script(src='rpGotoSubreddit/controllers/rpGotoSubredditController.js')
  script(src='rpGotoSubreddit/controllers/rpGotoSubredditFormController.js')
  script(src='rpGotoSubreddit/directives/rpGotoSubredditDirective.js')
  script(src='rpOverflowMenu/rpOverflowMenu.js')
  script(src='rpOverflowMenu/directives/rpOverflowMenuDirective.js')
  script(src='rpSocial/rpSocial.js')
  script(src='rpSocial/directives/rpSocialButtonsDirective.js')
  script(src='rpSocial/directives/rpSocialFacebookDirective.js')
  script(src='rpSocial/directives/rpSocialTwitterDirective.js')
  script(src='rpSocial/directives/rpSocialGithubDirective.js')
  script(src='rpSocial/directives/rpSocialPaypalDirective.js')
  script(src='rpSidenav/rpSidenav.js')
  script(src='rpSidenav/controllers/rpSidenavButtonController.js')
  script(src='rpSidenav/directives/rpSidenavButtonDirective.js')
  script(src='rpSidenav/directives/rpSidenavContentDirective.js')
  script(src='rpSidenav/directives/rpSidenavFooterDirective.js')
  script(src='rpFormatting/rpFormatting.js')
  script(src='rpFormatting/directives/rpFormattingDirective.js')
  script(src='rpNightTheme/rpNightTheme.js')
  script(src='rpNightTheme/controllers/rpNightThemeButtonController.js')
  script(src='rpNightTheme/directives/rpNightThemeButtonDirective.js')
  script(src='rpTemplates.js')
  script(src="/javascript/resources/download-deferred.js")
  script(src="/javascript/resources/resize-images.js")

  script(async defer src="https://buttons.github.io/buttons.js")

  //- prerender stuff
  script.
    window.prerenderReady = false;

  //- google search console stuff
  script(type="application/ld+json").
    {
      "@context" : "http://schema.org",
      "@type" : "WebSite", 
      "name" : "reddup",
      "url" : "https://www.reddup.co/",
      //- "logo" : "https://www.reddup.co/images/reddup.png/",
      "potentialAction" : {
        "@type" : "SearchAction",
        "target" : "https://www.reddup.co/search?q={search_term}&sub=all&type=link&restrict_sr=false&sort=relevance&after=&t=all",
        "query-input" : "required name=search_term"
      },
      "sameAs" : [
        "https://www.facebook.com/reddupco/",
        "https://twitter.com/reddupco",
        "https://plus.google.com/b/103151359869853338203/103151359869853338203"
      ]
    }
