extends layout

block intro
	h1 #{title}

block sidebar
	div(ng-include="'partials/sidebarSubreddits'", ng-controller="sidebarSubredditsCtrl")

block content
	.container-fluid
		.row
			.col-md-12
				div(ng-view)
  
