extends layout

//- block intro
//- 	div(ng-controller="AppCtrl", layout="row", layout-fill)
	
//- block sidenav
	
//- 		md-sidenav.md-sidenav-left(md-component-id="left", md-is-locked-open="$media('gt-md')") 

//- block content
//- 	md-content
//- 		md-toolbar
//- 			.md-toolbar-tools
//- 				span(flex) reddit+
//- 		div(ng-view)
  
block content
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$media('gt-md')")
		md-toolbar
			.md-toolbar-tools(flex) reddit+
		md-content
			div(ng-include="'partials/sidenavSubreddits'", ng-controller="sidenavSubredditsCtrl")
	div(layout="column", flex)
		md-toolbar(ng-controller="toolbarCtrl")
			.md-toolbar-tools(flex) {{toolbarTitle}}
		md-content
			div(ng-view)			