extends layout

block content
	//- md-progress-linear.md-accent.rp-progress(ng-controller="rpDeterminateProgressCtrl", ng-show="loading", md-mode="{{mode}}", value="{{value}}")
	md-progress-linear.md-accent.rp-progress(ng-controller="rpDeterminateProgressCtrl", ng-show="loading", md-mode="determinate", value="{{value}}")
	//- md-progress-linear.md-accent.rp-progress(ng-controller="rpIndeterminateProgressCtrl", ng-show="true", md-mode="indeterminate")

	rp-toolbar
	rp-tabs

	md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav.rp-sidenav-left.rp-sidenav-white(md-component-id="left", layout="column")
		rp-sidenav-content

	rp-sidebar


	.rp-page-content(layout="row", flex)

		md-sidenav.md-sidenav-left.rp-sidenav.rp-sidenav-docked(md-component-id="docked", md-is-locked-open="$mdMedia('gt-md')", hide, show-gt-md)
			rp-sidenav-content(flex, layout="column")

		div.rp-main.rp-bottom-sheet-parent#rp-main(layout="column", flex)
			md-content.rp-view(ng-view, layout="column", flex)
	//- rp-speed-dial
	span#dialog-anchor
	
