extends layout

block content
	.progress
		md-progress-linear.md-accent.rp-progress(ng-controller="progressCtrl", ng-show="loading", md-mode="determinate", value="{{value}}")
		//- md-progress-linear.md-accent.rp-progress(ng-controller="progressCtrl", ng-show="loading", md-mode="indeterminate")

	md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", layout="column")
		md-toolbar
			.md-toolbar-tools(flex, layout-align="center") 
				i.rp-sidebar-title-icon.fa.fa-reddit
				//- i.rp-title-icon.fa.fa-plus
				//- span.rp-sidebar-title +
		
		md-content.rp-sidenav-content
			.rp-user()
				if (authenticated)
					.rp-identity(ng-controller="identityCtrl")
						p.rp-identity-name {{identity.name}}
						p.rp-identity-score
							span.rp-identity-link-karma {{identity.link_karma}}
							| •
							span.rp-identity-comment-karma {{identity.comment_karma}}
				.rp-login(layout="row")
					if (authenticated)
						md-button.rp-sidenav-button.md-button-toggle(layout-fill, flex, aria-controls="docs-menu-Themeing", href="/auth/reddit/logout", target="_self") Logout
					else
						md-button.rp-sidenav-button.md-button-toggle.md-accent(layout-fill, flex, aria-controls="docs-menu-Themeing", href="/auth/reddit", target="_self") Login With Reddit
			
			if (authenticated)
				div(ng-include="'partials/rpSubreddits'", ng-controller="subredditsUserCtrl")
			else
				div(ng-include="'partials/rpSubreddits'", ng-controller="subredditsCtrl")
					
					
	div(layout="column", flex)
		md-toolbar.rp-toolbar(ng-controller="toolbarCtrl", layout="row", layout-align="start center", layout-wrap)
			button.rp-menu-button(ng-click="toggleLeft()", hide-gt-md)
				core-icon(icon="menu")
			.md-toolbar-tools(flex) {{toolbarTitle}}
			div(ng-if="filter")
				paper-menu-button(ng-controller="tCtrl")
					paper-icon-button(icon="filter-list")
					paper-dropdown.dropdown.rp-dropdown.md-whiteframe-z1(halign="right", valign="top", transition="core-transition-top")
						core-menu.menu.rp-menu
							paper-item.rp-item(ng-click="tClick('hour')") this hour
							paper-item.rp-item(ng-click="tClick('day')") today
							paper-item.rp-item(ng-click="tClick('week')") this week
							paper-item.rp-item(ng-click="tClick('month')") this month
							paper-item.rp-item(ng-click="tClick('year')") this year
							paper-item.rp-item(ng-click="tClick('all')") all time

		md-toolbar.rp-tab-toolbar(ng-controller="tabsCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
			md-tabs.rp-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
				md-tab.rp-tab(aria-controls="pics", label="Hot", ng-click="tabClick('hot')")
				md-tab.rp-tab(aria-controls="new", label="New", ng-click="tabClick('new')")
				md-tab.rp-tab(aria-controls="rising", label="Rising", ng-click="tabClick('rising')")
				md-tab.rp-tab(aria-controls="controversial", label="Controversial", ng-click="tabClick('controversial')")
				md-tab.rp-tab(aria-controls="top", label="Top", ng-click="tabClick('top')")
		

		md-content.rp-content#rp-content
			div(ng-view)
