extends layout

block content

	span#bottom.rp-bottom
	//- md-progress-linear.md-accent.rp-progress(ng-controller="rpDeterminateProgressCtrl", ng-show="loading", md-mode="{{mode}}", value="{{value}}")
	//- md-progress-linear.md-accent.rp-progress(ng-controller="rpDeterminateProgressCtrl", ng-show="loading", md-mode="determinate", value="{{value}}")
	md-progress-linear.md-accent.rp-progress(ng-controller="rpIndeterminateProgressCtrl", ng-show="loading", md-mode="indeterminate")

	md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", layout="column")
		md-toolbar.rp-brand-toolbar(layout="column", layout-align="center center")
			a(href="/")
				img.rp-brand-logo(src="/images/logo.png")
			a.rp-brand-name(href="/") reddup

		
		md-content.rp-sidenav-content
			.rp-sidenav-user
				//- md-button.rp-sidenav-button#calcWatchers(flex) calc watchers
				.rp-sidenav-identity(ng-controller="rpIdentityCtrl", ng-if="authenticated")
					md-progress-circular.md-accent.rp-sidenav-identity-loading(ng-if="loading", md-mode="indeterminate", md-diameter="24")
					.rp-sidenav-identity-identity(ng-if="!loading", layout-padding, layout-margin)
						a.rp-sidenav-identity-name(href="/u/{{identity.name}}") {{::identity.name}}
						p.rp-sidenav-identity-score
							span.rp-sidenav-identity-link-karma {{::identity.link_karma}}
							|  •  
							span.rp-sidenav-identity-comment-karma {{::identity.comment_karma}}

				.rp-sidenav-login(layout="row")
					md-button.md-button-toggle.rp-sidenav-button(layout-fill, flex, href="/auth/reddit/logout", target="_self", ng-if="authenticated") 
						| Logout
					md-button.md-button-toggle.md-accent.rp-sidenav-button(ng-controller="rpLoginCtrl", layout-fill, flex, href="/auth/reddit/login/{{safePath}}", target="_self", ng-if="!authenticated")
						| Login With Reddit
			
			.rp-sidenav-settings(ng-controller="rpSettingsSidenavCtrl")
				md-button.rp-sidenav-button(flex, ng-click="showSettings($event)") Settings

			.rp-sidenav-message(ng-if="authenticated", ng-controller="rpMessageSidenavCtrl")
				md-button.rp-sidenav-button(flex) Messages
				md-button.rp-sidenav-message-button(ng-click="showInbox($event)", flex) Inbox
				md-button.rp-sidenav-message-button(flex, ng-click="showCompose($event)") Compose
				md-button.rp-sidenav-message-button(flex, ng-click="showSent($event)") Sent

			div(ng-include="'partials/rpSubreddits'", ng-controller="rpSubredditsCtrl")

					
	div.rp-main.rp-bottom-sheet-parent#rp-main(layout="column", flex)

		.rp-toolbar-wrapper(ng-controller="rpToolbarCtrl", layout="row")

			md-toolbar.rp-toolbar(layout-align="start center", ng-if="!isOpen", ng-class="{'rp-toolbar-search-open': showSearchForm, 'rp-toolbar-shadow': showToolbarShadow}")
				
				.md-toolbar-tools.rp-toolbar-tools

					md-button.rp-toolbar-menu-button.md-icon-button(ng-click="toggleLeft()", hide-gt-md, aria-label="menu",  ng-if="!showSearchForm")
						md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_menu_black_48px.svg")
							md-tooltip menu

					//- md-button.md-icon-button(aria-label="close search", ng-if="!showSearchForm", ng-click="back()")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_arrow_back_black_48px.svg")
								md-tooltip back
				
					md-button.md-icon-button(aria-label="close search", ng-if="showSearchForm", ng-click="toggleSearchForm()")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_arrow_back_black_48px.svg")
								md-tooltip close search


					.md-toolbar-title.rp-toolbar-title(ng-if="!showSearchForm") 
						a(href="{{toolbarTitle}}", ng-if="linkTitle") {{toolbarTitle}}
						span(ng-if="!linkTitle") {{toolbarTitle}}

					rp-search-form(ng-if="showSearchForm")

					span(ng-if="!showSearchForm", flex)

					.rp-toolbar-post-filter.rp-toolbar-action(ng-if="!showSearchForm", ng-show="showPostFilter", ng-controller="rpPostsTimeFilterCtrl")
						md-button.rp-toolbar-action-button.md-icon-button(aria-label="filter time", rp-toolbar-select-button="#rp-post-time-filter-select")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_access_time_black_48px.svg")
								md-tooltip filter by time
						md-select.rp-toolbar-select#rp-post-time-filter-select(ng-model="postTime", ng-change="selectTime(postTime)", aria-label="time")
							md-option.rp-select-option(value="hour") 
								span.rp-select-option-label this hour
							md-option.rp-select-option(value="day") 
								span.rp-select-option-label today
							md-option.rp-select-option(value="week") 
								span.rp-select-option-label this week
							md-option.rp-select-option(value="month") 
								span.rp-select-option-label this month
							md-option.rp-select-option(value="year")
								span.rp-select-option-label  this year
							md-option.rp-select-option(value="all") 
								span.rp-select-option-label all time

						
					.rp-toolbar-user-filter.rp-toolbar-action(ng-if="!showSearchForm", ng-show="showUserFilter", ng-controller="rpUserTimeFilterCtrl")
						md-button.rp-toolbar-action-button.md-icon-button(aria-label="filter time", rp-toolbar-select-button="#rp-user-time-filter-select")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_access_time_black_48px.svg")
								md-tooltip filter by time
						md-select.rp-toolbar-select#rp-user-time-filter-select(ng-model="userTime", ng-change="selectTime(userTime)", aria-label="time")
							md-option.rp-select-option(value="hour") 
								span.rp-select-option-label this hour
							md-option.rp-select-option(value="day") 
								span.rp-select-option-label today
							md-option.rp-select-option(value="week") 
								span.rp-select-option-label this week
							md-option.rp-select-option(value="month") 
								span.rp-select-option-label this month
							md-option.rp-select-option(value="year")
								span.rp-select-option-label  this year
							md-option.rp-select-option(value="all") 
								span.rp-select-option-label all time
						
					.rp-toolbar-user-sort.rp-toolbar-action(ng-if="!showSearchForm", ng-show="showUserSort", ng-controller="rpUserSortCtrl")
						md-button.rp-toolbar-action-button.md-icon-button(aria-label="sort", rp-toolbar-select-button="#rp-user-sort-select")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_sort_48px.svg")
								md-tooltip sort
						md-select.rp-toolbar-select#rp-user-sort-select(ng-model="userSort", ng-change="selectSort(userSort)", aria-label="time")
							md-option.rp-select-option(value="new") 
								span.rp-select-option-label New
							md-option.rp-select-option(value="hot") 
								span.rp-select-option-label Hot
							md-option.rp-select-option(value="top") 
								span.rp-select-option-label Top
							md-option.rp-select-option(value="controversial") 
								span.rp-select-option-label Controversial

					.rp-toolbar-rules(ng-if="!showSearchForm", ng-show="showRules")
						md-button.rp-toolbar-action-button.md-icon-button(aria-label="subreddit rules", ng-click="openRules()")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_chrome_reader_mode_black_48px.svg")
								md-tooltip subreddit rules

					.rp-toolbar-search-filter.rp-toolbar-action(ng-if="!showSearchForm", ng-show="showSearchFilter  && type === 'link'", ng-controller="rpSearchTimeFilterCtrl")
						md-button.rp-toolbar-action-button.md-icon-button(aria-label="filter time", rp-toolbar-select-button="#rp-search-time-filter-select")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_access_time_black_48px.svg")
								md-tooltip search by time
						md-select.rp-toolbar-select#rp-search-time-filter-select(ng-model="time", ng-change="selectTime(time)", aria-label="time")
							md-option.rp-select-option(value="hour") 
								span.rp-select-option-label this hour
							md-option.rp-select-option(value="day") 
								span.rp-select-option-label today
							md-option.rp-select-option(value="week") 
								span.rp-select-option-label this week
							md-option.rp-select-option(value="month") 
								span.rp-select-option-label this month
							md-option.rp-select-option(value="year")
								span.rp-select-option-label  this year
							md-option.rp-select-option(value="all") 
								span.rp-select-option-label all time

					.rp-toolbar-search
						md-button.md-icon-button(aria-label="search", ng-if="!showSearchForm", ng-click="toggleSearchForm()")
							md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_search_black_48px.svg")
								md-tooltip search
						

		md-content.rp-view(ng-view, layout="column", flex)

	md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id="right")
		.rp-sdebar(ng-controller="rpSidebarCtrl")
			md-toolbar.md-theme-light
				.md-toolbar-tools
					h1 {{about.display_name}}

					span(flex)

					.rp-toolbar-subscribe(ng-if="authenticated && !showSearchForm", ng-show="showSubscribe", ng-controller="rpSubscribeCtrl")
						md-progress-circular.md-accent(md-mode="indeterminate", ng-if="loadingSubscription", md-diameter="24")
						md-button.rp-sidebar-toolbar-action-button.md-icon-button#rp-posts-sub-button(ng-if="!loadingSubscription", aria-label="subscribe", ng-click="toggleSubscription()")
							.rp-toolder-subscribe-icon-switch(ng-switch="subscribed")
								md-icon.rp-toolbar-action-icon(ng-switch-when="true", md-svg-src="../../icons/ic_check_box_black_24px.svg")
									md-tooltip subscribed
								md-icon.rp-toolbar-action-icon(ng-switch-when="false", md-svg-src="../../icons/ic_check_box_outline_blank_black_24px.svg")
									md-tooltip not subscribed

			md-content(layout-padding)
				//- p {{about.description}}
				.rp-sidebar-header(layout-padding, layout="row")
					span.rp-readers(flex) {{about.subscribers | number}} readers  
					span.rp-here(flex) {{about.accounts_active | number}} here  
				.rp-sidebar-description
					p(ng-bind-html="about.description_html | rp_open_link_new_window | rp_unescape_embed")
