extends layout

block content
	//- md-progress-linear.md-accent.rp-progress(ng-controller="progressCtrl", ng-show="loading", md-mode="determinate", value="{{value}}")
	md-progress-linear.md-accent.rp-progress(ng-controller="progressCtrl", ng-show="loading", md-mode="indeterminate")

	md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", layout="column")
		md-toolbar
			.md-toolbar-tools(flex, layout-align="center") 
				i.rp-sidenav-title-icon.fa.fa-reddit
				//- i.rp-title-icon.fa.fa-plus
				//- span.rp-sidenav-title +
		
		md-content.rp-sidenav-content
			.rp-sidenav-user
				md-button.rp-sidenav-button#calcWatchers(flex) calc watchers
				.rp-sidenav-identity(ng-controller="identityCtrl", ng-if="authenticated")
					p.rp-sidenav-identity-name {{::identity.name}}
					p.rp-sidenav-identity-score
						span.rp-sidenav-identity-link-karma {{::identity.link_karma}}
						| •
						span.rp-sidenav-identity-comment-karma {{::identity.comment_karma}}
				.rp-sidenav-login(layout="row")
					md-button.md-button-toggle.rp-sidenav-button(layout-fill, flex, href="/auth/reddit/logout", target="_self", ng-if="authenticated") 
						| Logout
					md-button.md-button-toggle.md-accent.rp-sidenav-button(layout-fill, flex, href="/auth/reddit", target="_self", ng-if="!authenticated")
						| Login With Reddit
			div(ng-include="'partials/rpSubreddits'", ng-controller="subredditsCtrl")
					
	div.rp-main#rp-main(layout="column", flex)
		md-toolbar.rp-toolbar(ng-controller="toolbarCtrl", layout="row", layout-align="start center", layout-wrap)
			button.rp-toolbar-menu-button(ng-click="toggleLeft()", hide-gt-md)
				md-icon.rp-toolbar-menu-icon(md-svg-src="../../icons/ic_menu_36px.svg")
			.md-toolbar-tools(flex) {{toolbarTitle}}
			div(ng-show="filter", ng-controller="timeFilterCtrl")
				md-button.rp-time-filter-button#rp-time-filter-button(aria-label="filter time")
					md-icon(md-svg-src="../../icons/ic_filter_list_48px.svg")
				md-select.rp-time-filter-select(ng-model="time", ng-change="selectTime(time)")
					md-option.rp-time-option(value="hour") 
						span.rp-time-option-label this hour
					md-option.rp-time-option(value="day") 
						span.rp-time-option-label today
					md-option.rp-time-option(value="week") 
						span.rp-time-option-label this week
					md-option.rp-time-option(value="month") 
						span.rp-time-option-label this month
					md-option.rp-time-option(value="year")
						span.rp-time-option-label  this year
					md-option.rp-time-option(value="all") 
						span.rp-time-option-label all time

		md-toolbar.rp-tab-toolbar(ng-controller="tabsCtrl", md-scroll-shrink, md-shrink-speed-factor="0.5", layout="row")
			md-tabs.rp-tabs(md-stretch-tabs="always", md-selected="selectedIndex", flex)
				md-tab.rp-tab(aria-controls="hot", label="Hot", ng-click="tabClick('hot')")
				md-tab.rp-tab(aria-controls="new", label="New", ng-click="tabClick('new')")
				md-tab.rp-tab(aria-controls="rising", label="Rising", ng-click="tabClick('rising')")
				md-tab.rp-tab(aria-controls="controversial", label="Controversial", ng-click="tabClick('controversial')")
				md-tab.rp-tab(aria-controls="top", label="Top", ng-click="tabClick('top')")
		
		md-content.rp-content#rp-content(flex)
			div.rp-view(ng-view)
