extends layout

block content
	//- md-progress-linear.md-accent.rp-progress(ng-controller="rpDeterminateProgressCtrl", ng-show="loading", md-mode="determinate", value="{{value}}")
	md-progress-linear.md-accent.rp-progress(ng-controller="rpIndeterminateProgressCtrl", ng-show="loading", md-mode="indeterminate")

	md-sidenav.md-sidenav-left.md-whiteframe-z2.rp-sidenav(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", layout="column")
		md-toolbar
			.md-toolbar-tools(flex, layout-align="center") 
				i.rp-sidenav-title-icon.fa.fa-reddit
				//- i.rp-title-icon.fa.fa-plus
				//- span.rp-sidenav-title +
		
		md-content.rp-sidenav-content
			.rp-sidenav-user
				//- md-button.rp-sidenav-button#calcWatchers(flex) calc watchers
				.rp-sidenav-identity(ng-controller="rpIdentityCtrl", ng-if="authenticated")
					a.rp-sidenav-identity-name(ng-if="identity", href="/u/{{identity.name}}", target="_blank") {{::identity.name}}
					p.rp-sidenav-identity-score
						span.rp-sidenav-identity-link-karma(ng-if="identity") {{::identity.link_karma}}
						|  •  
						span.rp-sidenav-identity-comment-karma(ng-if="identity") {{::identity.comment_karma}}
				.rp-sidenav-login(layout="row")
					md-button.md-button-toggle.rp-sidenav-button(layout-fill, flex, href="/auth/reddit/logout", target="_self", ng-if="authenticated") 
						| Logout
					md-button.md-button-toggle.md-accent.rp-sidenav-button(layout-fill, flex, href="/auth/reddit", target="_self", ng-if="!authenticated")
						| Login With Reddit
			.rp-sidenav-message(ng-if="authenticated", ng-controller="rpMessageSidebarCtrl")
				md-button.rp-sidenav-button(flex) Messages
				md-button.rp-sidenav-message-button(href="/message/inbox", flex) Inbox
				md-button.rp-sidenav-message-button(flex, ng-click="showCompose($event)") Compose
				md-button.rp-sidenav-message-button(href="/message/sent", flex) Sent

			div(ng-include="'partials/rpSubreddits'", ng-controller="rpSubredditsCtrl")

					
	div.rp-main#rp-main(layout="column", flex)
		
		md-toolbar.rp-toolbar(ng-controller="rpToolbarCtrl", layout="row", layout-align="start center", layout-wrap)
			
			button.rp-toolbar-menu-button(ng-click="toggleLeft()", hide-gt-md)
				md-icon.rp-toolbar-menu-icon(md-svg-src="../../icons/ic_menu_36px.svg")
			
			.md-toolbar-tools(flex) {{toolbarTitle}}
			
			.rp-toolbar-post-filter.rp-toolbar-action(ng-show="showPostFilter", ng-controller="rpPostsTimeFilterCtrl")
				md-button.rp-toolbar-action-button#rp-post-time-filter-button(aria-label="filter time")
					md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_filter_list_48px.svg")
				md-select.rp-toolbar-select.rp-post-time-filter-select(ng-model="time", ng-change="selectTime(time)")
					md-option.rp-select-option(value="hour") 
						span.rp-select-option-label this hour
					md-option.rp-select-option(value="day") 
						span.rp-select-option-label today
					md-option.rp-select-option(value="week") 
						span.rp-select-option-label this week
					md-option.rp-select-option(value="month") 
						span.rp-select-option-label this month
					md-option.rp-select-option(value="year")
						span.rp-select-option-label  this year
					md-option.rp-select-option(value="all") 
						span.rp-select-option-label all time

			.rp-toolbar-user-filter.rp-toolbar-action(ng-show="showUserFilter", ng-controller="rpUserTimeFilterCtrl")
				md-button.rp-toolbar-action-button#rp-user-time-filter-button(aria-label="filter time")
					md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_filter_list_48px.svg")
				md-select.rp-toolbar-select.rp-user-time-filter-select(ng-model="time", ng-change="selectTime(time)")
					md-option.rp-select-option(value="hour") 
						span.rp-select-option-label this hour
					md-option.rp-select-option(value="day") 
						span.rp-select-option-label today
					md-option.rp-select-option(value="week") 
						span.rp-select-option-label this week
					md-option.rp-select-option(value="month") 
						span.rp-select-option-label this month
					md-option.rp-select-option(value="year")
						span.rp-select-option-label  this year
					md-option.rp-select-option(value="all") 
						span.rp-select-option-label all time

			.rp-toolbar-user-sort.rp-toolbar-action(ng-show="showUserSort", ng-controller="rpUserSortCtrl")
				md-button.rp-toolbar-action-button#rp-user-sort-button(aria-label="sort")
					md-icon.rp-toolbar-action-icon(md-svg-src="../../icons/ic_sort_48px.svg")
				md-select.rp-toolbar-select.rp-user-sort-select(ng-model="sort", ng-change="selectSort(sort)")
					md-option.rp-select-option(value="hot") 
						span.rp-select-option-label Hot
					md-option.rp-select-option(value="top") 
						span.rp-select-option-label Top
					md-option.rp-select-option(value="controversial") 
						span.rp-select-option-label Controversial

		
		.rp-view(ng-view, layout="column")