doctype html
html(lang="en", ng-app="rpApp", ng-controller="rpAppCtrl", ng-init="setAuthentication(#{authenticated})", md-theme="{{theme}}")
	include head.jade
body.rp-body(layout="column")
	script.
		;(function(e,t,n,c,i,d,a,o,r){e.kjObject=i,e[i]===r&&(a=t.createElement(n),
		  a.async=1,a.src=c,o=t.getElementsByTagName(n)[0],o.parentNode.insertBefore(a,o)),
		  e[i]=e[i]||{s:d,ix:0,q:{},tag:function(t,n){e[i].q[t]=n||{},e[i].ix+=1}}
		})(window,document,"script","//cdn.kjclk.net/kjinit.js","_kj",1891);
	block content
