.rp-feedback-dialog {
  max-width: 95%;
  height: 95%;
  max-height: 95% !important;
  @media (min-width: @layout-md) {
    max-width: 80%;
  }
  @media (min-width: @layout-lg) {
    max-width: 60%;
  }
}