.rp-article-content {
  .rp-edit-form {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    word-wrap: break-word;

    form {
      padding-top: 0;
      padding-bottom: 0;
    }

    .md-resize-wrapper {
      padding: 0 !important;
    }
  }

  .rp-article-edit-post-form {
    md-input-container {
      margin-bottom: 0;
      padding: 2px;
    }
  }
}