md-menu.rp-overflow-menu(md-position-mode="target-right target")
  md-button.md-fab.rp-post-fab(aria-label="more", ng-click="$mdOpenMenu($event)")
    md-icon.rp-post-fab-icon(md-menu-origin, md-svg-icon="ic_more_vert_black_24px")
  md-menu-content
    md-menu-item.rp-link-menu-item
      rp-save-button-menu.rp-post-action.no-padding(reddit-id="::post.data.name", saved="post.data.saved")
    md-menu-item.rp-link-menu-item
      rp-share-button-menu.rp-post-action.no-padding(post="post")
    md-menu-item.rp-link-menu-item(ng-if="!isComment")
      rp-hide-button-menu.rp-post-action.no-padding(reddit-id="::post.data.name", is-hidden="::post.data.hidden", parent-ctrl="thisController")
    md-menu-item.rp-link-menu-item(ng-if="isMine === true")
      rp-delete-button-menu.rp-post-action.no-padding(parent-ctrl="thisController")
    md-menu-item.rp-link-menu-item
      rp-open-new-button-menu.rp-post-action.no-padding(post="post", is-comment="isComment")
    md-menu-item.rp-link-menu-item(ng-if="isComment")
      rp-article-context-button-menu.rp-post-action.no-padding(flex,parent-ctrl="thisController", post="post", is-comment="isComment", ng-if="isComment")
