.rp-toolbar-subscribe(ng-if="appCtrl.isAuthenticated && visibilitySettings.showSubscribe")
  md-progress-circular.md-accent(md-mode="indeterminate", ng-if="loadingSubscription", md-diameter="32")
  md-button.rp-sidebar-toolbar-action-button.md-icon-button#rp-posts-sub-button(ng-if="!loadingSubscription", aria-label="subscribe", ng-click="toggleSubscription()")
    .rp-toolder-subscribe-icon-switch(ng-switch="subredditsService.subscribed")
      md-icon.rp-toolbar-action-icon(ng-switch-when="true", md-svg-icon="ic_check_box_black_24px")
        md-tooltip(hide, show-gt-sm) subscribed
      md-icon.rp-toolbar-action-icon(ng-switch-when="false", md-svg-icon="ic_check_box_outline_blank_black_24px")
        md-tooltip(hide, show-gt-sm) not subscribed
