/*
     Fonts
*/

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
     font-family: 'Roboto Medium';
    src: url('/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
     font-family: 'Roboto Condensed';
    src: url('/fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
     font-family: 'Roboto Condensed Bold';
    src: url('/fonts/roboto/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster Two';
    src: url('/fonts/LobsterTwo-Italic.ttf');
}
@font-face {
    font-family: 'Lobster';
    src:url(/fonts/Lobster-Regular);
}
@normal-text-color: rgba(0, 0, 0, 0.87);
// @light-text-color: rgba(0, 0, 0, 0.54);
// @light-text-color: #999;

.roboto {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     color: @normal-text-color;

     &.light {
          font-family: "Roboto", sans-serif;
          font-weight: 100;
     }
     &.thin {
          font-family: "Roboto Thin", sans-serif;
     }
     &.medium {
          font-family: "Roboto Medium", sans-serif;
     }
     &.condensed {
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 300;
     }
}

.link {
  text-decoration: none;

  // color: @md-default-accent;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    // color: @rp-article-depth-8;
  }
}

body {
  .roboto;
  overflow: hidden;
}
