@rp-link-transition-duration: 500ms;

rp-link md-card {
            animation: fadeout @rp-link-transition-duration !important;
            animation: fadein @rp-link-transition-duration !important;

}
// rp-link md-card {
//     -webkit-animation: fadeout @rp-link-transition-duration !important; /* Safari, Chrome and Opera > 12.1 */
//        -moz-animation: fadeout @rp-link-transition-duration !important; /* Firefox < 16 */
//         -ms-animation: fadeout @rp-link-transition-duration !important; /* Internet Explorer */
//          -o-animation: fadeout @rp-link-transition-duration !important; /* Opera < 12.1 */
//             animation: fadeout @rp-link-transition-duration !important;
//
//     -webkit-animation: fadein @rp-link-transition-duration !important; /* Safari, Chrome and Opera > 12.1 */
//        -moz-animation: fadein @rp-link-transition-duration !important; /* Firefox < 16 */
//         -ms-animation: fadein @rp-link-transition-duration !important; /* Internet Explorer */
//          -o-animation: fadein @rp-link-transition-duration !important; /* Opera < 12.1 */
//             animation: fadein @rp-link-transition-duration !important;
//
// }
