/*
durations
 */
@rp-fade-duration: 500ms;

/*
curves
 */
@rp-deceleration-curve: cubic-bezier(0.0, 0.0, 0.2, 1);
@rp-acceleration-curve: cubic-bezier(0.4, 0.0, 1, 1);
@rp-expando-curve: cubic-bezier(0.35, 0, 0.25, 1);

/*
keyframes
 */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes enter {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes leave {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(1000px);
    }
}

@keyframes enterarticle {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes leavearticle {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(1000px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes commententer {
    from {
        // transform: translateY(100px);
        opacity: 0;
    }
    to {
        // transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes toolbarenter {
    from {
        transform: translateY(-64px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes tabbarenter {
    from {
        transform: translateY(-192px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes betatagenter {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes betatextenter {
    from {
        left: -100px;
    }
    to {
        left: 0px;
    }
}

@keyframes sidenaventer {
    from {
        transform: translateX(-630px);
    }
    to {
        transform: translateX(0px);
    }
}

/*
rules
 */

.rp-animation-card {
    display: block;
}

.rp-animation-card.ng-enter {
    animation: enter 150ms @rp-deceleration-curve !important;
}

.rp-animation-card.ng-leave { //use .rp-main.ng-leave (ng-view) instead
    animation: leave 150ms @rp-acceleration-curve !important;
}


img {
    animation: fadein @rp-fade-duration !important;
}

.rp-animations-sidenav-list {
    transition: max-height 750ms @rp-expando-curve !important;
}

.rp-animation-spin {
    animation: spin 0.75s linear !important;
    animation-iteration-count: infinite !important;
}

.rp-article-card-loaded-add {
    animation: enterarticle 250ms @rp-deceleration-curve !important;
}

.rp-main.ng-leave {
    // min-width: 100%;
    display: block !important;
    animation: leavearticle 250ms @rp-acceleration-curve !important;
}

.rp-main.ng-enter {
    max-width: 0 !important;
}

.rp-animation-comment.ng-enter {
    animation: commententer 1s @rp-deceleration-curve !important;
}

.rp-animation-toolbar {
    animation: toolbarenter 300ms @rp-deceleration-curve !important;

}
.rp-animation-tabbar {
    animation: tabbarenter 1300ms @rp-deceleration-curve !important;

}
.rp-animation-beta-tag {
    animation: betatagenter 1300ms @rp-deceleration-curve !important;
}
.rp-animation-beta-text {
    animation: betatextenter 1800ms @rp-deceleration-curve !important;
}

.rp-animation-sidenav-enter {
    animation: sidenaventer 1300ms @rp-deceleration-curve !important;
}
//disable dialog transitions
md-dialog {
    transition-duration: 0s !important;
}
