.rp-bottom-sheet md-icon {
	width: 48px;
	height: 48px;
}



.rp-bottom-sheet md-icon svg {
	fill: @inactive-icon;

	
}

.rp-bottom-sheet md-icon:hover {
	svg {
		fill: @active-icon;
		
	}
}


.rp-bottom-sheet .md-grid-text {
	margin-left: auto !important;
	margin-right: auto !important;
}

.rp-bottom-sheet md-list md-list-item button {
	padding: 8px;
}