.rp-brand {
    cursor: pointer;
    cursor: hand;
    &:focus {
        outline-color: transparent !important;
    }
}

.rp-sidenav-white .rp-brand {
    background-color: #fff !important;

}

.rp-brand-logo {
    // width: 96px;
    // margin-top: 8px;
    // box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)
}

.rp-toolbar .rp-brand-logo {
    width: auto;
    max-height: 48px;
    margin: 14px;
    margin-top: 18px;
}

.rp-brand-name {
    font-family: "Roboto Light";
    // font-family: "Lobster";
    // font-family: "Lobster Two";
    font-size: 34px !important;
    color: white;
    text-decoration: none !important;
    letter-spacing: -1px;
}

// .rp-sidenav-white .rp-brand-name {
//     color: @light-text-color;
//
// }

.rp-toolbar .rp-brand-name {
    font-size: 128px;
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    padding-right: 20px;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
}

.rp-brand-icon {
    width: 148px;
    height: 52px;

}

.rp-toolbar .rp-brand-icon {
    margin-left: 24px;
    margin-right: 24px;
    padding-right: 24px;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
    margin-top: 8px;
}

.rp-toolbar .rp-brand-icecream-icon {
    margin-left: 28px;
    margin-right: 28px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 8px;
    height: 52px;
    width: 52px;
}
