rp-card-container {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: auto;

	.rp-card-wrapper {
		margin: 0 auto;
		position: relative;
	}

	.rp-card-col-1-0 {
		left: 0px;
	}

	.rp-card-col-2-0 {
		left: 0px;
	}
	.rp-card-col-2-1 {
		left: @two-columns-size;
	}

	.rp-card-col-3-0 {
		left: 0px;
	}
	.rp-card-col-3-1 {
		left: @three-columns-size;
	}
	.rp-card-col-3-2 {
		left: @three-columns-size * 2;
	}

	.rp-card-col-4-0 {
		left: 0px;
	}
	.rp-card-col-4-1 {
		left: @four-columns-size;
	}
	.rp-card-col-4-2 {
		left: @four-columns-size * 2;
	}
	.rp-card-col-4-3 {
		left: @four-columns-size * 3;
	}
	


	rp-card {
		.rp-posts-col;
		position: absolute;

	}
}
