/*
    DEFAULT BLUE:DEEP-ORANGE THEME
 */

.md-deafult-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-deep-orange-500 !important;
}

.md-deafult-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-deep-orange-700 !important;
}

.md-deafult-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-deep-orange-300 !important;
}

.md-deafult-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-deep-orange-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-default-theme {
	background-color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-beta-tag:after {
	background: @mdc-deep-orange-A200;

}

.md-default-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-deep-orange-50 !important;
}

.md-default-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-deep-orange-A200;
}

.md-default-theme .rp-fab.default a {
	background-color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-comment a:link {
	color: @mdc-deep-orange-A200;
}

.md-default-theme .rp-comment a:hover {
	color: @mdc-deep-orange-A200;
}

.md-default-theme .rp-comment a:visited {
	color: @mdc-deep-orange-A200;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-deep-orange-50 !important;
}

.md-default-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-deep-orange-50 !important;
}

.md-default-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-deep-orange-100 !important;
}

.md-default-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-deep-orange-200 !important;
}

.md-default-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-deep-orange-300 !important;
}

.md-default-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-deep-orange-400 !important;
}

.md-default-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-deep-orange-500 !important;
}

.md-default-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-deep-orange-600 !important;
}

.md-default-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-deep-orange-700 !important;
}

.md-default-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-deep-orange-800 !important;
}

.md-default-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-deep-orange-900 !important;
}

.md-default-theme .rp-post-selftext a {
	color: @mdc-deep-orange-A200;

	&:hover {
		color: @mdc-deep-orange-A200;
	}

	&:visited {
		color: @mdc-deep-orange-A200;
	}
}

.md-default-theme .rp-sidebar-description a {
	color: @mdc-deep-orange-A200;

	&:hover {
		color: @mdc-deep-orange-A200;
	}

	&:visited {
		color: @mdc-deep-orange-A200;
	}
}

.md-default-theme .rp-formatting a {
	color: @mdc-deep-orange-A200;

	&:hover {
		color: @mdc-deep-orange-A200;
	}

	&:visited {
		color: @mdc-deep-orange-A200;
	}
}

.md-default-theme .rp-post-fab#info {
	color: @mdc-deep-orange-A200 !important;

}

.md-default-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-deep-orange-A200 !important;

	svg {
		fill: @mdc-deep-orange-A200 !important;
	}
}

.md-default-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-deep-orange-A200 !important;

		svg {
			fill: @mdc-deep-orange-A200 !important;
		}
	}
}

.md-default-theme .rp-feedback-icon {
	color: @mdc-deep-orange-A200;

}

.md-default-theme .rp-feedback-link {
	color: @mdc-deep-orange-A200;

	&:hover {
		text-decoration: underline;
	}
}

.md-default-theme .rp-autocomplete input:focus {
	border-color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-article-header-author {
	&:hover {
		color: @mdc-deep-orange-A200 !important;
	}
}

.md-default-theme .rp-article-header-subreddit {
	&:hover {
		color: @mdc-deep-orange-A200 !important;
	}
}

.md-default-theme .rp-comment-user-op {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-captcha-button {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-captcha-reload-icon:hover {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-comment-showmore-link:hover {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-direct-message-body a {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-message-comment-body-html a {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-search-sub-link:hover {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-submit-submitted-link {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme md-tab-item.md-active {
	color: @mdc-deep-orange-A200 !important;
}

md-tabs.md-default-theme md-tabs-ink-bar {
	color: @mdc-deep-orange-A200;
	background: @mdc-deep-orange-A200;
}

.md-default-theme .rp-item:hover {
	color: @mdc-deep-orange-A200;
}

.md-default-theme .rp-select-option {
	color: @mdc-deep-orange-A200 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-deep-orange-A200 !important;
	}
}

.md-default-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-deep-orange-A200 !important;
}

md-input-container.md-default-theme.md-input-invalid label {
	color: @mdc-deep-orange-A700 !important;

	&:after {
		color: @mdc-deep-orange-A700 !important;

	}
}

md-input-container.md-default-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-deep-orange-A700 !important;
}

md-input-container.md-default-theme.md-input-invalid .md-input {
	border-color: @mdc-deep-orange-A700 !important;
}

md-input-container.md-default-theme.md-input-invalid.md-input-focused input {
	color: @mdc-deep-orange-A700 !important;
}

.md-default-theme a.rp-formatting-link {
	color: @mdc-deep-orange-A200;
}

md-input-container.md-default-theme input:focus {
	border-color: @mdc-deep-orange-A200 !important;
}

md-input-container.md-default-theme.md-input-focused label {
	color: @mdc-deep-orange-A200 !important;
}

// .rp-toolbar.md-default-theme .rp-brand-name {
//   text-shadow: 1px 1px @mdc-deep-orange-A200, 2px 2px @mdc-deep-orange-A200, 2px 3px @mdc-deep-orange-A200;
//
// }

// .md-default-theme .rp-brand-name {
//     color: #fff;

//     // 1
//     text-shadow:1px 0px @mdc-deep-orange-A200, -1px 0px @mdc-deep-orange-A200, 0px 1px @mdc-deep-orange-A200, 0px -1px @mdc-deep-orange-A200, 1px 1px @mdc-deep-orange-A200, -1px -1px @mdc-deep-orange-A200, -1px 1px @mdc-deep-orange-A200, 1px -1px @mdc-deep-orange-A200,

//     // 2
//     -2px 0px @mdc-deep-orange-A200, 0px 2px @mdc-deep-orange-A200, -2px 2px @mdc-deep-orange-A200,

//     // 3
//     -3px 0px @mdc-deep-orange-A200, -3px 1px @mdc-deep-orange-A200, -3px 2px @mdc-deep-orange-A200, 0px 3px @mdc-deep-orange-A200, -1px 3px @mdc-deep-orange-A200, -2px 3px @mdc-deep-orange-A200, -3px 3px @mdc-deep-orange-A200;

// }

.md-default-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-deep-orange-A200 !important;
}

.md-default-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-deep-orange-A200 !important;

		svg {
			fill: @mdc-deep-orange-A200 !important;
		}
	}
}

.md-default-theme .rp-post-fab#send {
	color: @mdc-deep-orange-A200 !important;
}

.md-default-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-deep-orange-A200 !important;
}

md-select-menu.md-default-theme md-option[selected] {
	color: @mdc-deep-orange-A200 !important;
}

/*
    INDIGO:PINK THEME
 */

.md-indigo-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-pink-500 !important;
}

.md-indigo-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-pink-700 !important;
}

.md-indigo-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-pink-300 !important;
}

.md-indigo-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-pink-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-indigo-theme {
	background-color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-beta-tag:after {
	background: @mdc-pink-A200;
}

.md-indigo-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-pink-50 !important;
}

.md-indigo-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-pink-A200;
}

.rp-fab.indigo a {
	background-color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-comment a:link {
	color: @mdc-pink-A200;
}

.md-indigo-theme .rp-comment a:hover {
	color: @mdc-pink-A200;
}

.md-indigo-theme .rp-comment a:visited {
	color: @mdc-pink-A200;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-pink-50 !important;
}

.md-indigo-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-pink-50 !important;
}

.md-indigo-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-pink-100 !important;
}

.md-indigo-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-pink-200 !important;
}

.md-indigo-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-pink-300 !important;
}

.md-indigo-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-pink-400 !important;
}

.md-indigo-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-pink-500 !important;
}

.md-indigo-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-pink-600 !important;
}

.md-indigo-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-pink-700 !important;
}

.md-indigo-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-pink-800 !important;
}

.md-indigo-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-pink-900 !important;
}

.md-indigo-theme .rp-post-selftext a {
	color: @mdc-pink-A200;

	&:hover {
		color: @mdc-pink-A200;
	}

	&:visited {
		color: @mdc-pink-A200;
	}
}

.md-indigo-theme .rp-sidebar-description a {
	color: @mdc-pink-A200;

	&:hover {
		color: @mdc-pink-A200;
	}

	&:visited {
		color: @mdc-pink-A200;
	}
}

.md-indigo-theme .rp-formatting a {
	color: @mdc-pink-A200;

	&:hover {
		color: @mdc-pink-A200;
	}

	&:visited {
		color: @mdc-pink-A200;
	}
}

.md-indigo-theme .rp-post-fab#info {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-pink-A200 !important;

	svg {
		fill: @mdc-pink-A200 !important;
	}
}

.md-indigo-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-pink-A200 !important;

		svg {
			fill: @mdc-pink-A200 !important;
		}
	}
}

.md-indigo-theme .rp-feedback-icon {
	color: @mdc-pink-A200;

}

.md-indigo-theme .rp-feedback-link {
	color: @mdc-pink-A200;

	&:hover {
		text-decoration: underline;
	}
}

.md-indigo-theme .rp-autocomplete input:focus {
	border-color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-article-header-author {
	&:hover {
		color: @mdc-pink-A200 !important;
	}
}

.md-indigo-theme .rp-article-header-subreddit {
	&:hover {
		color: @mdc-pink-A200 !important;
	}
}

.md-indigo-theme .rp-comment-user-op {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-captcha-button {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-captcha-reload-icon:hover {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-comment-showmore-link:hover {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-direct-message-body a {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-message-comment-body-html a {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-search-sub-link:hover {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-submit-submitted-link {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme md-tab-item.md-active {
	color: @mdc-pink-A200 !important;
}

md-tabs.md-indigo-theme md-tabs-ink-bar {
	color: @mdc-pink-A200;
	background: @mdc-pink-A200;
}

.md-indigo-theme .rp-item:hover {
	color: @mdc-pink-A200;
}

.md-indigo-theme .rp-select-option {
	color: @mdc-pink-A200 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-pink-A200 !important;
	}
}

.md-indigo-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-pink-A200 !important;
}

md-input-container.md-indigo-theme.md-input-invalid label {
	color: @mdc-pink-A700 !important;

	&:after {
		color: @mdc-pink-A700 !important;

	}
}

md-input-container.md-indigo-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-pink-A700 !important;
}

md-input-container.md-indigo-theme.md-input-invalid .md-input {
	border-color: @mdc-pink-A700 !important;
}

md-input-container.md-indigo-theme.md-input-invalid.md-input-focused input {
	color: @mdc-pink-A700 !important;
}

.md-indigo-theme a.rp-formatting-link {
	color: @mdc-pink-A200;
}

md-input-container.md-indigo-theme input:focus {
	border-color: @mdc-pink-A200 !important;
}

md-input-container.md-indigo-theme.md-input-focused label {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-brand-name {
	color: #fff;

	// 1
	// text-shadow:1px 0px @mdc-pink-A200, -1px 0px @mdc-pink-A200, 0px 1px @mdc-pink-A200, 0px -1px @mdc-pink-A200, 1px 1px @mdc-pink-A200, -1px -1px @mdc-pink-A200, -1px 1px @mdc-pink-A200, 1px -1px @mdc-pink-A200,

	// 2
	// -2px 0px @mdc-pink-A200, 0px 2px @mdc-pink-A200, -2px 2px @mdc-pink-A200,

	// 3
	// -3px 0px @mdc-pink-A200, -3px 1px @mdc-pink-A200, -3px 2px @mdc-pink-A200, 0px 3px @mdc-pink-A200, -1px 3px @mdc-pink-A200, -2px 3px @mdc-pink-A200, -3px 3px @mdc-pink-A200;

}

.md-indigo-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-pink-A200 !important;
}

.md-indigo-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-pink-A200 !important;

		svg {
			fill: @mdc-pink-A200 !important;
		}
	}
}

.md-indigo-theme .rp-post-fab#send {
	color: @mdc-pink-A200 !important;
}

.md-indigo-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-pink-A200 !important;
}

md-select-menu.md-indigo-theme md-option[selected] {
	color: @mdc-pink-A200 !important;
}

/*
    GREEN:ORANGE THEME
 */

.md-green-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-orange-500 !important;
}

.md-green-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-orange-700 !important;
}

.md-green-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-orange-300 !important;
}

.md-green-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-orange-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-green-theme {
	background-color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-orange-A200 !important;
}

.md-green-theme .rp-beta-tag:after {
	background: @mdc-orange-A200;
}

.md-green-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-orange-50 !important;
}

.md-green-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-orange-A200;
}

.rp-fab.green a {
	background-color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-comment a:link {
	color: @mdc-orange-A200;
}

.md-green-theme .rp-comment a:hover {
	color: @mdc-orange-A200;
}

.md-green-theme .rp-comment a:visited {
	color: @mdc-orange-A200;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-orange-50 !important;
}

.md-green-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-orange-50 !important;
}

.md-green-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-orange-100 !important;
}

.md-green-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-orange-200 !important;
}

.md-green-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-orange-300 !important;
}

.md-green-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-orange-400 !important;
}

.md-green-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-orange-500 !important;
}

.md-green-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-orange-600 !important;
}

.md-green-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-orange-700 !important;
}

.md-green-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-orange-800 !important;
}

.md-green-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-orange-900 !important;
}

.md-green-theme .rp-post-selftext a {
	color: @mdc-orange-A200;

	&:hover {
		color: @mdc-orange-A200;
	}

	&:visited {
		color: @mdc-orange-A200;
	}
}

.md-green-theme .rp-sidebar-description a {
	color: @mdc-orange-A200;

	&:hover {
		color: @mdc-orange-A200;
	}

	&:visited {
		color: @mdc-orange-A200;
	}
}

.md-green-theme .rp-formatting a {
	color: @mdc-orange-A200;

	&:hover {
		color: @mdc-orange-A200;
	}

	&:visited {
		color: @mdc-orange-A200;
	}
}

.md-green-theme .rp-post-fab#info {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-orange-A200 !important;

	svg {
		fill: @mdc-orange-A200 !important;
	}
}

.md-green-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-orange-A200 !important;

		svg {
			fill: @mdc-orange-A200 !important;
		}
	}
}

.md-green-theme .rp-feedback-icon {
	color: @mdc-orange-A200;

}

.md-green-theme .rp-feedback-link {
	color: @mdc-orange-A200;

	&:hover {
		text-decoration: underline;
	}
}

.md-green-theme .rp-autocomplete input:focus {
	border-color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-article-header-author {
	&:hover {
		color: @mdc-orange-A200 !important;
	}
}

.md-green-theme .rp-article-header-subreddit {
	&:hover {
		color: @mdc-orange-A200 !important;
	}
}

.md-green-theme .rp-comment-user-op {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-captcha-button {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-captcha-reload-icon:hover {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-comment-showmore-link:hover {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-direct-message-body a {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-message-comment-body-html a {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-search-sub-link:hover {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-orange-A200 !important;
}

.md-green-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-orange-A200 !important;
}

.md-green-theme .rp-submit-submitted-link {
	color: @mdc-orange-A200 !important;
}

.md-green-theme md-tab-item.md-active {
	color: @mdc-orange-A200 !important;
}

md-tabs.md-green-theme md-tabs-ink-bar {
	color: @mdc-orange-A200;
	background: @mdc-orange-A200;
}

.md-green-theme .rp-item:hover {
	color: @mdc-orange-A200;
}

.md-green-theme .rp-select-option {
	color: @mdc-orange-A200 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-orange-A200 !important;
	}
}

.md-green-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-orange-A200 !important;
}

md-input-container.md-green-theme.md-input-invalid label {
	color: @mdc-orange-A700 !important;

	&:after {
		color: @mdc-orange-A700 !important;
	}
}

md-input-container.md-green-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-orange-A700 !important;
}

md-input-container.md-green-theme.md-input-invalid .md-input {
	border-color: @mdc-orange-A700 !important;
}

md-input-container.md-green-theme.md-input-invalid.md-input-focused input {
	color: @mdc-orange-A700 !important;
}

.md-green-theme a.rp-formatting-link {
	color: @mdc-orange-A200;
}

md-input-container.md-green-theme input:focus {
	border-color: @mdc-orange-A200 !important;
}

md-input-container.md-green-theme.md-input-focused label {
	color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-brand-name {
	color: #fff;

	// 1
	// text-shadow:1px 0px @mdc-orange-A200, -1px 0px @mdc-orange-A200, 0px 1px @mdc-orange-A200, 0px -1px @mdc-orange-A200, 1px 1px @mdc-orange-A200, -1px -1px @mdc-orange-A200, -1px 1px @mdc-orange-A200, 1px -1px @mdc-orange-A200,

	// 2
	// -2px 0px @mdc-orange-A200, 0px 2px @mdc-orange-A200, -2px 2px @mdc-orange-A200,

	// 3
	// -3px 0px @mdc-orange-A200, -3px 1px @mdc-orange-A200, -3px 2px @mdc-orange-A200, 0px 3px @mdc-orange-A200, -1px 3px @mdc-orange-A200, -2px 3px @mdc-orange-A200, -3px 3px @mdc-orange-A200;

}

.md-green-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-orange-A200 !important;
}

.md-green-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-orange-A200 !important;

		svg {
			fill: @mdc-orange-A200 !important;
		}
	}
}

.md-green-theme .rp-post-fab#send {
	color: @mdc-orange-A200 !important;
}

.md-green-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-orange-A200 !important;
}

md-select-menu.md-green-theme md-option[selected] {
	color: @mdc-orange-A200 !important;
}

/*
    RED:BLUE THEME
 */

.md-red-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-blue-500 !important;
}

.md-red-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-blue-700 !important;
}

.md-red-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-blue-300 !important;
}

.md-red-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-blue-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-red-theme {
	background-color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-blue-A200 !important;
}

.md-red-theme .rp-beta-tag:after {
	background: @mdc-blue-A200;
}

.md-red-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-blue-50 !important;
}

.md-red-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-blue-A200;
}

.rp-fab.red a {
	background-color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-comment a:link {
	color: @mdc-blue-A200;
}

.md-red-theme .rp-comment a:hover {
	color: @mdc-blue-A200;
}

.md-red-theme .rp-comment a:visited {
	color: @mdc-blue-A200;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-blue-50 !important;
}

.md-red-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-blue-50 !important;
}

.md-red-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-blue-100 !important;
}

.md-red-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-blue-200 !important;
}

.md-red-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-blue-300 !important;
}

.md-red-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-blue-400 !important;
}

.md-red-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-blue-500 !important;
}

.md-red-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-blue-600 !important;
}

.md-red-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-blue-700 !important;
}

.md-red-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-blue-800 !important;
}

.md-red-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-blue-900 !important;
}

.md-red-theme .rp-post-selftext a {
	color: @mdc-blue-A200;

	&:hover {
		color: @mdc-blue-A200;
	}

	&:visited {
		color: @mdc-blue-A200;
	}
}

.md-red-theme .rp-sidebar-description a {
	color: @mdc-blue-A200;

	&:hover {
		color: @mdc-blue-A200;
	}

	&:visited {
		color: @mdc-blue-A200;
	}
}

.md-red-theme .rp-formatting a {
	color: @mdc-blue-A200;

	&:hover {
		color: @mdc-blue-A200;
	}

	&:visited {
		color: @mdc-blue-A200;
	}
}

.md-red-theme .rp-post-fab#info {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-blue-A200 !important;

	svg {
		fill: @mdc-blue-A200 !important;
	}
}

.md-red-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-blue-A200 !important;

		svg {
			fill: @mdc-blue-A200 !important;
		}
	}
}

.md-red-theme .rp-feedback-icon {
	color: @mdc-blue-A200;

}

.md-red-theme .rp-feedback-link {
	color: @mdc-blue-A200;

	&:hover {
		text-decoration: underline;
	}
}

.md-red-theme .rp-autocomplete input:focus {
	border-color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-article-header-author {
	&:hover {
		color: @mdc-blue-A200 !important;
	}
}

.md-red-theme .rp-article-header-subreddit {
	&:hover {
		color: @mdc-blue-A200 !important;
	}
}

.md-red-theme .rp-comment-user-op {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-captcha-button {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-captcha-reload-icon:hover {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-comment-showmore-link:hover {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-direct-message-body a {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-message-comment-body-html a {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-search-sub-link:hover {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-blue-A200 !important;
}

.md-red-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-blue-A200 !important;
}

.md-red-theme .rp-submit-submitted-link {
	color: @mdc-blue-A200 !important;
}

.md-red-theme md-tab-item.md-active {
	color: @mdc-blue-A200 !important;
}

md-tabs.md-red-theme md-tabs-ink-bar {
	color: @mdc-blue-A200;
	background: @mdc-blue-A200;
}

.md-red-theme .rp-item:hover {
	color: @mdc-blue-A200;
}

.md-red-theme .rp-select-option {
	color: @mdc-blue-A200 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-blue-A200 !important;
	}
}

.md-red-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-blue-A200 !important;
}

md-input-container.md-red-theme.md-input-invalid label {
	color: @mdc-blue-A700 !important;

	&:after {
		color: @mdc-blue-A700 !important;

	}
}

md-input-container.md-red-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-blue-A700;
}

md-input-container.md-red-theme.md-input-invalid .md-input {
	border-color: @mdc-blue-A700;
}

md-input-container.md-red-theme.md-input-invalid.md-input-focused input {
	color: @mdc-blue-A700;
}

.md-red-theme a.rp-formatting-link {
	color: @mdc-blue-A200;
}

md-input-container.md-red-theme input:focus {
	border-color: @mdc-blue-A200 !important;
}

md-input-container.md-red-theme.md-input-focused label {
	color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-brand-name {
	color: #fff;

	// 1
	// text-shadow:1px 0px @mdc-blue-A200, -1px 0px @mdc-blue-A200, 0px 1px @mdc-blue-A200, 0px -1px @mdc-blue-A200, 1px 1px @mdc-blue-A200, -1px -1px @mdc-blue-A200, -1px 1px @mdc-blue-A200, 1px -1px @mdc-blue-A200,

	// 2
	// -2px 0px @mdc-blue-A200, 0px 2px @mdc-blue-A200, -2px 2px @mdc-blue-A200,

	// 3
	// -3px 0px @mdc-blue-A200, -3px 1px @mdc-blue-A200, -3px 2px @mdc-blue-A200, 0px 3px @mdc-blue-A200, -1px 3px @mdc-blue-A200, -2px 3px @mdc-blue-A200, -3px 3px @mdc-blue-A200;

}

.md-red-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-blue-A200 !important;
}

.md-red-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-blue-A200 !important;

		svg {
			fill: @mdc-blue-A200 !important;
		}
	}
}

.md-red-theme .rp-post-fab#send {
	color: @mdc-blue-A200 !important;
}

.md-red-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-blue-A200 !important;
}

md-select-menu.md-red-theme md-option[selected] {
	color: @mdc-blue-A200 !important;
}

/*
    PINK:AMBER THEME
 */

.md-pink-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-teal-500 !important;
}

.md-pink-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-teal-700 !important;
}

.md-pink-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-teal-300 !important;
}

.md-pink-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-teal-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-pink-theme {
	background-color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-teal-500 !important;
}

.md-pink-theme .rp-beta-tag:after {
	background: @mdc-teal-500;
}

.md-pink-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-teal-50 !important;
}

.md-pink-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-teal-500;
}

.rp-fab.pink a {
	background-color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-comment a:link {
	color: @mdc-teal-500;
}

.md-pink-theme .rp-comment a:hover {
	color: @mdc-teal-500;
}

.md-pink-theme .rp-comment a:visited {
	color: @mdc-teal-500;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-teal-50 !important;
}

.md-pink-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-teal-50 !important;
}

.md-pink-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-teal-100 !important;
}

.md-pink-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-teal-200 !important;
}

.md-pink-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-teal-300 !important;
}

.md-pink-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-teal-400 !important;
}

.md-pink-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-teal-600 !important;
}

.md-pink-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-teal-700 !important;
}

.md-pink-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-teal-800 !important;
}

.md-pink-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-teal-900 !important;
}

.md-pink-theme .rp-post-selftext a {
	color: @mdc-teal-500;

	&:hover {
		color: @mdc-teal-500;
	}

	&:visited {
		color: @mdc-teal-500;
	}
}

.md-pink-theme .rp-sidebar-description a {
	color: @mdc-teal-500;

	&:hover {
		color: @mdc-teal-500;
	}

	&:visited {
		color: @mdc-teal-500;
	}
}

.md-pink-theme .rp-formatting a {
	color: @mdc-teal-500;

	&:hover {
		color: @mdc-teal-500;
	}

	&:visited {
		color: @mdc-teal-500;
	}
}

.md-pink-theme .rp-post-fab#info {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-teal-500 !important;

	svg {
		fill: @mdc-teal-500 !important;
	}
}

.md-pink-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-teal-500 !important;

		svg {
			fill: @mdc-teal-500 !important;
		}
	}
}

.md-pink-theme .rp-feedback-icon {
	color: @mdc-teal-500;

}

.md-pink-theme .rp-feedback-link {
	color: @mdc-teal-500;

	&:hover {
		text-decoration: underline;
	}
}

.md-pink-theme .rp-autocomplete input:focus {
	border-color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-article-header-author {
	&:hover {
		color: @mdc-teal-500 !important;
	}
}

.md-pink-theme .rp-article-header-subpinkdit {
	&:hover {
		color: @mdc-teal-500 !important;
	}
}

.md-pink-theme .rp-comment-user-op {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-captcha-button {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-captcha-reload-icon:hover {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-comment-showmore-link:hover {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-direct-message-body a {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-message-comment-body-html a {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-search-sub-link:hover {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-teal-500 !important;
}

.md-pink-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-teal-500 !important;
}

.md-pink-theme .rp-submit-submitted-link {
	color: @mdc-teal-500 !important;
}

.md-pink-theme md-tab-item.md-active {
	color: @mdc-teal-500 !important;
}

md-tabs.md-pink-theme md-tabs-ink-bar {
	color: @mdc-teal-500;
	background: @mdc-teal-500;
}

.md-pink-theme .rp-item:hover {
	color: @mdc-teal-500;
}

.md-pink-theme .rp-select-option {
	color: @mdc-teal-500 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-teal-500 !important;
	}
}

.md-pink-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-teal-500 !important;
}

md-input-container.md-pink-theme.md-input-invalid label {
	color: @mdc-teal-A700 !important;

	&:after {
		color: @mdc-teal-A700 !important;

	}
}

md-input-container.md-pink-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-teal-A700;
}

md-input-container.md-pink-theme.md-input-invalid .md-input {
	border-color: @mdc-teal-A700;
}

md-input-container.md-pink-theme.md-input-invalid.md-input-focused input {
	color: @mdc-teal-A700;
}

.md-pink-theme a.rp-formatting-link {
	color: @mdc-teal-500;
}

md-input-container.md-pink-theme input:focus {
	border-color: @mdc-teal-500 !important;
}

md-input-container.md-pink-theme.md-input-focused label {
	color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-brand-name {
	color: #fff;

	// 1
	// text-shadow:1px 0px @mdc-teal-500, -1px 0px @mdc-teal-500, 0px 1px @mdc-teal-500, 0px -1px @mdc-teal-500, 1px 1px @mdc-teal-500, -1px -1px @mdc-teal-500, -1px 1px @mdc-teal-500, 1px -1px @mdc-teal-500,

	// 2
	// -2px 0px @mdc-teal-500, 0px 2px @mdc-teal-500, -2px 2px @mdc-teal-500,

	// 3
	// -3px 0px @mdc-teal-500, -3px 1px @mdc-teal-500, -3px 2px @mdc-teal-500, 0px 3px @mdc-teal-500, -1px 3px @mdc-teal-500, -2px 3px @mdc-teal-500, -3px 3px @mdc-teal-500;

}

.md-pink-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-teal-500 !important;
}

.md-pink-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-teal-500 !important;

		svg {
			fill: @mdc-teal-500 !important;
		}
	}
}

.md-pink-theme .rp-post-fab#send {
	color: @mdc-teal-500 !important;
}

.md-pink-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-teal-500 !important;
}

md-select-menu.md-pink-theme md-option[selected] {
	color: @mdc-teal-500 !important;
}

/*
    DEEP-ORANGE:CYAN THEME
 */
.md-deep-orange-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-cyan-700 !important;
}

.md-deep-orange-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-cyan-300 !important;
}

.md-deep-orange-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-cyan-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-deep-orange-theme {
	background-color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-beta-tag:after {
	background: @mdc-cyan-500;
}

.md-deep-orange-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-cyan-50 !important;
}

.md-deep-orange-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-cyan-500;
}

.rp-fab.deep-orange a {
	background-color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-comment a:link {
	color: @mdc-cyan-500;
}

.md-deep-orange-theme .rp-comment a:hover {
	color: @mdc-cyan-500;
}

.md-deep-orange-theme .rp-comment a:visited {
	color: @mdc-cyan-500;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-cyan-50 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-cyan-50 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-cyan-100 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-cyan-200 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-cyan-300 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-cyan-400 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-cyan-600 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-cyan-700 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-cyan-800 !important;
}

.md-deep-orange-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-cyan-900 !important;
}

.md-deep-orange-theme .rp-post-selftext a {
	color: @mdc-cyan-500;

	&:hover {
		color: @mdc-cyan-500;
	}

	&:visited {
		color: @mdc-cyan-500;
	}
}

.md-deep-orange-theme .rp-sidebar-description a {
	color: @mdc-cyan-500;

	&:hover {
		color: @mdc-cyan-500;
	}

	&:visited {
		color: @mdc-cyan-500;
	}
}

.md-deep-orange-theme .rp-formatting a {
	color: @mdc-cyan-500;

	&:hover {
		color: @mdc-cyan-500;
	}

	&:visited {
		color: @mdc-cyan-500;
	}
}

.md-deep-orange-theme .rp-post-fab#info {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-cyan-500 !important;

	svg {
		fill: @mdc-cyan-500 !important;
	}
}

.md-deep-orange-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-cyan-500 !important;

		svg {
			fill: @mdc-cyan-500 !important;
		}
	}
}

.md-deep-orange-theme .rp-feedback-icon {
	color: @mdc-cyan-500;

}

.md-deep-orange-theme .rp-feedback-link {
	color: @mdc-cyan-500;

	&:hover {
		text-decoration: underline;
	}
}

.md-deep-orange-theme .rp-autocomplete input:focus {
	border-color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-article-header-author {
	&:hover {
		color: @mdc-cyan-500 !important;
	}
}

.md-deep-orange-theme .rp-article-header-subdeep-orangedit {
	&:hover {
		color: @mdc-cyan-500 !important;
	}
}

.md-deep-orange-theme .rp-comment-user-op {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-captcha-button {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-captcha-reload-icon:hover {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-comment-showmore-link:hover {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-direct-message-body a {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-message-comment-body-html a {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-search-sub-link:hover {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-submit-submitted-link {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme md-tab-item.md-active {
	color: @mdc-cyan-500 !important;
}

md-tabs.md-deep-orange-theme md-tabs-ink-bar {
	color: @mdc-cyan-500;
	background: @mdc-cyan-500;
}

.md-deep-orange-theme .rp-item:hover {
	color: @mdc-cyan-500;
}

.md-deep-orange-theme .rp-select-option {
	color: @mdc-cyan-500 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-cyan-500 !important;
	}
}

.md-deep-orange-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-cyan-500 !important;
}

md-input-container.md-deep-orange-theme.md-input-invalid label {
	color: @mdc-cyan-A700 !important;

	&:after {
		color: @mdc-cyan-A700 !important;

	}
}

md-input-container.md-deep-orange-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-cyan-A700;
}

md-input-container.md-deep-orange-theme.md-input-invalid .md-input {
	border-color: @mdc-cyan-A700;
}

md-input-container.md-deep-orange-theme.md-input-invalid.md-input-focused input {
	color: @mdc-cyan-A700;
}

.md-deep-orange-theme a.rp-formatting-link {
	color: @mdc-cyan-500;
}

md-input-container.md-deep-orange-theme input:focus {
	border-color: @mdc-cyan-500 !important;
}

md-input-container.md-deep-orange-theme.md-input-focused label {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-brand-name {
	color: #fff;

	// 1
	// text-shadow:1px 0px @mdc-cyan-500, -1px 0px @mdc-cyan-500, 0px 1px @mdc-cyan-500, 0px -1px @mdc-cyan-500, 1px 1px @mdc-cyan-500, -1px -1px @mdc-cyan-500, -1px 1px @mdc-cyan-500, 1px -1px @mdc-cyan-500,

	// 2
	// -2px 0px @mdc-cyan-500, 0px 2px @mdc-cyan-500, -2px 2px @mdc-cyan-500,

	// 3
	// -3px 0px @mdc-cyan-500, -3px 1px @mdc-cyan-500, -3px 2px @mdc-cyan-500, 0px 3px @mdc-cyan-500, -1px 3px @mdc-cyan-500, -2px 3px @mdc-cyan-500, -3px 3px @mdc-cyan-500;

}

.md-deep-orange-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-cyan-500 !important;

		svg {
			fill: @mdc-cyan-500 !important;
		}
	}
}

.md-deep-orange-theme .rp-post-fab#send {
	color: @mdc-cyan-500 !important;
}

.md-deep-orange-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-cyan-500 !important;
}

md-select-menu.md-deep-orange-theme md-option[selected] {
	color: @mdc-cyan-500 !important;
}

/*
    PURPLE:TEAL THEME
 */
.md-purple-theme .rp-brand svg g[id^="s500"] polygon {
	fill: @mdc-teal-500 !important;
}

.md-purple-theme .rp-brand svg g[id^="s700"] polygon {
	fill: @mdc-teal-700 !important;
}

.md-purple-theme .rp-brand svg g[id^="s300"] polygon {
	fill: @mdc-teal-300 !important;
}

.md-purple-theme .rp-brand svg g[id^="s200"] polygon {
	fill: @mdc-teal-200 !important;
}

.rp-speed-dial md-fab-trigger button.md-purple-theme {
	background-color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-brand-icon svg g[id^='outline-path'] path {
	fill: @mdc-teal-500 !important;
}

.md-purple-theme .rp-beta-tag:after {
	background: @mdc-teal-500;
}

.md-purple-theme .rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-teal-50 !important;
}

.md-purple-theme .rp-tab-toolbar md-tab-item.md-active {
	color: @mdc-teal-500;
}

.rp-fab.purple a {
	background-color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-comment a:link {
	color: @mdc-teal-500;
}

.md-purple-theme .rp-comment a:hover {
	color: @mdc-teal-500;
}

.md-purple-theme .rp-comment a:visited {
	color: @mdc-teal-500;
}

.rp-comment-inner.rp-comment-focussed {
	background-color: @mdc-teal-50 !important;
}

.md-purple-theme .rp-comment-inner-depth1 {
	border-left-color: @mdc-teal-50 !important;
}

.md-purple-theme .rp-comment-inner-depth2 {
	border-left-color: @mdc-teal-100 !important;
}

.md-purple-theme .rp-comment-inner-depth3 {
	border-left-color: @mdc-teal-200 !important;
}

.md-purple-theme .rp-comment-inner-depth4 {
	border-left-color: @mdc-teal-300 !important;
}

.md-purple-theme .rp-comment-inner-depth5 {
	border-left-color: @mdc-teal-400 !important;
}

.md-purple-theme .rp-comment-inner-depth6 {
	border-left-color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-comment-inner-depth7 {
	border-left-color: @mdc-teal-600 !important;
}

.md-purple-theme .rp-comment-inner-depth8 {
	border-left-color: @mdc-teal-700 !important;
}

.md-purple-theme .rp-comment-inner-depth9 {
	border-left-color: @mdc-teal-800 !important;
}

.md-purple-theme .rp-comment-inner-depth10 {
	border-left-color: @mdc-teal-900 !important;
}

.md-purple-theme .rp-post-selftext a {
	color: @mdc-teal-500;

	&:hover {
		color: @mdc-teal-500;
	}

	&:visited {
		color: @mdc-teal-500;
	}
}

.md-purple-theme .rp-sidebar-description a {
	color: @mdc-teal-500;

	&:hover {
		color: @mdc-teal-500;
	}

	&:visited {
		color: @mdc-teal-500;
	}
}

.md-purple-theme .rp-formatting a {
	color: @mdc-teal-500;

	&:hover {
		color: @mdc-teal-500;
	}

	&:visited {
		color: @mdc-teal-500;
	}
}

.md-purple-theme .rp-post-fab#info {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-post-fab#info > .rp-post-fab-icon.formatting {
	color: @mdc-teal-500 !important;

	svg {
		fill: @mdc-teal-500 !important;
	}
}

.md-purple-theme .rp-post-fab#info .rp-post-fab-icon {
	&:hover {
		color: @mdc-teal-500 !important;

		svg {
			fill: @mdc-teal-500 !important;
		}
	}
}

.md-purple-theme .rp-feedback-icon {
	color: @mdc-teal-500;

}

.md-purple-theme .rp-feedback-link {
	color: @mdc-teal-500;

	&:hover {
		text-decoration: underline;
	}
}

.md-purple-theme .rp-autocomplete input:focus {
	border-color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-autocomplete md-input-container.md-input-focused label {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-article-header-author {
	&:hover {
		color: @mdc-teal-500 !important;
	}
}

.md-purple-theme .rp-article-header-subpurpledit {
	&:hover {
		color: @mdc-teal-500 !important;
	}
}

.md-purple-theme .rp-comment-user-op {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-captcha-button {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-captcha-reload-icon:hover {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-comment-showmore-link:hover {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-direct-message-body a {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-message-comment-body-html a {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-search-sub-link:hover {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-search-autocomplete md-input-container.md-input-focused label {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-search-autocomplete md-input-container.md-input-focused input {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-search-sidenav-form .rp-search-type .rp-selected md-icon svg {
	fill: @mdc-teal-500 !important;
}

.md-purple-theme .rp-search-sidenav-form .rp-search-type button {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-sidenav-icon.rp-sidenav-message-hasmail svg {
	fill: @mdc-teal-500 !important;
}

.md-purple-theme .rp-submit-submitted-link {
	color: @mdc-teal-500 !important;
}

.md-purple-theme md-tab-item.md-active {
	color: @mdc-teal-500 !important;
}

md-tabs.md-purple-theme md-tabs-ink-bar {
	color: @mdc-teal-500;
	background: @mdc-teal-500;
}

.md-purple-theme .rp-item:hover {
	color: @mdc-teal-500;
}

.md-purple-theme .rp-select-option {
	color: @mdc-teal-500 !important;

	&:focus {
		background-color: white !important;
	}

	&[selected] {
		background-color: white !important;
	}

	&[selected] > .rp-select-option-label {
		color: @mdc-teal-500 !important;
	}
}

.md-purple-theme .rp-select-option[selected] > .md-text > .rp-select-option-label {
	color: @mdc-teal-500 !important;
}

md-input-container.md-purple-theme.md-input-invalid label {
	color: @mdc-teal-A700 !important;

	&:after {
		color: @mdc-teal-A700 !important;

	}
}

md-input-container.md-purple-theme.md-input-invalid.md-input-focused .md-input {
	border-color: @mdc-teal-A700;
}

md-input-container.md-purple-theme.md-input-invalid .md-input {
	border-color: @mdc-teal-A700;
}

md-input-container.md-purple-theme.md-input-invalid.md-input-focused input {
	color: @mdc-teal-A700;
}

.md-purple-theme a.rp-formatting-link {
	color: @mdc-teal-500;
}

md-input-container.md-purple-theme input:focus {
	border-color: @mdc-teal-500 !important;
}

md-input-container.md-purple-theme.md-input-focused label {
	color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-brand-name {
	color: #fff;

	// 1
	// text-shadow:1px 0px @mdc-teal-500, -1px 0px @mdc-teal-500, 0px 1px @mdc-teal-500, 0px -1px @mdc-teal-500, 1px 1px @mdc-teal-500, -1px -1px @mdc-teal-500, -1px 1px @mdc-teal-500, 1px -1px @mdc-teal-500,

	// 2
	// -2px 0px @mdc-teal-500, 0px 2px @mdc-teal-500, -2px 2px @mdc-teal-500,

	// 3
	// -3px 0px @mdc-teal-500, -3px 1px @mdc-teal-500, -3px 2px @mdc-teal-500, 0px 3px @mdc-teal-500, -1px 3px @mdc-teal-500, -2px 3px @mdc-teal-500, -3px 3px @mdc-teal-500;

}

.md-purple-theme .rp-sidenav-content .rp-brand-name {
	// color: @mdc-teal-500 !important;
}

.md-purple-theme .rp-post-fab#send > .rp-post-fab-icon {
	&:hover {
		color: @mdc-teal-500 !important;

		svg {
			fill: @mdc-teal-500 !important;
		}
	}
}

.md-purple-theme .rp-post-fab#send {
	color: @mdc-teal-500 !important;
}

.md-purple-theme md-select:focus .md-select-value {
	border-bottom-color: @mdc-teal-500 !important;
}

md-select-menu.md-purple-theme md-option[selected] {
	color: @mdc-teal-500 !important;
}

//Keep at the bottom, must come after other input colors styles

.rp-search-autocomplete.rp-invalid md-input-container {
	label {
		color: @mdc-red-500 !important;
	}

	input {
		color: @mdc-red-500 !important;
		border-bottom-color: @mdc-red-500 !important;
	}
}

.rp-search-autocomplete.rp-invalid md-input-container.md-input-focused {
	label {
		color: @mdc-red-500 !important;
	}

	input {
		color: @mdc-red-500 !important;
		border-bottom-color: @mdc-red-500 !important;
	}
}
