@xs-column-size: 100%;
@sm-column-size: 300px;
@md-column-size: 400px;
@lg-column-size: 350px;
.rp-posts-col {
    min-width: @xs-column-size;
    max-width: @xs-column-size;
    @media (min-width: @layout-sm) {
        min-width: @sm-column-size;
        max-width: @sm-column-size;
    }
    @media (min-width: @layout-md) {
        min-width: @md-column-size;
        max-width: @md-column-size;
    }
    @media (min-width: @layout-lg) {
        min-width: @lg-column-size;
        max-width: @lg-column-size;
    }
}