/*
Tab Toolbar Buttons
 */
.rp-tab-toolbar md-tab-item.md-active {
    color: @md-default-accent;

}

.rp-tab-toolbar.md-green-theme md-tab-item.md-active {
    color: @material-green-500 !important;

}

.rp-tab-toolbar.md-green-theme md-ink-bar {
    color: @material-green-500 !important;
    background-color: @material-green-500 !important;
}

.rp-tab-toolbar.md-pink-theme md-tab-item.md-active {
    color: @material-pink-500 !important;

}

.rp-tab-toolbar.md-pink-theme md-ink-bar {
    color: @material-pink-500 !important;
    background-color: @material-pink-500 !important;
}

.rp-tab-toolbar.md-indigo-theme md-tab-item.md-active {
    color: @material-indigo-500 !important;

}

.rp-tab-toolbar.md-indigo-theme md-ink-bar {
    color: @material-indigo-500 !important;
    background-color: @material-indigo-500 !important;
}

.rp-tab-toolbar.md-blue-theme md-tab-item.md-active {
    color: @material-blue-500 !important;

}

.rp-tab-toolbar.md-blue-theme md-ink-bar {
    color: @material-blue-500 !important;
    background-color: @material-blue-500 !important;
}

.rp-tab-toolbar.md-red-theme md-tab-item.md-active {
    color: @material-red-500 !important;

}

.rp-tab-toolbar.md-red-theme md-ink-bar {
    color: @material-red-500 !important;
    background-color: @material-red-500 !important;
}

.rp-tab-toolbar.md-purple-theme md-tab-item.md-active {
    color: @material-purple-500 !important;

}

.rp-tab-toolbar.md-purple-theme md-ink-bar {
    color: @material-purple-500 !important;
    background-color: @material-purple-500 !important;
}

/*
MFB BUTTON
 */
.rp-fab.default a {
	background-color: @md-default-accent !important;
}

.rp-fab.green a {
	background-color: @material-green-500 !important;
}

.rp-fab.pink a {
	background-color: @material-pink-500 !important;
}

.rp-fab.purple a {
	background-color: @material-purple-500 !important;
}

.rp-fab.blue a {
	background-color: @material-blue-500 !important;
}

.rp-fab.indigo a {
	background-color: @material-indigo-500 !important;
}

.rp-fab.red a {
	background-color: @material-red-500 !important;
}

/*
COMMENT THREAD
 */

 .rp-comment-inner.rp-comment-focussed {
     background-color: @material-deeporange-50 !important;
 }
 .rp-comment-inner-depth0 {
     border-left-color: white !important;
 }

.md-default-theme .rp-comment-inner-depth1 {
     border-left-color: @material-deeporange-50 !important;
}
.md-default-theme .rp-comment-inner-depth2 {
     border-left-color: @material-deeporange-100 !important;
}
.md-default-theme .rp-comment-inner-depth3 {
     border-left-color: @material-deeporange-200 !important;
}
.md-default-theme .rp-comment-inner-depth4 {
     border-left-color: @material-deeporange-300 !important;
}
.md-default-theme .rp-comment-inner-depth5 {
     border-left-color: @material-deeporange-400 !important;
}
.md-default-theme .rp-comment-inner-depth6 {
     border-left-color: @material-deeporange-500 !important;
}
.md-default-theme .rp-comment-inner-depth7 {
     border-left-color: @material-deeporange-600 !important;
}
.md-default-theme .rp-comment-inner-depth8 {
     border-left-color: @material-deeporange-700 !important;
}
.md-default-theme .rp-comment-inner-depth9 {
     border-left-color: @material-deeporange-800 !important;
}
.md-default-theme .rp-comment-inner-depth10 {
     border-left-color: @material-deeporange-900 !important;
}

.md-green-theme .rp-comment-inner-depth1 {
     border-left-color: @material-green-50 !important;
}
.md-green-theme .rp-comment-inner-depth2 {
     border-left-color: @material-green-100 !important;
}
.md-green-theme .rp-comment-inner-depth3 {
     border-left-color: @material-green-200 !important;
}
.md-green-theme .rp-comment-inner-depth4 {
     border-left-color: @material-green-300 !important;
}
.md-green-theme .rp-comment-inner-depth5 {
     border-left-color: @material-green-400 !important;
}
.md-green-theme .rp-comment-inner-depth6 {
     border-left-color: @material-green-500 !important;
}
.md-green-theme .rp-comment-inner-depth7 {
     border-left-color: @material-green-600 !important;
}
.md-green-theme .rp-comment-inner-depth8 {
     border-left-color: @material-green-700 !important;
}
.md-green-theme .rp-comment-inner-depth9 {
     border-left-color: @material-green-800 !important;
}
.md-green-theme .rp-comment-inner-depth10 {
     border-left-color: @material-green-900 !important;
}

.md-blue-theme .rp-comment-inner-depth1 {
     border-left-color: @material-blue-50 !important;
}
.md-blue-theme .rp-comment-inner-depth2 {
     border-left-color: @material-blue-100 !important;
}
.md-blue-theme .rp-comment-inner-depth3 {
     border-left-color: @material-blue-200 !important;
}
.md-blue-theme .rp-comment-inner-depth4 {
     border-left-color: @material-blue-300 !important;
}
.md-blue-theme .rp-comment-inner-depth5 {
     border-left-color: @material-blue-400 !important;
}
.md-blue-theme .rp-comment-inner-depth6 {
     border-left-color: @material-blue-500 !important;
}
.md-blue-theme .rp-comment-inner-depth7 {
     border-left-color: @material-blue-600 !important;
}
.md-blue-theme .rp-comment-inner-depth8 {
     border-left-color: @material-blue-700 !important;
}
.md-blue-theme .rp-comment-inner-depth9 {
     border-left-color: @material-blue-800 !important;
}
.md-blue-theme .rp-comment-inner-depth10 {
     border-left-color: @material-blue-900 !important;
}

.md-pink-theme .rp-comment-inner-depth1 {
     border-left-color: @material-pink-50 !important;
}
.md-pink-theme .rp-comment-inner-depth2 {
     border-left-color: @material-pink-100 !important;
}
.md-pink-theme .rp-comment-inner-depth3 {
     border-left-color: @material-pink-200 !important;
}
.md-pink-theme .rp-comment-inner-depth4 {
     border-left-color: @material-pink-300 !important;
}
.md-pink-theme .rp-comment-inner-depth5 {
     border-left-color: @material-pink-400 !important;
}
.md-pink-theme .rp-comment-inner-depth6 {
     border-left-color: @material-pink-500 !important;
}
.md-pink-theme .rp-comment-inner-depth7 {
     border-left-color: @material-pink-600 !important;
}
.md-pink-theme .rp-comment-inner-depth8 {
     border-left-color: @material-pink-700 !important;
}
.md-pink-theme .rp-comment-inner-depth9 {
     border-left-color: @material-pink-800 !important;
}
.md-pink-theme .rp-comment-inner-depth10 {
     border-left-color: @material-pink-900 !important;
}

.md-red-theme .rp-comment-inner-depth1 {
     border-left-color: @material-red-50 !important;
}
.md-red-theme .rp-comment-inner-depth2 {
     border-left-color: @material-red-100 !important;
}
.md-red-theme .rp-comment-inner-depth3 {
     border-left-color: @material-red-200 !important;
}
.md-red-theme .rp-comment-inner-depth4 {
     border-left-color: @material-red-300 !important;
}
.md-red-theme .rp-comment-inner-depth5 {
     border-left-color: @material-red-400 !important;
}
.md-red-theme .rp-comment-inner-depth6 {
     border-left-color: @material-red-500 !important;
}
.md-red-theme .rp-comment-inner-depth7 {
     border-left-color: @material-red-600 !important;
}
.md-red-theme .rp-comment-inner-depth8 {
     border-left-color: @material-red-700 !important;
}
.md-red-theme .rp-comment-inner-depth9 {
     border-left-color: @material-red-800 !important;
}
.md-red-theme .rp-comment-inner-depth10 {
     border-left-color: @material-red-900 !important;
}

.md-purple-theme .rp-comment-inner-depth1 {
     border-left-color: @material-purple-50 !important;
}
.md-purple-theme .rp-comment-inner-depth2 {
     border-left-color: @material-purple-100 !important;
}
.md-purple-theme .rp-comment-inner-depth3 {
     border-left-color: @material-purple-200 !important;
}
.md-purple-theme .rp-comment-inner-depth4 {
     border-left-color: @material-purple-300 !important;
}
.md-purple-theme .rp-comment-inner-depth5 {
     border-left-color: @material-purple-400 !important;
}
.md-purple-theme .rp-comment-inner-depth6 {
     border-left-color: @material-purple-500 !important;
}
.md-purple-theme .rp-comment-inner-depth7 {
     border-left-color: @material-purple-600 !important;
}
.md-purple-theme .rp-comment-inner-depth8 {
     border-left-color: @material-purple-700 !important;
}
.md-purple-theme .rp-comment-inner-depth9 {
     border-left-color: @material-purple-800 !important;
}
.md-purple-theme .rp-comment-inner-depth10 {
     border-left-color: @material-purple-900 !important;
}

.md-indigo-theme .rp-comment-inner-depth1 {
     border-left-color: @material-indigo-50 !important;
}
.md-indigo-theme .rp-comment-inner-depth2 {
     border-left-color: @material-indigo-100 !important;
}
.md-indigo-theme .rp-comment-inner-depth3 {
     border-left-color: @material-indigo-200 !important;
}
.md-indigo-theme .rp-comment-inner-depth4 {
     border-left-color: @material-indigo-300 !important;
}
.md-indigo-theme .rp-comment-inner-depth5 {
     border-left-color: @material-indigo-400 !important;
}
.md-indigo-theme .rp-comment-inner-depth6 {
     border-left-color: @material-indigo-500 !important;
}
.md-indigo-theme .rp-comment-inner-depth7 {
     border-left-color: @material-indigo-600 !important;
}
.md-indigo-theme .rp-comment-inner-depth8 {
     border-left-color: @material-indigo-700 !important;
}
.md-indigo-theme .rp-comment-inner-depth9 {
     border-left-color: @material-indigo-800 !important;
}
.md-indigo-theme .rp-comment-inner-depth10 {
     border-left-color: @material-indigo-900 !important;
}

/*
comment link
 */

.md-default-theme .rp-comment a:link {
    color: @material-deeporange-500;
}
.md-default-theme .rp-comment a:hover {
    color: @md-default-accent;
}
.md-default-theme .rp-comment a:visited {
    color: @md-default-accent;
}

.md-indigo-theme .rp-comment a:link {
    color: @material-indigo-500;
}
.md-indigo-theme .rp-comment a:hover {
    color: @material-indigo-500;
}
.md-indigo-theme .rp-comment a:visited {
    color: @material-indigo-500;
}

.md-blue-theme .rp-comment a:link {
    color: @material-blue-500;
}
.md-blue-theme .rp-comment a:hover {
    color: @material-blue-500;
}
.md-blue-theme .rp-comment a:visited {
    color: @material-blue-500;
}

.md-green-theme .rp-comment a:link {
    color: @material-green-500;
}
.md-green-theme .rp-comment a:hover {
    color: @material-green-500;
}
.md-green-theme .rp-comment a:visited {
    color: @material-green-500;
}

.md-red-theme .rp-comment a:link {
    color: @material-red-500;
}
.md-red-theme .rp-comment a:hover {
    color: @material-red-500;
}
.md-red-theme .rp-comment a:visited {
    color: @material-red-500;
}

.md-pink-theme .rp-comment a:link {
    color: @material-pink-500;
}
.md-pink-theme .rp-comment a:hover {
    color: @material-pink-500;
}
.md-pink-theme .rp-comment a:visited {
    color: @material-pink-500;
}

.md-purple-theme .rp-comment a:link {
    color: @material-purple-500;
}
.md-purple-theme .rp-comment a:hover {
    color: @material-purple-500;
}
.md-purple-theme .rp-comment a:visited {
    color: @material-purple-500;
}

/*
post selftext links
 */

.md-default-theme .rp-post-selftext a {
    color: @material-deeporange-500;
    &:hover {
        color: @material-deeporange-500;
    }
    &:visited {
        color: @material-deeporange-500;
    }
}

.md-indigo-theme .rp-post-selftext a {
    color: @material-indigo-500;
    &:hover {
        color: @material-indigo-500;
    }
    &:visited {
        color: @material-indigo-500;
    }
}

.md-blue-theme .rp-post-selftext a {
    color: @material-blue-500;
    &:hover {
        color: @material-blue-500;
    }
    &:visited {
        color: @material-blue-500;
    }
}

.md-green-theme .rp-post-selftext a {
    color: @material-green-500;
    &:hover {
        color: @material-green-500;
    }
    &:visited {
        color: @material-green-500;
    }
}

.md-red-theme .rp-post-selftext a {
    color: @material-red-500;
    &:hover {
        color: @material-red-500;
    }
    &:visited {
        color: @material-red-500;
    }
}

.md-pink-theme .rp-post-selftext a {
    color: @material-pink-500;
    &:hover {
        color: @material-pink-500;
    }
    &:visited {
        color: @material-pink-500;
    }
}

.md-purple-theme .rp-post-selftext a {
    color: @material-purple-500;
    &:hover {
        color: @material-purple-500;
    }
    &:visited {
        color: @material-purple-500;
    }
}

/*
sidebar links
 */
.md-default-theme .rp-sidebar-description a {
     color: @material-deeporange-500;
     &:hover {
         color: @material-deeporange-500;
     }
     &:visited {
         color: @material-deeporange-500;
     }
 }

.md-indigo-theme .rp-sidebar-description a {
      color: @material-indigo-500;
      &:hover {
          color: @material-indigo-500;
      }
      &:visited {
          color: @material-indigo-500;
      }
  }

.md-blue-theme .rp-sidebar-description a {
    color: @material-blue-500;
    &:hover {
        color: @material-blue-500;
    }
    &:visited {
        color: @material-blue-500;
    }
}

.md-green-theme .rp-sidebar-description a {
      color: @material-green-500;
      &:hover {
          color: @material-green-500;
      }
      &:visited {
          color: @material-green-500;
      }
  }

.md-red-theme .rp-sidebar-description a {
    color: @material-red-500;
    &:hover {
        color: @material-red-500;
    }
    &:visited {
        color: @material-red-500;
    }
}

.md-pink-theme .rp-sidebar-description a {
      color: @material-pink-500;
      &:hover {
          color: @material-pink-500;
      }
      &:visited {
          color: @material-pink-500;
      }
  }

.md-purple-theme .rp-sidebar-description a {
    color: @material-purple-500;
    &:hover {
        color: @material-purple-500;
    }
    &:visited {
        color: @material-purple-500;
    }
}
