rp-card-container {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: auto;

	// @media only screen and (min-width: @layout-two-columns) {
	// 	margin: 0 auto;
	// }
	// @media (min-width: @layout-two-columns) {
	// 	max-width: 760px !important;
	// }
	// @media (min-width: @layout-three-columns) {
	// 	max-width: 1280px !important;
	// }
	// @media (min-width: @layout-four-columns) {
	// 	max-width: 1660px !important;
	// }

	.rp-card-column-wrapper {
		margin: 0 auto;
	}

	rp-card-column {
		// position: absolute;
		.rp-card-column-inner {
			display: block;
		}
	}

	rp-card {
		// position: absolute;
	}
}
