// .rp-comment-block {
// 	display: block !important;
// }
.rp-comment {
    
    // padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 18px;
    padding-right: 0;
    position: relative;
}
.rp-comment a:link {
    color: @md-default-accent;
    text-decoration: none;
}
.rp-comment a:hover {
    color: @md-default-accent;
    text-decoration: underline;
}
.rp-comment-depth0 {
    padding-left: 0 !important;
    margin-left: 0 !important;
    
    // margin-right: 3px;
}
.rp-comment-inner {
    border-left-width: 6px;
    border-left-style: solid;
    
    // padding-top: 10px;
    // padding-bottom: 10px;
    background-color: #fff !important;
    
    // box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 10px 2px;
    // box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.084);
    // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
    // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.086), 0px 6px 10px 0px rgba(0, 0, 0, 0.04), 0px 1px 18px 0px rgba(0, 0, 0, 0.084);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.086);
    position: relative;
    display: flex !important;
}
.rp-comment-inner.rp-collapse-padding {
    padding-left: 24px !important;
}
.rp-comment-inner.rp-comment-focussed {
    background-color: @material-deeporange-50 !important;
}
.rp-comment-inner-depth0 {
    border-left-color: @rp-article-depth-0 !important;
    z-index: 10;
    border-left-width: 0;
}
.rp-comment-inner-depth1 {
    border-left-color: @rp-article-depth-1 !important;
    z-index: 9;
}
.rp-comment-inner-depth2 {
    border-left-color: @rp-article-depth-2 !important;
    z-index: 8;
}
.rp-comment-inner-depth3 {
    border-left-color: @rp-article-depth-3 !important;
    z-index: 7;
}
.rp-comment-inner-depth4 {
    border-left-color: @rp-article-depth-4 !important;
    z-index: 6;
}
.rp-comment-inner-depth5 {
    border-left-color: @rp-article-depth-5 !important;
    z-index: 5;
}
.rp-comment-inner-depth6 {
    border-left-color: @rp-article-depth-6 !important;
    z-index: 4;
}
.rp-comment-inner-depth7 {
    border-left-color: @rp-article-depth-7 !important;
    z-index: 3;
}
.rp-comment-inner-depth8 {
    border-left-color: @rp-article-depth-8 !important;
    z-index: 2;
}
.rp-comment-inner-depth9 {
    border-left-color: @rp-article-depth-9 !important;
    z-index: 1;
}
.rp-comment-inner-depth10 {
    border-left-color: @rp-article-depth-10 !important;
    z-index: 0;
}
.rp-comment-score {
    
    // padding-top: 6px;
    padding-left: 6px;
    padding-top: 16px;
}
.rp-comment-body {
    padding: 24px 12px 12px;
}
.rp-comment-title {
    font-size: 14px;
    margin-bottom: 6px;
}
.rp-comment-user {
    color: @light-text-color !important;
    font-size: 14px;
    font-weight: 600;
    .link;
}
.rp-comment-user-op {
    .rp-author;
    color: @md-default-accent !important;
}
.rp-comment-body-html p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    word-wrap: break-word;
    
    // line-height: 22.5px;
}
.rp-comment-body-html blockquote {
    border-width: 0;
    border-left-width: 2px;
    border-style: solid;
    border-color: @light-text-color;
    margin-left: 0;
    padding-left: 8px;
    color: @light-text-color;
    font-style: italic;
}
.rp-comment-details {
    color: @light-text-color;
    font-size: 12px;
}
.rp-comment-actions {
    padding-left: 0;
    
    // padding-bottom: 12px;
}
.rp-comment-reply md-input-container label {
    margin-left: 0;
}
.rp-comment-showmore {
    
    // background-color: whitesmoke;
    // text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.rp-comment-showmore-link {
    font-size: 11px;
    .link;
    color: @light-text-color;
    &:hover {
        cursor: pointer;
        cursor: hand;
        color: @md-default-accent;
    }
}
.rp-article-continue-link {
    .rp-comment-showmore-link;
}
.rp-comment-showmore-progress {
    
    // width: 24px;
    // height: 24px
}

/*
	Media Styles
 */
.rp-comment-media {
    max-height: 65vh;
    max-width: 65vh;
    @media (max-width: @layout-sm) {
        max-height: 40vh;
        max-width: 40vh;
    }
}
.rp-comment-media-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}
.rp-comment-media .rp-media-image {
    max-height: 65vh;
    max-width: 65vh;
    @media (max-width: @layout-sm) {
        max-height: 40vh;
        max-width: 40vh;
    }
    background-color: white;
}
.rp-comment-media .rp-media-thumbnail {
    max-height: 65vh;
    max-width: 65vh;
    @media (max-width: @layout-sm) {
        max-height: 40vh;
        max-width: 40vh;
    }
    width: 100%;
}
.rp-comment-media .rp-media-imgur-album-image {
    max-height: 65vh;
    max-width: 65vh;
    @media (max-width: @layout-sm) {
        max-height: 40vh;
        max-width: 40vh;
    }
    margin-left: auto;
    margin-right: auto;
}
.rp-comment-collapse {
    height: 100% auto;
    width: 18px;
    position: relative;
}
.rp-comment-collapse-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    min-width: 0;
    min-height: 0;
    max-height: none;
    max-width: none;
}
.rp-comment-inner-depth0 .rp-comment-collapse {
    width: 24px;
}
.rp-comment-inner-depth0 .rp-comment-collapse-icon {
    margin: 0;
}
.rp-comment-collapse-icon {
    
    // display: none;
    margin-left: -4px;
    margin-right: 0;
}
.rp-comment-collapse-icon svg {
    fill: @inactive-icon !important;
    &:hover {
        fill: @active-icon !important;
    }
}
.rp-comment-expand-button {
    .rp-comment-collapse-button;
    display: none;
}
.rp-collapse-hidden {
    display: none;
}
.rp-comment-textarea {
    min-height: 30px !important;
}