//make sure these match rpColumnResize Directive
@layout-two-columns: 760px;
@layout-three-columns: 1280px;
@layout-four-columns: 1660px;
@one-column-size: 100%;
@two-columns-size: 370px;
@three-columns-size: 350px;
@four-columns-size: 350px;

.rp-posts-col {
    min-width: @one-column-size;
    max-width: @one-column-size;

    display: inline-block;
    @media (min-width: @layout-two-columns) {
        min-width: @two-columns-size;
        max-width: @two-columns-size;
    }
    @media (min-width: @layout-three-columns) {
        min-width: @three-columns-size;
        max-width: @three-columns-size;
    }
    @media (min-width: @layout-four-columns) {
        min-width: @four-columns-size;
        max-width: @four-columns-size;
    }
}

.rp-single-col-wrapper {

    min-width: 500px;
    max-width: 500px;
    @media (max-width: @layout-xs) {
        min-width: 100%;
        max-width: 100%;
        // margin: 0 auto;
    }

    // @media(min-width: @layout-two-columns) {
    //     max-width: 500px;
    // }
}

.rp-single-col-switch {
    min-width: 100%;
    // margin-right: -10px;
    // overflow-x: hidden;
}
