.rp-comments-dialog {
	height: 95%;
	max-height: 95% !important;
	@media (max-width: @screen-md) {
		max-width: 95%;
	}
}

.rp-comments-content {
	padding-top: 12px;
}

.rp-comments-header {
	font-size: 13px;
	color: @light-text-color;
	outline-color: @light-text-color;
}

.rp-comments-header-score {
	width: 40px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.rp-comments-score {
	font-size: 14px;
	color: @light-text-color;
	margin-bottom: 2px;
}

.rp-card-header-content {
	margin-top: auto;
	margin-bottom: auto;
}

.rp-comments-header-details {
	margin-top: 5px;
}

.rp-comments-header-title {
	.roboto;
	.link;
	font-size: 15px;
	margin-bottom: 6px;
}


.rp-comments-header-author {
	.link;
}

.rp-comments-header-subreddit {

}

.rp-comments-media {
	max-width: 100%;
	max-height: 100%;
	// background-color: #efefef;
	margin-left: auto;
	margin-right: auto;
}

.rp-comments-media > .rp-media {
	// max-height: 600px;
}


.rp-comments-media-wrapper {
	background-color: whitesmoke;
	border: 1px solid #e5e5e5;
}
.rp-comments-media .rp-media-image-wrapper {
	.rp-comments-media-wrapper;
}
.rp-comments-media .rp-media-embed-wrapper {
	// .rp-comments-media-wrapper;
	margin: auto;
}
.rp-comments-media .rp-media-video-wrapper {
	.rp-comments-media-wrapper;
}

.rp-comments-media .rp-media-embed-thumbnail-image {
	width: 100%;
	max-height: 75vh;
}

.rp-comments-media .rp-media-image {
	margin: auto;
	max-height: 75vh;
	max-width: 75vh;
	@media (max-width: @screen-md) {
		max-height: 50vh;
		max-width: 50vh;
	}
}

.rp-comments-media .rp-media-video {
	margin: auto;
}

.rp-comments-media .rp-imgur-album-image-wrapper {
	.rp-comments-media-wrapper;
}

.rp-comments-media .rp-imgur-album-image {
	display: block;
	margin: auto;
	max-height: 75vh;
	max-width: 75vh;
	@media (max-width: @screen-md) {
		max-height: 50vh;
		max-width: 50vh;
	}
}

.rp-comments-actions {
	padding-top: 24px;
	padding-bottom: 24px;
}


.rp-comments-actions .rp-post-fab {
	width: @rp-comments-fab-size !important;
	height: @rp-comments-fab-size !important;
	margin-right: 24px;
}

.rp-comments-actions .rp-post-fab-icon {
	top: 7px !important;
	left: 6px !important;
	width: @rp-comments-fab-icon-size !important;
	height: @rp-comments-fab-icon-size !important;
}

.rp-comments-thread-progress {
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}