/*
	CONTENT AND COLUMNS
 */
html {
    overflow-y: hidden;
}

.rp-main {
    background-color: @rp-background-content;
    z-index: 0;
    max-height: 100vh;
    md-content {
        background-color: @rp-background-content;
    }
}
.rp-page-content {
    position: relative;
    top: 0 !important;
    background-color: @rp-background-content;
    margin-bottom: -50px;
}

.rp-content {
    z-index: 0;

    //commented out because leaving it shoes the scrollbar up arrow.
    //but it changes the way the page scrolls slightly.
    transform: translate3d(0px, 0px, 0px) !important;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    margin-top: -50px !important;
    margin-bottom: 0 !important;
    padding-top: 78px !important;
    background-color: @rp-background-content !important;
    // height: 100%;

    // height: 80vh !important;
    // max-height: 100% !important;
    // overflow-y: visible !important;
}

.rp-bottom {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
}
.rp-view {

    // height: 100vh !important;
    // width: 100% !important;
    // overflow: auto;
}

// Original
.rp-subreddit-posts {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: @rp-background-content;

    // height: 100% !important;
}
.rp-posts-wrapper {
    margin: 0;
    @media (min-width: @layout-sm) {
        margin: auto;
    }
}
.rp-content-eol {
    text-align: center;
    font-size: 18px;
    color: @medium-text-color;
}
.rp-bottom-sheet-parent {
    position: relative !important;
}
