@layout-two-columns: 760px;
@layout-three-columns: 1280px;
@layout-four-columns: 1660px;
@one-column-size: 100%;
@single-column-width: 484px;
@single-column-height: 403px;
@two-columns-width: 354px;
@two-columns-height: 300px;
@three-columns-width: 334px;
@three-columns-height: 283px;

.chitikaAdBlock {
    @media(min-width: @layout-xs) and (max-width: @layout-two-columns) {
        min-width: @single-column-width;
        max-width: @single-column-width;
        min-height: @single-column-height;
        max-height: @single-column-height;
    }
    @media (min-width: @layout-two-columns) {
        min-width: @two-columns-width;
        max-width: @two-columns-width;
        min-height: @two-columns-height;
        max-height: @two-columns-height;
    }
    @media (min-width: @layout-three-columns) {
        min-width: @three-columns-width;
        max-width: @three-columns-width;
        min-height: @three-columns-height;
        max-height: @three-columns-height;
    }
    // height: 100% !important;
}

.rp-single-col-wrapper .chitikaAdBlock {
    @media(max-width: @layout-xs) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @media (min-width: @layout-xs) {
        min-width: @single-column-width;
        max-width: @single-column-width;
        min-height: @single-column-height;
        max-height: @single-column-height;
    }
}

.rp-chitika-ad {
    @media (max-width: @layout-xs) {
        position: relative;
        padding-bottom: 83.26% !important;
        padding-top: 25px !important;
        height: 0 !important;
    }
}

.chitikaAdBlock {
    @media (max-width: @layout-xs) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.chitikaAdContainer {
    padding: 0;
    display: flex;
    height: auto;
    @media(min-width: @layout-xs) {
        padding: 8px;
    }
}
