.rp-captcha-image-wrapper {
	position: relative;
	width: 120px;
	height: 50px;
	margin-top: 15px;
}

.rp-captcha-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 50px;
	background-color: whitesmoke;
	outline-style: none !important;

}

.rp-captcha-image-progress {
	position: absolute;
	left: 31px;
	// margin: auto;
}

.rp-captcha-input input {
	width: 120px;
}

.rp-bad-captcha-message {
	font-size: 14px;
}

.rp-captcha-reload-button {
	position: absolute !important;
	left: 130px;
	top: 7px;
	width: @rp-post-fab-size !important;
	height: @rp-post-fab-size !important;
	background-color: transparent !important;
	z-index: 0 !important;
	box-shadow: none !important;
	margin: 0;

}

.rp-captcha-reload-icon {

	position: absolute;
	top: 7px !important;
	left: 7px !important;
	color: @inactive-icon !important;
	width: @rp-post-fab-icon-size !important;
	height: @rp-post-fab-icon-size !important;

}
