.rp-comment {
	padding-left: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.rp-comment-depth0 {
	padding-left: 0px !important;
}


.rp-comment-inner {
	border-left-width: 4px;
	border-left-style: solid;
}

.rp-comment-inner-depth0 {
	border-left-color: @rp-comments-depth-0 !important;
}
.rp-comment-inner-depth1 {
	border-left-color: @rp-comments-depth-1 !important;
}
.rp-comment-inner-depth2 {
	border-left-color: @rp-comments-depth-2 !important;
}
.rp-comment-inner-depth3 {
	border-left-color: @rp-comments-depth-3 !important;
}
.rp-comment-inner-depth4 {
	border-left-color: @rp-comments-depth-4 !important;
}
.rp-comment-inner-depth5 {
	border-left-color: @rp-comments-depth-5 !important;
}
.rp-comment-inner-depth6 {
	border-left-color: @rp-comments-depth-6 !important;
}
.rp-comment-inner-depth7 {
	border-left-color: @rp-comments-depth-7 !important;
}
.rp-comment-inner-depth8 {
	border-left-color: @rp-comments-depth-8 !important;
}
.rp-comment-inner-depth9 {
	border-left-color: @rp-comments-depth-9 !important;
}
.rp-comment-inner-depth10 {
	border-left-color: @rp-comments-depth-10 !important;
}


.rp-comment-score {
	// padding-top: 6px;
	padding-left: 12px;
}

.rp-comment-body {
	padding: 6px 12px 0 12px;
}

.rp-comment-title {
	font-size: 14px;
	margin-bottom: 6px;
}

.rp-comment-user {
	.rp-author;
}

.rp-comment-user-op {
	.rp-author;
	color: @md-default-accent;
}

.rp-comment-body-html p {
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: normal;
	font-size: 16px;
}

.rp-comment-body-html blockquote {
	border-width: 0px;
	border-left-width: 2px;
	border-style: solid;
	border-color: @light-text-color;
	margin-left: 0px;
	padding-left: 8px;
	color: @light-text-color;
	font-style: italic;
}

.rp-comment-details {
	color: @light-text-color;
	font-size: 12px;
}

.rp-comment-actions {
	padding-left: 0px;
}

.rp-comment-showmore {
	// background-color: whitesmoke;
	// text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

.rp-comment-showmore-link {
	font-size: 11px;
	.link;
	color:  @light-text-color;
	&:hover {
		cursor: pointer;
		cursor: hand;
		color: @md-default-accent;
	}
}

.rp-comment-showmore-progress {
	// width: 24px;
	// height: 24px
}


/*
	Media Styles
 */


.rp-comment-media-max-size {
	max-height: 75vh;
	max-width: 75vh;
	@media (max-width: @screen-md) {
		max-height: 50vh;
		max-width: 50vh;
	}
}

.rp-comment-media {
	.rp-comment-media-max-size;
}

.rp-comment-media .rp-media-image {
	.rp-comment-media-max-size;
}

.rp-comment-media .rp-media-thumbnail {
    
}

.rp-comment-media .rp-media-imgur-album-image {
	max-height: 65vh;
	max-width: 65vh;
	@media (max-width: @screen-md) {
		max-height: 50vh;
		max-width: 50vh;
	}
	margin-left: auto;
	margin-right: auto;	
}
