/*
	CONTENT AND COLUMNS
 */
html {
    overflow-y: hidden;
}

.rp-main {
    background-color: @rp-background-content;
    z-index: 0;
    max-height: 100vh;
    // overflow: hidden !important;
}

.rp-main:nth-of-type(2) {
    display: none !important;
}

.rp-page-content {
    position: relative;
    top: 0px;
    background-color: @rp-background-content;
    // margin-bottom: -50px;
}

.rp-content {
    z-index: 0;

    //commented out because leaving it shoes the scrollbar up arrow.
    //but it changes the way the page scrolls slightly.
    // transform: translate3d(0px, 0px, 0px) !important;
    // -webkit-transform: translate3d(0px, 0px, 0px) !important;
    background-color: @rp-background-content !important;
    // height: 100%;
    margin-bottom: 0 !important;


    //USE THIS FOR MOVING TAB TOOLBAR
    // margin-top: -50px !important;
    // padding-top: 78px !important;

    //USE THIS FOR STATIONARY TAB TOOLBAR
    padding-top: 16px;
    // margin-bottom: 50px !important;

    // height: 80vh !important;
    // max-height: 100% !important;
    // overflow-y: visible !important;
}

.rp-content-scroll {
    transform: translateZ(0);
    overflow-y: scroll;
    // will-change: transform;

}

#rp-dialog-anchor {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
}

// Original
.rp-subreddit-posts {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: @rp-background-content;

    // height: 100% !important;
}
.rp-posts-wrapper {
    margin: 0 auto;
    max-width: 100% !important;
 
}
.rp-content-eol {
    text-align: center;
    font-size: 18px;
    color: @medium-text-color;
    box-shadow: none;
    background-color: @rp-background-content;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}
.rp-bottom-sheet-parent {
    position: relative !important;
}
