rp-card-container {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: auto;

	// @media only screen and (min-width: @layout-two-columns) {
	// 	margin: 0 auto;
	// }
	// @media (min-width: @layout-two-columns) {
	// 	max-width: 760px !important;
	// }
	// @media (min-width: @layout-three-columns) {
	// 	max-width: 1280px !important;
	// }
	// @media (min-width: @layout-four-columns) {
	// 	max-width: 1660px !important;
	// }

	.rp-card-wrapper {
		margin: 0 auto;
		position: relative;
	}

	rp-card-column {
		// position: absolute;
		.rp-card-column-inner {
			display: inline-table;
			position: relative;
		}
	}

	.rp-card-col-0 {
		left: 0px;
		// transform: translateX(0px);

	}

	.rp-card-col-1 {
		left: 370px;
		// transform: translateX(370px);
	}

	rp-card {
		.rp-posts-col;
		position: absolute;

	}
}
