@dark-primary-color: #2f3136;
@dark-background-color: #21252b; // @dark-normal-text-color: ;
// @dark-light-text-color: ;

.rp-dark-theme md-toolbar {
    background-color: @dark-primary-color !important;
}

.rp-dark-theme md-content {
    background-color: @dark-background-color !important;
}