// one dark colors
@base00: #282c34;
@base01: #353b45;
@base02: #3e4451;
@base03: #545862;
@base04: #565c64;
@base05: #abb2bf;
@base06: #b6bdca;
@base07: #c8ccd4;
@dark-white87: rgba(255,255,255,0.87);
@dark-white56: rgba(255,255,255,0.56);
@dark-white24: rgba(255,255,255,0.24);
@dark-background: @base00;
@dark-primary: @base01;
@dark-lighter-background: @base02;
@dark-lighter-text: #e8e8e8;

.rp-body.rp-dark-theme {
    background-color: @dark-background !important;
}

.rp-dark-theme md-toolbar {
    background-color: @dark-primary !important;
}

.rp-dark-theme md-content {
    background-color: @dark-background !important;
}

.rp-dark-theme md-card {
    background-color: @dark-lighter-background !important;
}

.rp-dark-theme {
    .default-dark-button {
        background-color: @base02 !important;
        color: @base04 !important;

        span {
            color: @dark-white87 !important;
        }

        &:hover {
            background-color: @base01 !important;
        }
    }

    md-content {
        background-color: transparent !important;
        color: @dark-white87;
    }

    rp-toolbar {
        background-color: @dark-background !important;
    }

    md-sidenav {
        background-color: @dark-background !important;
    }

    md-dialog {
        background-color: @base01 !important;
    }

    .rp-page-content {
        background-color: @dark-background !important;
    }

    .rp-main {
        background-color: @dark-background !important;
    }

    .rp-sidenav-content {
        color: @dark-white87 !important;
    }

    .rp-sidenav-icon svg {
        fill: @dark-white56 !important;
    }

    .rp-sidenav-identity-name {
        color: @dark-white87 !important;
    }

    .rp-sidenav-identity-identity md-icon svg {
        fill: @dark-white56 !important;
    }

    md-input-container {
        label {
            color: @dark-white87 !important;
        }

        label.md-required:after {
            color: @dark-white87 !important;
        }

        .md-input {
            color: @dark-white87 !important;
            border-color: @dark-white56 !important;
        }

        input {
            color: @dark-white87 !important;
        }

        input::placeholder {
            color: @dark-white56 !important;
        }

        textarea::placeholder {
            color: @dark-white56 !important;
        }
    }

    md-select {
        .md-select-value {
            .rp-select-option-label {
                color: @dark-white87 !important;
            }
            border-bottom-color: @dark-white56 !important;
        }

        .md-select-icon {
            color: @dark-white87 !important;
        }
    }

    md-select-menu {
        md-content {
            background-color: @base01 !important;
        }
    }

    .rp-post-action {
        button {
            background-color: @base01 !important;

            span {
                color: @dark-white87 !important;
            }

            &:hover {
                background-color: @base02 !important;
            }
        }

        md-icon svg {
            fill: @dark-white56;
        }
    }

    .rp-select-option {
        background-color: @base01 !important;

        .rp-select-option-label {
            color: @dark-white87 !important;
        }
    }

    .rp-select-option:focus {
        background-color: @base01 !important;
    }

    .rp-select-option[selected] {
        background-color: @base02 !important;
    }

    .rp-settings-font-size-select {
        md-select-value {
            color: @dark-white87 !important;
        }
    }

    .rp-settings-font-size-option {
        background-color: @base01 !important;
        color: @dark-white87 !important;

        &:hover {
            background-color: @base02 !important;
        }
    }

    .rp-settings-font-size-option:focus {
        background-color: @base01 !important;
    }

    .rp-settings-font-size-option[selected] {
        background-color: @base02 !important;
    }

    .rp-search-sidenav-form button md-icon svg {
        fill: @dark-white56 !important;
    }

    .rp-sidenav-footer {
        color: @dark-white56 !important;
    }

    .rp-toolbar .rp-brand-name {
        border-right-color: @dark-white24 !important;
    }

    md-divider {
        border-top-color: @dark-white24;
    }

    md-menu-content {
        background-color: @base01 !important;

        md-menu-item {
            color: @dark-white87 !important;
        }
    }

    .rp-post-header-title {
        color: @dark-white87 !important;
    }

    .rp-post-header-details {
        color: @dark-white56 !important;
    }

    .rp-post-selftext {
        color: @dark-white87 !important;
    }

    rp-score {
        color: @dark-white87 !important;
    }

    .rp-post-fab-icon svg {
        fill: @dark-white56 !important;
    }

    .rp-article-button {
        button {
            background-color: @base02 !important;

            span {
                color: @dark-white87 !important;
            }
        }

        md-icon svg {
            fill: @dark-white56 !important;
        }
    }
    // .rp-toolbar-action-icon svg {
    //     fill: @dark-white56 !important;
    // }
    //
    .rp-dialog-close-button {
        md-icon svg {
            fill: @dark-white56 !important;
        }

        &:hover {
            md-icon svg {
                fill: @mdc-red-500 !important;
            }
        }
    }

    .rp-article-content {
        background-color: transparent !important;
    }

    .rp-article-content-inner {
        background-color: transparent !important;
    }
    // .rp-article .rp-article-content,
    // .rp-article-dialog .rp-article-content {
    // }
    .rp-article-post {
        background-color: @base01 !important;
    }

    .rp-article-header-title {
        color: @dark-white87 !important;
    }

    .rp-article-thread {
        // background-color: @base01 !important;
        background-color: transparent !important;
    }

    .rp-comment-inner {
        background-color: @base01 !important;
    }

    .rp-comment-details {
        color: @dark-white56 !important;
    }

    .rp-comment-body {
        color: @dark-white87 !important;
    }

    .rp-comment-collapse-icon {
        svg {
            fill: @dark-white56 !important;
        }
    }

    .rp-comment-showmore-link {
        color: @dark-white56;
    }

    .rp-comment-showmore a {
        color: @dark-white56 !important;
    }

    .rp-article-nocomments {
        // background-color: @base01 !important;
        background-color: transparent !important;
        color: @dark-white56 !important;
    }

    .rp-settings-dialog .rp-settings-content {
        background-color: transparent !important;
    }

    .rp-settings-title {
        color: @dark-white87 !important;
    }

    md-tabs-wrapper {
        border-bottom-color: @dark-white24 !important;
    }

    md-tab-item {
        color: @dark-white87 !important;
    }

    .rp-cancel-button {
        background-color: @base01 !important;

        span {
            color: @dark-white87 !important;
        }

        &:hover {
            color: white !important;
            background-color: @mdc-red-500 !important;
        }
    }

    .rp-direct-message {
        color: @dark-white87 !important;
    }

    .rp-direct-message-header {
        md-icon svg {
            fill: @dark-white56 !important;
        }

        .rp-direct-message-subject {
            color: @dark-white87 !important;
        }
    }

    .rp-direct-message-details {
        color: @dark-white56 !important;

        .rp-message-arrow-icon svg {
            fill: @dark-white56 !important;
        }
    }

    .rp-direct-message-inner {
        background-color: transparent !important;
    }

    .rp-direct-message-inner-depth0 {
        border-left-color: transparent !important;
    }

    .rp-message-comment-wrapper {
        md-divider {
            display: none;
        }
    }

    .rp-message-comment {
        background: transparent !important;

        .rp-message-comment-title {
            md-icon svg {
                fill: @dark-white56 !important;
            }

            a {
                color: @dark-white87 !important;
            }
        }

        .rp-message-comment-details {
            color: @dark-white56 !important;
        }

        .rp-message-comment-body-html {
            color: @dark-white87 !important;
        }
    }

    .rp-speed-dial-actions {
        button {
            background-color: @base02 !important;
        }

        md-icon svg {
            fill: @dark-white56 !important;
        }
    }

    .rp-form-title {
        color: @dark-white56 !important;
    }

    .rp-form-inner {
        background: transparent !important;
        color: @dark-white87 !important;

        .rp-submit-cancel-button {
            .default-dark-button;
        }
    }

    md-virtual-repeat-container {
        background-color: @base01 !important;
        color: @dark-white87 !important;
    }

    .md-autocomplete-suggestions li {
        span {
            color: @dark-white56 !important;

            .highlight {
                color: @dark-white87 !important;
            }
        }

        &:hover {
            background-color: @base02 !important;
        }
    }

    .rp-formatting-code {
        color: @dark-white87 !important;
        background-color: @base04 !important;
    }

    .rp-message-compose-form {
        background-color: transparent !important;
    }

    .rp-message-compose-cancel-button {
        .default-dark-button;
    }

    .rp-link-comment {
        color: @dark-white87 !important;
    }
}
// .dark-theme
// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @layout-xs) {
    ::-webkit-scrollbar-thumb {
        background: @base02;
        border: 0 none #ffffff;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: @base03;
    }
}
//dividers
//toolbar animating in
//
//animations for opening sidenav items
@keyframes subreddits_enter_dark {
    from {
        max-height: 0;
        background-color: @dark-lighter-background;
    }

    to {
        max-height: 5000px;
        background-color: @dark-background;
    }
}
@keyframes subreddits_leave_dark {
    from {
        max-height: 5000px;
        background-color: @dark-background;
    }

    to {
        max-height: 0;
        background-color: @dark-lighter-background;
    }
}

.rp-dark-theme .rp-animation-subreddits.ng-enter {
    animation: subreddits_enter_dark 750ms @rp-expando-curve !important;
}

.rp-dark-theme .rp-animation-subreddits.ng-leave {
    animation: subreddits_leave_dark 750ms @rp-expando-curve !important;
}

.rp-dark-theme .rp-animation-messages-menu.ng-enter {
    animation: subreddits_enter_dark 500ms @rp-expando-curve !important;
}

.rp-dark-theme .rp-animation-messages-menu.ng-leave {
    animation: subreddits_leave_dark 500ms @rp-expando-curve !important;
}
@keyframes search_form_enter_dark {
    from {
        max-height: 0;
        background-color: @dark-lighter-background;
    }

    to {
        max-height: 400px;
        background-color: @dark-background;
    }
}
@keyframes search_form_leave_dark {
    from {
        max-height: 400px;
        background-color: @dark-background;
    }

    to {
        max-height: 0;
        background-color: @dark-lighter-background;
    }
}

.rp-dark-theme .rp-animation-searchform.ng-enter {
    animation: search_form_enter_dark 200ms ease-in !important;
}

.rp-dark-theme .rp-animation-searchform.ng-leave {
    animation: search_form_leave_dark 200ms ease-out !important;
}
// TODO
// //toast and tooltip colors
//animations when open sidenav things and popups
//md select menus
//ripple on buttons
//scrollbars
//background when opening gif