.rp-article-post {

    .rp-delete-form {
        padding: 0px 24px 24px 24px;

        .md-actions {
            padding-bottom: 10px;
        }

        md-progress-circular {
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }
}

.rp-delete-form {
    padding-left: 16px;
    padding-right: 16px;
    background-color: @mdc-red-500;
    color: white;
    font-size: 14px;

    button#delete {
        // font-size: 14px; 
        // color: @mdc-red-500;
        // background-color: white;
        // color: white; 
        // background-color: @mdc-red-800;
    }

    .md-actions {
        text-align: right;
        margin: 0;
    }
}