.rp-close-dialog-button {
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 1;

}

.rp-dialog-close-icon {
    color: @light-text-color;

    &:hover {
        color: @normal-text-color;
    }
}
