md-dialog {
    @media(max-width: @layout-xs) {
        height: 100% !important;
        width: 100% !important;
        max-height: 100% !important;
        max-width: 100% !important;
        border-radius: 0 !important;
    }
}
