.rp-article-post {

	.rp-delete-form {
		padding: 0px 24px 24px 24px;

		.md-actions {
			padding-bottom: 10px;

		}

		md-progress-circular {
			margin-right: auto !important;
			margin-left: auto !important;

		}
	}

}

rp-link .rp-delete-form {
	padding: 16px;
}
