// one dark colors
@dark00: #282c34;
@dark01: #353b45;
@dark02: #3e4451;
@dark03: #545862;
@dark04: #565c64;
@dark05: #abb2bf;
@dark06: #b6bdca;
@dark07: #c8ccd4;
@light01: rgba(255,255,255,0.87);
@light02: rgba(255,255,255,0.56);
@light03: rgba(255,255,255,0.24);

.rp-body.rp-dark-theme {
    background-color: @dark00 !important;
}

.rp-dark-theme md-content {
    background-color: @dark00 !important;
}

.rp-dark-theme md-card {
    background-color: @dark02 !important;
}

.rp-dark-theme {
    .default-dark-button {
        background-color: @dark02 !important;
        color: @dark04 !important;

        span {
            color: @light01 !important;
        }

        &:hover {
            background-color: @dark01 !important;
        }
    }

    md-toolbar {
        background-color: @dark01 !important;
    }

    md-content {
        background-color: transparent !important;
        color: @light01;
    }

    rp-toolbar {
        background-color: @dark00 !important;
    }

    md-sidenav {
        background-color: @dark00 !important;
    }

    md-dialog {
        background-color: @dark01 !important;
    }

    .rp-sidenav-left {
        background-color: @dark01 !important;
        color: @light01 !important;

        .rp-sidenav-content {
            color: @light01 !important;
        }
    }

    .rp-sidenav-white {
        .rp-brand-name {
            color: @light01 !important;
        }

        .rp-brand {
            background-color: transparent !important;
        }
    }

    .rp-page-content {
        background-color: @dark00 !important;
    }

    .rp-main {
        background-color: @dark00 !important;
    }

    .rp-sidenav-content {
        color: @light01 !important;
    }

    .rp-sidenav-icon svg {
        fill: @light02 !important;
    }

    .rp-sidenav-identity-name {
        color: @light01 !important;
    }

    .rp-sidenav-identity-identity md-icon svg {
        fill: @light02 !important;
    }

    md-input-container {
        label {
            color: @light01 !important;
        }

        label.md-required:after {
            color: @light01 !important;
        }

        .md-input {
            color: @light01 !important;
            border-color: @light02 !important;
        }

        input {
            color: @light01 !important;
        }

        input::placeholder {
            color: @light02 !important;
        }

        textarea::placeholder {
            color: @light02 !important;
        }
    }

    md-select {
        .md-select-value {
            .rp-select-option-label {
                color: @light01 !important;
            }
            border-bottom-color: @light02 !important;
        }

        .md-select-icon {
            color: @light01 !important;
        }
    }

    md-select-menu {
        md-content {
            background-color: @dark01 !important;
        }
    }

    .rp-post-action {
        button {
            background-color: @dark01 !important;

            span {
                color: @light01 !important;
            }

            &:hover {
                background-color: @dark02 !important;
            }
        }

        md-icon svg {
            fill: @light02;
        }
    }

    .rp-select-option {
        background-color: @dark01 !important;

        .rp-select-option-label {
            color: @light01 !important;
        }
    }

    .rp-select-option:focus {
        background-color: @dark01 !important;
    }

    .rp-select-option[selected] {
        background-color: @dark02 !important;
    }

    .rp-settings-font-size-select {
        md-select-value {
            color: @light01 !important;
        }
    }

    .rp-settings-font-size-option {
        background-color: @dark01 !important;
        color: @light01 !important;

        &:hover {
            background-color: @dark02 !important;
        }
    }

    .rp-settings-font-size-option:focus {
        background-color: @dark01 !important;
    }

    .rp-settings-font-size-option[selected] {
        background-color: @dark02 !important;
    }

    .rp-search-sidenav-form button md-icon svg {
        fill: @light02 !important;
    }

    .rp-sidenav-footer {
        color: @light02 !important;
    }

    .rp-toolbar .rp-brand-name {
        border-right-color: @light03 !important;
    }

    md-divider {
        border-top-color: @light03;
    }

    md-menu-content {
        background-color: @dark01 !important;

        md-menu-item {
            color: @light01 !important;
        }
    }

    .rp-post-header-title {
        color: @light01 !important;
    }

    .rp-post-header-details {
        color: @light02 !important;
    }

    .rp-post-selftext {
        color: @light01 !important;
    }

    rp-score {
        color: @light01 !important;
    }

    .rp-post-fab-icon svg {
        fill: @light02 !important;
    }

    .rp-article-button {
        button {
            background-color: @dark02 !important;

            span {
                color: @light01 !important;
            }
        }

        md-icon svg {
            fill: @light02 !important;
        }
    }
    // .rp-toolbar-action-icon svg {
    //     fill: @light02 !important;
    // }
    //
    .rp-dialog-close-button {
        md-icon svg {
            fill: @light02 !important;
        }

        &:hover {
            md-icon svg {
                fill: @mdc-red-500 !important;
            }
        }
    }

    .rp-article-content {
        background-color: transparent !important;
    }

    .rp-article-content-inner {
        background-color: transparent !important;
    }
    // .rp-article .rp-article-content,
    // .rp-article-dialog .rp-article-content {
    // }
    .rp-article-post {
        background-color: @dark01 !important;
    }

    .rp-article-header-title {
        color: @light01 !important;
    }

    .rp-article-thread {
        // background-color: @dark01 !important;
        background-color: transparent !important;
    }

    .rp-comment-inner {
        background-color: @dark01 !important;
    }

    .rp-comment-details {
        color: @light02 !important;
    }

    .rp-comment-body {
        color: @light01 !important;
    }

    .rp-comment-collapse-icon {
        svg {
            fill: @light02 !important;
        }
    }

    .rp-comment-showmore-link {
        color: @light02;
    }

    .rp-comment-showmore a {
        color: @light02 !important;
    }

    .rp-article-nocomments {
        // background-color: @dark01 !important;
        background-color: transparent !important;
        color: @light02 !important;
    }

    .rp-settings-dialog .rp-settings-content {
        background-color: transparent !important;
    }

    .rp-settings-title {
        color: @light01 !important;
    }

    md-tabs-wrapper {
        border-bottom-color: @light03 !important;
    }

    md-tab-item {
        color: @light01 !important;
    }

    .rp-cancel-button {
        background-color: @dark01 !important;

        span {
            color: @light01 !important;
        }

        &:hover {
            color: white !important;
            background-color: @mdc-red-500 !important;
        }
    }

    .rp-direct-message {
        color: @light01 !important;
    }

    .rp-direct-message-header {
        md-icon svg {
            fill: @light02 !important;
        }

        .rp-direct-message-subject {
            color: @light01 !important;
        }
    }

    .rp-direct-message-details {
        color: @light02 !important;

        .rp-message-arrow-icon svg {
            fill: @light02 !important;
        }
    }

    .rp-direct-message-inner {
        background-color: transparent !important;
    }

    .rp-direct-message-inner-depth0 {
        border-left-color: transparent !important;
    }

    .rp-message-comment-wrapper {
        md-divider {
            display: none;
        }
    }

    .rp-message-comment {
        background: transparent !important;

        .rp-message-comment-title {
            md-icon svg {
                fill: @light02 !important;
            }

            a {
                color: @light01 !important;
            }
        }

        .rp-message-comment-details {
            color: @light02 !important;
        }

        .rp-message-comment-body-html {
            color: @light01 !important;
        }
    }

    .rp-speed-dial-actions {
        button {
            background-color: @dark02 !important;
        }

        md-icon svg {
            fill: @light02 !important;
        }
    }

    .rp-form-title {
        color: @light02 !important;
    }

    .rp-form-inner {
        background: transparent !important;
        color: @light01 !important;

        .rp-submit-cancel-button {
            .default-dark-button;
        }
    }

    md-virtual-repeat-container {
        background-color: @dark01 !important;
        color: @light01 !important;
    }

    .md-autocomplete-suggestions li {
        span {
            color: @light02 !important;

            .highlight {
                color: @light01 !important;
            }
        }

        &:hover {
            background-color: @dark02 !important;
        }
    }

    .rp-formatting-code {
        color: @light01 !important;
        background-color: @dark04 !important;
    }

    .rp-message-compose-form {
        background-color: transparent !important;
    }

    .rp-message-compose-cancel-button {
        .default-dark-button;
    }

    .rp-link-comment {
        color: @light01 !important;
    }

    .rp-media-imgur-album-info-count {
        color: @light02 !important;
    }

    .rp-media-imgur-album-image-description {
        color: @light01 !important;
    }

    .rp-gilded-count {
        color: @light02 !important;
    }

    .rp-search-srlink-heading {
        color: @light02 !important;
    }

    .rp-search-sub-title {
        color: @light01 !important;
    }

    .rp-search-more-button {
        md-icon svg {
            fill: @light02 !important;
        }
    }

    .rp-search-sub-actions {
        background-color: @dark03 !important;
    }

    .rp-search-sub-description {
        color: @light01 !important;
    }

    rp-search-sub md-divider {
        display: none;
    }

    md-bottom-sheet {
        background-color: @dark01 !important;
        border-top-color: @dark02 !important;

        md-icon svg {
            fill: @light02 !important;
        }

        button {
            color: @light02 !important;
        }
    }
    @media (min-width: @layout-xs) {
        ::-webkit-scrollbar-thumb {
            background: @dark02;
            border: 0 none #ffffff;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: @dark03;
        }
    }

    .md-toast-content,
    md-tooltip {
        background-color: @dark03 !important;
    }

    .rp-article-thread-comment-warning {
        background-color: @dark02 !important;

        .rp-article-thread-comment-warning-body {
            color: @light02 !important;
        }
    }

    .rp-comment-inner.rp-comment-focussed {
        background-color: @dark02 !important;
    }
}
// .dark-theme
// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//dividers
//toolbar animating in
//
//animations for opening sidenav items
@keyframes subreddits_enter_dark {
    from {
        max-height: 0;
        background-color: @dark02;
    }

    to {
        max-height: 5000px;
        background-color: @dark00;
    }
}
@keyframes subreddits_leave_dark {
    from {
        max-height: 5000px;
        background-color: @dark00;
    }

    to {
        max-height: 0;
        background-color: @dark02;
    }
}

.rp-dark-theme .rp-animation-subreddits.ng-enter {
    animation: subreddits_enter_dark 750ms @rp-expando-curve !important;
}

.rp-dark-theme .rp-animation-subreddits.ng-leave {
    animation: subreddits_leave_dark 750ms @rp-expando-curve !important;
}

.rp-dark-theme .rp-animation-messages-menu.ng-enter {
    animation: subreddits_enter_dark 500ms @rp-expando-curve !important;
}

.rp-dark-theme .rp-animation-messages-menu.ng-leave {
    animation: subreddits_leave_dark 500ms @rp-expando-curve !important;
}
@keyframes search_form_enter_dark {
    from {
        max-height: 0;
        background-color: @dark02;
    }

    to {
        max-height: 400px;
        background-color: @dark00;
    }
}
@keyframes search_form_leave_dark {
    from {
        max-height: 400px;
        background-color: @dark00;
    }

    to {
        max-height: 0;
        background-color: @dark02;
    }
}

.rp-dark-theme .rp-animation-searchform.ng-enter {
    animation: search_form_enter_dark 200ms ease-in !important;
}

.rp-dark-theme .rp-animation-searchform.ng-leave {
    animation: search_form_leave_dark 200ms ease-out !important;
}
// TODO
// //toast and tooltip colors
//animations when open sidenav things and popups
//md select menus
//ripple on buttons
//scrollbars
//background when opening gif