
.rp-article-post {

	.rp-article-delete {
		padding: 0px 24px 24px 24px;
	}

}

.rp-delete-dialog-actions {
	padding-bottom: 10px;
}

.rp-delete-dialog-progress {
	margin-right: auto !important;
	margin-left: auto !important;

}