.rp-error-body {
	margin: 0;
	height: 100%;
}

.rp-error-sidenav {
	background-color: @md-default-primary;
	width: 256px;
	height: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
}


.rp-error-content {
	padding: 20px;
	color: @medium-text-color;
	text-align: center;
	font-family: "Roboto, RobotoDraft, Helvetica, Arial, sans-ser";
	color: @medium-text-color;
	height: 100%;
	// float: right;

	.title {
		font-size: 26px;
	}

	.message {
		font-size: 18px;
	}

}

.rp-error-image-snoo {
	width: 128px;
	height: 128px;
	display: block;
	margin: auto;
}

.rp-error-image {
	display: block;
	margin: auto;
	float: none;

}

.rp-content-404 {

	color: @medium-text-color;
	text-align: center;

	.title {
		font-size: 26px;
	}

	.message {
		font-size: 18px;
	}

}
