.larger {
    .rp-post-header-title {
        font-size: 16px !important;
    }

    .rp-post-header-details {
        font-size: 14px !important;
    }

    .rp-post-header-author {
        font-size: 15px !important;
    }

    .rp-post-selftext {
        font-size: 16px !important;
    }

    .rp-link-comment {
        font-size: 16px !important;
    }

    .rp-comment-user {
        font-size: 15px !important;
    }

    .rp-comment-details {
        font-size: 14px !important;
    }

    .rp-comment-body-html p {
        font-size: 16px !important;
    }

    .rp-comment-showmore-link {
        font-size: 14px !important;
    }

    .rp-article-header-title {
        font-size: 17px !important;
    }

    .rp-message-comment-link-title {
        font-size: 17px !important;
    }

    .rp-message-comment-details {
        font-size: 14px !important;
    }

    .rp-message-comment-body,
    .rp-message-comment-body-html p {
        font-size: 16px !important;
    }

    .rp-direct-message-details {
        font-size: 14px !important;
    }

    .rp-direct-message-body {
        font-size: 16px !important;
    }

    .rp-sidenav-identity-name {
        font-size: 18px !important;
    }

    .rp-sidenav-identity-score {
        font-size: 16px !important;
    }

    md-input-container label {
        font-size: 18px !important;
    }

    textarea {
        font-size: 18px !important;
    }

    input {
        font-size: 18px !important;
    }

    rp-score {
        font-size: 16px !important;
    }

    .rp-numcomments {
        font-size: 16px !important;
    }

    .rp-delete-form {
        font-size: 16px !important;
    }

    .md-toolbar-tools {
        font-size: 24px !important;
    }

    md-bottom-sheet.md-grid md-list-item .md-grid-text {
        font-size: 16px !important;
    }

    md-label {
        font-size: 17px !important;

    }

    .md-button {
        font-size: 15px !important;
    }
}

.smaller {
    .rp-post-header-title {
        font-size: 13px !important;
    }

    .rp-post-header-details {
        font-size: 11px !important;
    }

    .rp-post-header-author {
        font-size: 12px !important;
    }

    .rp-post-selftext {
        font-size: 13px !important;
    }

    .rp-link-comment {
        font-size: 13px !important;
    }

    .rp-comment-user {
        font-size: 12px !important;
    }

    .rp-comment-details {
        font-size: 12px !important;
    }

    .rp-comment-body-html p {
        font-size: 13px !important;
    }

    .rp-comment-showmore-link {
        font-size: 11px !important;
    }

    .rp-article-header-title {
        font-size: 14px !important;
    }

    .rp-message-comment-link-title {
        font-size: 13px !important;
    }

    .rp-message-comment-details {
        font-size: 11px !important;
    }

    .rp-message-comment-body,
    .rp-message-comment-body-html p {
        font-size: 13px !important;
    }

    .rp-direct-message-details {
        font-size: 11px !important;
    }

    .rp-direct-message-body {
        font-size: 13px !important;
    }

    .rp-sidenav-identity-name {
        font-size: 14px !important;
    }

    .rp-sidenav-identity-score {
        font-size: 13px !important;
    }

    md-input-container label {
        font-size: 14px !important;
    }

    textarea {
        font-size: 14px !important;
    }

    input {
        font-size: 14px !important;
    }

    rp-score {
        font-size: 13px !important;
    }

    .rp-numcomments {
        font-size: 13px !important;
    }

    .rp-delete-form {
        font-size: 13px !important;
    }

    .md-toolbar-tools {
        font-size: 18px !important;
    }

    md-bottom-sheet.md-grid md-list-item .md-grid-text {
        font-size: 12px !important;
    }

    md-label {
        font-size: 14px !important;

    }

    .md-button {
        font-size: 13px !important;
    }
}
