.rp-form-dialog {
    max-width: 95%;
    height: 95%;
    max-height: 95% !important;
    @media (min-width: @layout-md) {
        max-width: 80%;
    }
    @media (min-width: @layout-lg) {
        max-width: 60%;
    }
    .rp-submit-inner {
        box-shadow: none;
    }
}

.rp-form-content {
    background-color: transparent !important;
    padding-bottom: 40px;

    md-input-container {
        padding-left: 0 !important;
    }

    .rp-form-card {
        .rp-shadow;
        padding-top: 0;
        margin: 0;
        max-width: 100%; // padding-bottom: 100px !important; this was a hacky workaround for somethins... it might be fixed now though since things are working alright with it
        @media (min-width: @layout-md) {
            max-width: 80%;
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: @layout-lg) {
            max-width: 65%;
        }

        .rp-form-inner {
            margin: 0;
        }
    }

    .rp-form-inner {
        margin-left: auto;
        margin-right: auto;
        background-color: white !important; // margin-top: 40px;
        padding: 32px;
    }

    .rp-form-title {
        font-size: 24px;
        padding: 8px;
        color: @light-text-color;
    }

    .rp-form-button-area {
        // .rp-submit-margin-after;
        padding: 0 !important;

        button {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}