// rp-link {
//     rp-gilded {
//         position: absolute;
//         top: 0;
//         right: 4px;
//     }
// }
rp-gilded {
    padding-top: 6px !important;
    padding-right: 0 !important;
}

.rp-gilded-fab {
    color: @rp-gilded !important;
    width: 24px !important;
    height: 24px !important;
    min-height: 20px !important;
    background-color: transparent !important;
    z-index: 0 !important;
    box-shadow: none !important;
    margin: 0;
}

.rp-gilded-icon {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
}

.rp-gilded-icon svg {
    fill: @rp-gilded !important;
    width: 18px;
    height: 18px;
}

.rp-comment-body .rp-gilded {
    margin-left: 8px;
}

.rp-gilded-count {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.64);
}

md-dialog rp-gilded {
    margin-right: 24px;
}
