.rp-link-comment-header {
    font-size: 13px;
    color: @light-text-color;
    outline-color: @light-text-color;
    padding: 20px 16px 16px;
    
    // background-color: #f5f5f5;
}
.rp-link-comment {
    color: @normal-text-color;
    font-size: 14px;
    word-wrap: break-word;
    padding: 16px;
}
.rp-link {
    .rp-post;
    max-width: 384px !important;
    position: absolute;
}