.rp-link-comment-header {
  font-size: 13px;
  color: @light-text-color;
  outline-color: @light-text-color;
  padding: 20px 16px 16px 16px;
  // background-color: #f5f5f5;
}

.rp-link-comment {
  color: @normal-text-color;
  font-size: 14px;
  word-wrap: break-word;
  padding: 16px;

}

.masonry-brick {
    min-width: @one-column-size;
    max-width: @one-column-size;

    @media only screen and (min-width: @layout-two-columns) {
        min-width: @two-columns-size;
        max-width: @two-columns-size;
    }
    @media only screen and (min-width: @layout-three-columns) {
        min-width: @three-columns-size;
        max-width: @three-columns-size;
    }
    @media only screen and (min-width: @layout-four-columns) {
        min-width: @four-columns-size;
        max-width: @four-columns-size;
    }
}

.rp-subreddit-posts {
    margin: auto !important;

    @media only screen and (min-width: @layout-sm) {
        margin: 0 auto;

    }
}
