.rp-link-comment-header {
    font-size: 13px;
    color: @light-text-color;
    outline-color: @light-text-color;
    padding: 20px 16px 16px;
    
    // background-color: #f5f5f5;
}
.rp-link-comment {
    color: @normal-text-color;
    font-size: 14px;
    word-wrap: break-word;
    padding: 16px;
}
.rp-link {
    .rp-post;
}
rp-link {
    md-card {
        
        // width: 100%;
    }
}
.masonry-brick {
    @media only screen and (max-width: @screen-md2) {
        width: 100% !important;
    };
    
    // @media only screen and (min-width: @screen-md) and (max-width: @screen-md2) {
    //     width: 325px;
    // };
    @media only screen and (min-width: @screen-md2) and (max-width: @screen-lg) {
        width: 384px;
    };
    @media only screen and (min-width: @screen-lg) {
        width: 384px;
    };
    
    // margin-left: auto;
    // margin-right: auto;
}
.rp-subreddit-posts {
    margin: 0 auto;
    @media only screen and (max-width: @screen-md2) {
        width: 100% !important;
        margin: 0 !important;
    }
}