.rp-media-youtube {
	position: relative;
	width: 100%;
  height: 100%;

  max-width: 640px;
  max-height: 480px;

  margin-left: auto !important;
  margin-right: auto !important;
}

.rp-media-youtube-thumbnail {
	position: relative;
	width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.rp-media-youtube-thumbnail-image {
  display: block;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rp-media-youtube-content {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10px;
  padding-bottom: 67.5%;
}

.rp-link .rp-media-youtube-content,
.rp-link .rp-media-youtube-thumbnail-image {

	@media (min-width: @layout-two-columns) {
		margin-top: 0;
		padding-bottom: 0;
		min-height: 325px;
	}

	@media (min-width: @layout-three-columns) {
		margin-top: 0;
		padding-bottom: 0;
		min-height: 288px;
	}

	@media (min-width: @layout-four-columns) {
		margin-top: 0;
		padding-bottom: 0;
		min-height: 250px;

	}
}

.rp-media-youtube-content iframe {
	border: 0;
}

.rp-media-youtube-content iframe,
.rp-media-youtube-content body,
.rp-media-youtube-content #player,
.rp-media-youtube-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rp-media-youtube-play-icon {
  .rp-media-icon;

}

/*
	This is a fix for youtube embeds not fullscreening in chrome
	that was necessary the old way we were doing embeds but seems unnecessary now.
 */
// .rp-media-youtube-content #player {
// 	max-width: 100% !important;
// 	max-height: 100% !important;
// }
