/*
	Embedded video thumbnail
 */

.rp-media {
	
}


.rp-media-image {
	background-color: whitesmoke;
	// width: 100%;
	display: block;

}

// .rp-media-thumbnail {
// 	.rp-media-image;
// 	width: 100%;
// }

.rp-media-icon {
	width: 96px;
	height: 96px;
	color: white !important;
	// transform: translateY(-4px) translateX(-4px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	&:hover {
		cursor: pointer;
		cursor: hand;
	}
}


/*
	VIDEO & EMBEDS
 */

video {
	.rp-media-video;
}

.video {
	.rp-media-video;
}

.rp-media-video {
	width: 100% !important;
}

.rp-media-embed-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.rp-media-embed-object iframe,
.rp-media-embed-object object,
.rp-media-embed-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
	this fixes youtube embed not fullscreening in chrome
 */
#player {
	max-width: 100% !important;
	max-height: 100% !important;
}

.rp-media-warning-wrapper {
	// background-color: #F44336;
	height: auto;
	color: #F44336;
	text-align: center;
	font-size: 24px;
	font-weight: 600; 

	&:hover {
		cursor: pointer;
		cursor: hand;
	}

}

.rp-media-warning-show {
	display: none;
}

.rp-media-warning-wrapper:hover .rp-media-warning {
	display: none;
}

.rp-media-warning-wrapper:hover .rp-media-warning-show {
	display: block;
}

.rp-media-warning-icon {
	transform: translateY(-10px);
	width: 96px;
	height: 96px;
}

.rp-media-warning-icon svg {
	fill: #F44336;
	width: 96px;
	height: 96px;
}

.rp-media-warning-text {
	margin-top: 0px;
}

.rp-media-warning-show .rp-media-warning-icon svg {
	fill: #4CAF50;
}

.rp-media-warning-show .rp-media-warning-text {
	color: #4CAF50;
}

.rp-media-hideable {
	&:hover {
		// display: none;
	}
}

.rp-media-hideable:hover .rp-media-warning-hide {
	display: block;
}

.rp-media-warning-hide {
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	color: #F44336;
	text-align: center;
	font-size: 24px;
	font-weight: 600; 
	top: 0;
	left: 0;
	padding: 0px;
	background-color: white;
	&:hover {
		cursor: pointer;
		cursor: hand;
	}
}

//THIS MIGHT CAUSE ISSUES
.rp-media-wrapper {
	position: relative;
}