/*
	Embedded video thumbnail
 */

.rp-media {

}


.rp-media-image {
	background-color: whitesmoke;
	// width: 100%;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100%;
}

.rp-media-thumbnail {
	.rp-media-image;
	// width: 100%;
}

.rp-media-icon {
	width: 96px;
	height: 96px;
	color: white !important;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;


	&:hover {
		cursor: pointer;
		cursor: hand;
	}
}


/*
	VIDEO & EMBEDS
 */

video {
	.rp-media-video;
}

.video {
	.rp-media-video;
}

.rp-media-video {
	width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.rp-media-embed-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.rp-media-embed-object iframe,
.rp-media-embed-object object,
.rp-media-embed-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
	this fixes youtube embed not fullscreening in chrome
 */
#player {
	max-width: 100% !important;
	max-height: 100% !important;
}

@warning-icon-size: 48px;

.rp-media-warning-wrapper {
	// background-color: #efefef;
	height: auto;
	color: @material-grey-500;
	font-size: 18px;

	&:hover {
		cursor: pointer;
		cursor: hand;
	}

}

.rp-media-warning-button {
	// width: 120px;
	// float: right;
}

.rp-media-warning-icon {
	width: @warning-icon-size;
	height: @warning-icon-size;
	// margin: 0;
	// padding: 5px;
}

.rp-media-warning-icon svg {
	// fill: @material-grey-500;
	fill: @material-red-400;
}

.rp-media-warning-header {
	font-size: 48px;
	color: @material-grey-500;
}
