.rp-media-default-image {
	.rp-media-image;
}

.rp-media-default-image {
	.rp-media-image;
}

.rp-media-default-video {
	.rp-media-video;
}

.rp-media-default-play-icon {
	.rp-media-icon;
}

.rp-media-default-pause-icon {
	.rp-media-icon;
	display: none;
}

.rp-media-default-playable-wrapper:hover .rp-media-default-pause-icon {
	display: block;
}

.rp-media-default-playable-wrapper,
.rp-media-default-playable-thumbnail-wrapper {
	position: relative;
	width: 100%;
}

.rp-media-default-embed {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.rp-media-default-embed iframe,
.rp-media-default-embed object,
.rp-media-default-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}