.rp-message-content {
	.rp-content;
	background-color: #fff !important;
}

.rp-message-comment-body {
	font-size: 14px;
}

.rp-message-comment-tag {
	font-weight: 600;
	color: @light-text-color;
}

.rp-message-comment-link-title {
	.link;
	font-size: 15px;
	color: @normal-text-color;

}

.rp-message-comment {
	background-color: #fff !important;
	// box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 1px;
}

.rp-message-comment-details {
	color: @light-text-color;
	font-size: 13px;
}

.rp-message-comment-author {
	.rp-author;
}

.rp-message-comment-subreddit {
	.link;
	color: @light-text-color;
}

.rp-direct-message {
	// box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 1px;
}

.rp-direct-message-header {
	font-size: 14px;
}

.rp-direct-message-author {
	.rp-author;
}

.rp-direct-message-subject {
	font-size: 14px;
	color: @normal-text-color;
}

.rp-direct-message-details {
	.rp-message-comment-details;
}

.rp-direct-message-body {
	font-size: 14px;
}

.rp-direct-message-inner {
	border-left-width: 4px;
	border-left-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #fff !important;
	// box-shadow: rgba(0, 0, 0, 0.1) -4px 3px 18px 1px;
	margin-left: 20px;
}

.rp-direct-message-inner-depth0 {
	border-left-color: @rp-comments-depth-0 !important;
	box-shadow: none;
	margin-left: 0px;
}
.rp-direct-message-inner-depth1 {
	border-left-color: @rp-comments-depth-1 !important;
}
.rp-direct-message-inner-depth2 {
	border-left-color: @rp-comments-depth-2 !important;
}
.rp-direct-message-inner-depth3 {
	border-left-color: @rp-comments-depth-3 !important;
}
.rp-direct-message-inner-depth4 {
	border-left-color: @rp-comments-depth-4 !important;
}
.rp-direct-message-inner-depth5 {
	border-left-color: @rp-comments-depth-5 !important;
}
.rp-direct-message-inner-depth6 {
	border-left-color: @rp-comments-depth-6 !important;
}
.rp-direct-message-inner-depth7 {
	border-left-color: @rp-comments-depth-7 !important;
}
.rp-direct-message-inner-depth8 {
	border-left-color: @rp-comments-depth-8 !important;
}
.rp-direct-message-inner-depth9 {
	border-left-color: @rp-comments-depth-9 !important;
}
.rp-direct-message-inner-depth10 {
	border-left-color: @rp-comments-depth-10 !important;
}