.rp-media-imgur-album-info {
	text-align: center;
}

.rp-media-imgur-album-info-count {

}

.rp-media-imgur-album-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.rp-media-imgur-album-image {
	display: block;

}

.rp-media-imgur-album-button-before {
	.rp-media-imgur-album-button;
	left: 0;
}

.rp-media-imgur-album-button-next {
	.rp-media-imgur-album-button;
	right: 0;
}

.rp-media-imgur-album-button {
	color: @rp-image-album-icon-color;
	position: absolute;
	// top: 50%;
	// transform: translateY(-50%);
	height: 100%;
	top: 0;
	display: none;
	border-radius: 0 !important;
	background-color: rgba(200,200,200,0.6);
	margin: 0;
	min-width: 0;
	&:hover {
		background-color: rgba(220,220,220,0.6) !important;
	}
	&:focus {
		background-color: rgba(200,200,200,0.4) !important;
	}
	&:active {
		background-color: rgba(200,200,200,0.4);
	}
}

.rp-media-imgur-album-icon-before {
	.rp-media-imgur-album-icon;
	// left: 0;
}

.rp-media-imgur-album-icon-next {
	.rp-media-imgur-album-icon;
	// right: 0;
}

.rp-media-imgur-album-icon {
	color: @rp-image-album-icon-color !important;
	width: 24px;
	height: 24px;

}

.rp-media-imgur-album-wrapper:hover .rp-media-imgur-album-button-before {
 	display: block;
}

.rp-media-imgur-album-wrapper:hover .rp-media-imgur-album-button-next {
 	display: block;
}

.rp-media-imgur-album-details p {
	font-size: 14px;
	line-height: normal;
	text-align: left;
}

.rp-media-imgur-album-progress {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-bottom: auto !important;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
}