.rp-media-image-panel-album {
    @image-panel-close-fab-size: 34px;
    @image-panel-close-fab-icon-size: 24px;

    height: 100%;
    width: 100%;

    .rp-image-wrapper {

        object-fit: cover;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;

    }

    .rp-image-wrapper-inner {
        position: relative;
    }

    .rp-image-wrapper:hover .rp-media-imgur-album-panel-button {
        display: block;
    }

    // img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }

    img.square {
        width: 85vw;
        height: 85vh;
    }

    img.portrait {
        max-width: 85vw;
        height: 95vh;
    }

    img.landscape {
        max-height: 95vh;
        width: 85vw;
    }

    .rp-close-wrapper {
        z-index: 100;
        min-height: 100vh;
        min-width: 100vw;
    }

    .rp-media-imgur-album-panel-button {
        color: @rp-image-album-icon-color;
        position: absolute;
        height: 100%;
        top: 0;
        margin: 0 !important;
        padding: 0 !important;
        display: none;
        border-radius: 0 !important;
        background-color: rgba(200,200,200,0.6);
        min-width: 36px;

        &:hover {
            background-color: rgba(220,220,220,0.6) !important;
        }

        &:focus {
            background-color: rgba(200,200,200,0.4) !important;
        }

        &:active {
            background-color: rgba(200,200,200,0.4);
        }
    }

    .rp-media-imgur-album-panel-button.prev {
        left: 0;
    }

    .rp-media-imgur-album-panel-button.next {
        right: 0;
    }

    .rp-media-image-panel-close-button {
        position: absolute;
        top: 8px;
        right: 16px;
        z-index: 1 !important;
        background-color: transparent !important; // z-index: 0 !important;
        box-shadow: none !important;
        margin: 0;
        padding: 0;
        min-width: @image-panel-close-fab-size !important;
        min-height: @image-panel-close-fab-size !important;
        max-width: @image-panel-close-fab-size !important;
        max-height: @image-panel-close-fab-size !important;
        color: @mdc-red-500 !important;

        md-icon {
            position: absolute;
            top: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            right: 0 !important;
            color: @inactive-icon !important;
            min-width: @image-panel-close-fab-icon-size !important;
            min-height: @image-panel-close-fab-icon-size !important;
            max-width: @image-panel-close-fab-icon-size !important;
            max-height: @image-panel-close-fab-icon-size !important;

            svg {
                // fill: @inactive-icon !important;
                fill: white !important;
                width: @image-panel-close-fab-icon-size !important;
                height: @image-panel-close-fab-icon-size !important;
            }
        }

        &:hover {
            md-icon {
                svg {
                    fill: @mdc-red-500 !important;
                }
            }
        }
    }
}
