md-menu.rp-overflow-menu {
    text-align: center;
    padding-top: 4px;
    padding-right: 0;
    padding-left: 0;
}

md-menu-content {
    padding: 0;
    margin: 0;

    md-menu-item.rp-link-menu-item {
        height: 36px !important;
        min-height: 36px !important;

        span {
            padding: 0;
            margin: 0;
        }

        button {
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: white !important;
            md-icon {
                min-width: 20px;
                min-height: 20px;
                max-width: 20px;
                max-height: 20px;
                float: left;
                padding: 8px;

                svg {
                    fill: @inactive-icon;
                    min-width: 20px;
                    min-height: 20px;
                    max-width: 20px;
                    max-height: 20px;
                }
            }

            span {
                float: left;
                color: @normal-text-color;
            }
        }

        button#save {
            color: @save-button;

            &:hover {
                md-icon {
                    svg {
                        fill: @save-button;
                    }
                }

                span {
                    color: @save-button;
                }
            }

            md-icon.saved {
                svg {
                    fill: @save-button;
                }
            }
        }

        button#share {
            color: @share-button;

            &:hover {
                md-icon {
                    svg {
                        fill: @share-button;
                    }
                }

                span {
                    color: @share-button;
                }
            }
        }

        button#delete {
            color: @delete-button;

            &:hover {
                md-icon {
                    svg {
                        fill: @delete-button;
                    }
                }

                span {
                    color: @delete-button;
                }
            }
        }
    }
}