.rp-message-content {
	.rp-content;
	background-color: #fff !important;
}

.rp-message-comment-body {
	font-size: 14px;
}

.rp-message-comment-tag {
	font-weight: 600;
	color: @light-text-color;
}

.rp-message-comment-link-title {
	.link;
	font-size: 15px;
	color: @normal-text-color;

}

.rp-message-comment {
	background-color: #fff !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 1px;
}

.rp-message-comment-details {
	color: @light-text-color;
	font-size: 12px;
}

.rp-message-comment-author {
	.rp-author;
}

.rp-message-comment-subreddit {
	.link;
}