//moved rp-colors.less
// .rp-fab a {
// 	background-color: @md-default-accent !important;
// }

.rp-fab li {
	outline-color: transparent !important;
}

.rp-fab md-icon#text svg {
	fill: @material-lightblue-500;
}

.rp-fab md-icon#link svg {
	fill: @material-green-500;
}
