.rp-sidenav-premium {
    .rp-sidenav-login;

    .rp-sidenav-premium-button {
        .rp-sidenav-login-button;
    }
}

.rp-sidenav-premium .rp-sidenav-button {
    margin-bottom: 16px;
    margin-left: 16px;
    // padding-top: 6px;
    max-width: 170px;
    padding-left: 6px;
}
// .rp-settings-dialog .rp-premium {
//     max-width: 100% !important;
//     margin: 0 !important;
// }

.rp-premium {
    background-color: transparent !important;
    max-width: 60%;
    margin: auto;

    md-progress-circular {
        margin: auto;
    }
}

.rp-settings-dialog .rp-premium {
    max-width: none;
    margin: 0;
}

.rp-premium-form {
    .rp-button-row {
        padding-top: 24px;
    }

    button {
        margin: 0;
    }
}

.rp-cancel-subscription button {
    font-size: 13px;
    line-height: 24px;
    margin-left: 0 !important;
    margin-right: 16px;
}

.rp-cancel-button {
    &:hover {
        color: white !important;
        background-color: @mdc-red-500 !important;
    }
}

.rp-premium-subscription-details {
    table {
        // margin: auto;
        tr {
            td {
                padding: 8px;

                md-chips {
                    md-chips-wrap {
                        box-shadow: none !important;
                    }

                    md-chip {
                        background: @mdc-light-green-500;
                        color: white;
                    }
                }
            }
        }
    }
}

.rp-premium-dialog {
    max-width: 95%;
    @media (min-width:@layout-xs) {
        max-width: 70% !important;
    }
    @media (min-width: @layout-sm) {
        max-width: 45% !important;
    }
    @media (min-width: @layout-md) {
        max-width: 35% !important;
    }
}

.rp-premium-form {
    md-input-container {
        width: 100%;
    }
    // .rp-premium-subscribing {
    //     md-progress-circular {
    //         margin: auto;
    //     }
    // }
    .rp-error {
        font-size: 14px;
        color: @mdc-red-500;
    }

    #card-errors {
        padding-top: 8px;
        font-size: 14px;
        color: @mdc-red-500;
    }

    .rp-premium-form-stripe {
        font-size: 13px;
        color: @light-text-color;

        img {
            width: 10%;
            margin-bottom: -5px;
            margin-left: 5px;
        }
    }
}
// .rp-premium-form-button {
//     margin: 0 !important;
// }
//
// .rp-premium-title {
//     font-size: 24px;
//     // padding: 16px;
//     color: @light-text-color;
//     text-align: left;
//
//     p {
//         margin: 0;
//     }
// }