.rp-post {
	background-color: @rp-background-card !important;
	@media (max-width: @screen-md) {
		margin: 0;
	}
}

/*
	HEADER
 */

.rp-post-header {
	font-size: 13px;
	color: @light-text-color;
	outline-color: @light-text-color;
	padding-top: 12px;
}

.rp-post-header-score {
	width: 40px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.rp-post-score {
	font-size: 14px;
	color: @light-text-color;
	margin-bottom: 2px;
}

.rp-post-header-content {
	margin-top: auto;
	margin-bottom: auto;
}

.rp-post-header-details {
	margin-top: 5px;
}

.rp-post-header-title {
	.roboto;
	.link;
	font-size: 15px;
	font-wieght: 600;
}


.rp-post-header-author {
	.rp-author;
}

.rp-post-header-subreddit {

}

/*
	HEADER COLOR BAR
 */

.rp-post-header-color-bar {
	border-width: 0;
	border-left-width: 2px;
	border-style: solid;
	@media(max-width: @screen-md) {
		border-left-width: 0;
		border-top-width: 2px; 
	}
}

.rp-post-header.image {
	.rp-post-header-color-bar;
	border-color: @imgur-green;
}

.rp-post-header.album {
	.rp-post-header-color-bar;
	border-color: @imgur-green;
}

.rp-post-header.video {
	.rp-post-header-color-bar;
	border-color: @gif-yellow;
}

.rp-post-header.embed {
	.rp-post-header-color-bar;
	border-color: @youtube-red;
}

.rp-post-header.self {
	.rp-post-header-color-bar;
	border-color: @md-blue;
}

/*
	MEDIA & SELFTEXT
 */

.rp-post-media {
	width: 100%;
}

.rp-post-selftext {
	word-wrap: break-word;
	font-size: 14px;
}

.rp-post-selftext a {
	color: @md-default-primary;
	text-decoration: none;
	&:hover {
		color: @md-default-accent;
		text-decoration: none;
	}
}

.rp-post-readmore {
	.link;
	color: @light-text-color;
}

.rp-post-numcomments {
	font-size: 14px;
	color: @light-text-color;
	margin-bottom: 2px;
}

/*
	ACTION BAR
 */

.rp-post-fab {
	width: @rp-post-fab-size !important;
	height: @rp-post-fab-size !important;
	background-color: white !important;
	z-index: 0 !important;
	box-shadow: none !important;
}

.rp-post-fab-icon {
	position: absolute;
	top: 7px !important;
	left: 7px !important;
	color: @inactive-icon;
	width: @rp-post-fab-icon-size !important;
	height: @rp-post-fab-icon-size !important;
}


/*
	FAB COLORS
 */

.rp-post-fab#upvote {
	color: @upvote-button !important;
}
.rp-post-fab#downvote {
	color: @downvote-button !important;
}
.rp-post-fab#save {
	color: @save-button !important;
}
.rp-post-fab#share {
	color: @share-button !important;
}
.rp-post-fab#comments {
	color: @comments-button !important;
}
.rp-post-fab#reply {
	color: @reply-button !important;
}

.rp-post-fab#upvote > .rp-post-fab-icon {
	&:hover {
		color: @upvote-button;
	}
}

.rp-post-fab#upvote > .rp-post-fab-icon.upvoted {
	color: @upvote-button;
}

.rp-post-fab#downvote > .rp-post-fab-icon {
	&:hover {
		color: @downvote-button;
	}
}

.rp-post-fab#downvote > .rp-post-fab-icon.downvoted {
	color: @downvote-button;
}

.rp-post-fab#save > .rp-post-fab-icon {
	&:hover {
		color: @save-button;
	}
}

.rp-post-fab#save > .rp-post-fab-icon.saved {
	color: @save-button;
}

.rp-post-fab#reply > .rp-post-fab-icon.replying {
	color: @reply-button;
}

.rp-post-fab#reply > .rp-post-fab-icon {
	&:hover {
		color: @reply-button;
	}
}

/*
	QUICK REPLY
 */

.rp-post-reply-label {
	font-size: 14px;
	// color: @light-text-color !important;
}
.rp-post-reply {
	background-color: #f5f5f5;
	padding-top: 2px;
	padding-bottom: 12px;
	md-input-container {
		padding-bottom: 0;
	}
}