.rp-premium-sidenav-ad {
	display: block;
	margin-left: 10px;

	.ad {
		display: block;
		margin: 0;
		width: 190px;
		height: auto;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	}

	button {
		color: white !important;
		text-transform: none;
		margin: 0;
		width: 190px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
@keyframes left_wing {
	from {
		transform: rotate(10deg);
	}

	to {
		transform: rotate(0deg);
	}
}

#left-wing_cache1 {
	animation: left_wing 1s infinite ease;
	// display: none;
}