.rp-sidenav-premium {
    .rp-sidenav-login;

    .rp-sidenav-premium-button {
        .rp-sidenav-login-button;
    }
}

.rp-sidenav-premium .rp-sidenav-button {
    margin-bottom: 16px;
    margin-left: 16px;
    padding-top: 6px;
    max-width: 170px;
    padding-left: 12px;
}
