.rp-sidenav-plus {
	.rp-sidenav-login;

	.rp-sidenav-plus-button {
		.rp-sidenav-login-button;
	}
}

.rp-sidenav-plus .rp-sidenav-button {
	margin-bottom: 16px;
	margin-left: 16px;
	// padding-top: 6px;
	max-width: 170px;
	padding-left: 6px;
}
// .rp-settings-dialog .rp-plus {
//     max-width: 100% !important;
//     margin: 0 !important;
// }

.rp-plus {
	background-color: transparent !important;
	max-width: 60%;
	margin: auto;

	.rp-plus-subscribing {
		md-progress-circular {
			margin: auto;
		}

		p {
			text-align: center;
		}
	}
}

.rp-settings-dialog .rp-plus {
	max-width: none;
	margin: 0;
}

.rp-plus-form {
	.rp-button-row {
		padding-top: 24px;
	}

	button {
		margin: 0;
	}
}

.rp-cancel-subscription button {
	font-size: 13px;
	line-height: 24px;
	margin-left: 0 !important;
	margin-right: 16px !important;
}

.rp-cancel-button {
	&:hover {
		color: white !important;
		background-color: @mdc-red-500 !important;
	}
}
@keyframes subscribe_button {
	0% {
		background-color: @mdc-light-blue-600;
	}

	50% {
		background-color: @mdc-light-blue-700;
	}

	100% {
		background-color: @mdc-light-blue-600;
	}
}

.rp-paypal-subscribe-button {
	background-color: @mdc-light-blue-600;
	color: white !important;
	animation: subscribe_button 2s ease-in-out infinite;

	&:hover {
		animation: none;
		background-color: @mdc-light-blue-500 !important;
	}

	md-icon {
		height: auto;
		width: 196px;
	}
}

.rp-plus-subscription-details {
	table {
		// margin: auto;
		tr {
			td {
				padding: 8px;

				md-chips {
					md-chips-wrap {
						box-shadow: none !important;
					}

					md-chip {
						background: @mdc-light-green-500;
						color: white;
					}
				}
			}
		}
	}
}

.rp-plus-dialog {
	max-width: 95%;
	@media (min-width:@layout-xs) {
		max-width: 70% !important;
	}
	@media (min-width: @layout-sm) {
		max-width: 45% !important;
	}
	@media (min-width: @layout-md) {
		max-width: 35% !important;
	}
}

.rp-plus-form {
	md-input-container {
		width: 100%;
	}
	// .rp-plus-subscribing {
	//     md-progress-circular {
	//         margin: auto;
	//     }
	// }
	.rp-error {
		font-size: 14px;
		color: @mdc-red-500;
	}

	#card-errors {
		padding-top: 8px;
		font-size: 14px;
		color: @mdc-red-500;
	}

	.rp-plus-form-stripe {
		font-size: 13px;
		color: @light-text-color;

		img {
			width: 10%;
			margin-bottom: -5px;
			margin-left: 5px;
		}
	}
}

.rp-plus-feature-text {
	text-align: center;
	font-size: 14px;
	color: @dark05;
	background-color: @dark01;
	margin: 0 auto 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 158px;
	padding: 16px;
}

.rp-plus-feature-image {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 190px;
	margin: 0 auto;
}

.rp-plus-sidenav-ad {
	display: block;
	margin-left: 10px;

	.ad {
		display: block;
		margin: 0;
		width: 190px;
		height: auto;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	}

	.rp-plus-logo-wrapper {
		width: 174px;
		background-color: @dark02;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 8px;
	}

	.rp-plus-logo {
		display: block;
		margin: 0 auto;
		width: 120px;
		height: auto;

		svg {
			fill: red;
			animation: reddup_plus_logo 60s linear infinite;
		}
	}
	@keyframes reddup_plus_logo {
		0% {
			fill: @mdc-deep-orange-400;
		}

		8% {
			fill: @mdc-red-400;
		}

		16% {
			fill: @mdc-pink-400;
		}

		24% {
			fill: @mdc-purple-400;
		}

		32% {
			fill: @mdc-blue-400;
		}

		40% {
			fill: @mdc-light-blue-400;
		}

		48% {
			fill: @mdc-cyan-400;
		}

		56% {
			fill: @mdc-teal-400;
		}

		64% {
			fill: @mdc-green-400;
		}

		72% {
			fill: @mdc-light-green-400;
		}

		80% {
			fill: @mdc-lime-400;
		}

		88% {
			fill: @mdc-amber-400;
		}

		96% {
			fill: @mdc-orange-400;
		}

		100% {
			fill: @mdc-deep-orange-400;
		}
	}

	img {
		display: block;
		margin: 0;
		width: 190px;
		height: auto;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		// border-top-left-radius: 4px;
		// border-top-right-radius: 4px;
	}

	button {
		color: white !important;
		text-transform: none;
		margin: 0;
		width: 190px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
@keyframes left_wing {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(25deg);
	}

	100% {
		transform: rotate(0deg);
	}
}
@keyframes right_wing {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-25deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

#left-wing_cache1 {
	transform-origin: right;
	animation: left_wing 2s infinite ease-in-out;
}

#right-wing_cache1 {
	transform-origin: left;
	animation: right_wing 2s infinite ease-in-out;
}

#DARK_cache1 {
	display: none;
}
//TODO: use this to set bat's eye color for each theme

#left-eye_cache1,
#right-eye_cache1 {
	// fill: red;
}