.rp-settings {

}
.rp-settings-swtich {

}
.rp-settings-dialog {
    // height: 60%;
    min-height: 60% !important;
}
.rp-settings-title {
    font-size: 24px;
    padding: 16px;
    color: @light-text-color;
    text-align: left;
}
.rp-setting-inset {
    min-width: 60%;
}

.rp-settings-dialog {
    max-width: 95% !important;
    @media (min-width: @layout-xs) {
        max-width: 75% !important;
    }
    @media (min-width: @layout-sm) {
        max-width: 50% !important;
    }
    @media (min-width: @layout-md) {
        max-width: 40% !important;
    }
}
