.rp-sidenav-title {
	color: #FFF;
	font-size: 60px;
}

.rp-sidenav-title-icon {
	.rp-sidenav-title;
	font-size: 36px;
	color: @rp-titlebar-font-color;
}

.rp-sidenav-content {
	overflow-y: hidden;
	&:hover {
		overflow-y: scroll;
	}
}

.rp-sidenav-identity {
	text-align: center;
}

.rp-sidenav-subreddit-button {
	text-transform: none;
	.rp-sidenav-button;
}

.rp-sidenav-message-button {
	.rp-sidenav-button;
	text-transform: none;
	padding-left: 50px;
}

.rp-sidenav-button {
	text-align: left;
	line-height: 32px;
	padding-left: 32px;
	color: #888;
	border-radius: 0px;
	width: 100%;
	margin: 0;
}

.rp-sidenav-toggle-button {
	color: #fff;
}

.rp-sidenav-subreddit-list-item {
	width: 100% !important;
	padding: 0 !important;
	min-height: 36px;

}

.rp-sidenav-subreddit-list-item-content {
	padding-left: 0;
}

.rp-sidenav-subreddit-list-item-content a {
	padding-left: 50px;
}