.rp-social-buttons {
    text-align: center;
    min-width: 210px;
    max-width: 210px;

}

.twitter-share-button {
    padding: 4px;
    display: inline-block !important;
}

.fb-like {
    min-height: 20px;
    padding: 4px;
    vertical-align: top;

}
