.rp-settings {
}

.rp-settings-swtich {
}

.rp-settings-dialog {
	height: 60%;
	min-height: 60% !important;
}

.rp-settings-title {
	font-size: 24px;
	padding: 16px;
	color: @light-text-color;
	text-align: left;
}