/*
	SEARCH
 */


/*
	TOOLBAR
 */
.rp-search-form-toolbar {
	font-size: 16px;
}

.rp-search-form-toolbar {
	max-height: 64px;
}

.rp-search-form-toolbar md-input-container {
	padding-bottom: 8px;

	/*
		For Firefox. 
		Inputs are too tall.
	 */

	input {
		max-height: 35px;
	}

	md-select {
		max-height: 54px;
	}

}



.rp-search-form-toolbar md-input-container > md-select {
	margin: 20px 0 26px 0 !important;
	color: @medium-text-color;
}

.rp-search-form-toolbar md-input-container > md-select > md-select-label > span {

	color: rgba(0,0,0,0.26);
	padding-bottom: 12px;
}

.rp-toolbar-search-open {

	background-color: white !important;

	.rp-toolbar-action-icon svg {		
	
		fill: @inactive-icon !important;
	
	}

}

.rp-toolbar-search-open .rp-toolbar-action-icon:hover svg{
	fill: @active-icon !important;
}


.rp-toolbar-search-open .md-toolbar-tools {
	padding-left: 0px;
}

.rp-search-form-button {
	margin-top: 8px !important;
}

/*
	SUB VIEW
 */

.rp-search-sub-description {
	.rp-post-selftext;
}

.rp-search-sub-title {
	.rp-post-header-title;
	text-decoration: none !important;
}

.rp-search-sub-link {
	.rp-post-header-author;

	text-decoration: none;

	&:hover {
		text-decoration: underline;    
		color: @md-default-accent;
	}

	&:visited {
	// color: @rp-article-depth-8;
	}
}

.rp-search-sub-actions {
	// .rp-post-actions;
	background-color: #f5f5f5;
}

.rp-search-srlink-heading {
	padding: 10px;
	font-size: 18px;
	color: @active-icon;

}

.rp-search-nothing {
	.rp-search-srlink-heading;
	text-align: center;
}

.rp-search-more {
	text-align: center;
}

// .rp-search-more > .md-button, 
// .rp-search-more > .md-button > md-icon {
// 	color: white !important;
	
// }

// .rp-search-more > .md-button > md-icon > svg {
// 	fill: white !important;
// }

.rp-search-tab-toolbar {
	.rp-tab-toolbar;
	display: none;

}

.rp-search-tab-toolbar-show {
	display: block !important;
}

.rp-search-subscription-button-ctrl {
	max-height: 36px !important;
	max-width: 34px !important;
}

.rp-search-subscription-progress {
	transform: translateX(-8px) !important;
	transform: translateY(-7px) !important;
}

.rp-search-autocomplete md-input-container {
	height: 54px;
}

.rp-search-autocomplete input {
	color: @normal-text-color !important;
}

//this is necessary because md-accent is not working on md-autocomplete. 

.rp-search-autocomplete md-input-container.md-input-focused label {
	color: @md-default-accent !important;
}

.rp-search-autocomplete md-input-container.md-input-focused input {
	border-color: @md-default-accent !important;
}