.rp-sidenav {
    max-width: 210px !important;
    min-width: 210px !important;
    overflow-y: hidden;
    &:hover {
        overflow-y: scroll;
    }

    // z-index: 0 !important;
    // background-color: @md-default-primary !important;
    // color: white !important;
}

.rp-sidenav.rp-sidenav-docked {
    box-shadow: none;
    background-color: @rp-background-content !important;
    z-index: 0;
}

.rp-sidenav-docked rp-sidenav-content .rp-sidenav-content {
    background-color: @rp-background-content !important;

}

.rp-sidenav-content {
    background-color: @md-default-primary !important;
    color: white !important;
}

.rp-sidenav {
    background-color: @md-default-primary !important;
}

.rp-brand-toolbar {
    background-color: @md-default-primary !important;
    height: 150px !important;
    min-height: 150px !important;
    max-height: 150px !important;
    margin-bottom: 10px;


    // .rp-toolbar-shadow;
    // background-color: @md-default-primary !important;
}
// @media (max-width: @layout-md) {
//     .rp-sidenav-content {
//         background-color: #fff !important;
//     }
//     .rp-sidenav {
//         background-color: #fff !important;
//     }
// }

.rp-brand-logo {
    width: 96px;
    margin-top: 8px;
}
.rp-brand-name {
    font-family: "Roboto";
    font-size: 28px;
    color: white !important;
    // color: @medium-text-color;

    // color: @material-indigo-50;
    text-decoration: none !important;
}

.rp-toolbar .rp-brand-logo {
    width: auto;
    max-height: 42px;
    margin: 14px;
    margin-top: 18px;
}

.rp-toolbar .rp-brand-name {
    font-size: 28px;
    color: white;
    margin-right: 16px;
    padding-right: 20px;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
}

.rp-sidenav-title {
    color: #FFF;
    font-size: 60px;
}
.rp-sidenav-title-icon {
    .rp-sidenav-title;
    font-size: 36px;
    color: @rp-titlebar-font-color;
}

.rp-sidenav-content {
    overflow-y: hidden;
    &:hover {
        overflow-y: scroll;
    }
}
.rp-sidenav-identity {
    text-align: center;
}
.rp-sidenav-identity-loading {
    margin-left: auto;
    margin-right: auto;
}
.rp-sidenav-identity-name {

    // color: @normal-text-color;
    // color: white !important;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.rp-sidenav-subreddit-button {
    .rp-sidenav-button;
    text-transform: none;
    padding-left: 50px;
    &:hover {

        // background-color: @material-indigo-400 !important;
    }
}
.rp-sidenav-message-button {
    .rp-sidenav-button;
    text-transform: none;
    padding-left: 50px;
}
.rp-sidenav-button {
    text-align: left;
    line-height: 32px;
    padding-left: 32px;

    // color: #888;
    border-radius: 0;
    width: 100%;
    margin: 0;
}
.rp-sidenav-toggle-button {
    color: #fff;
}
.rp-sidenav-subreddit-list-item {
    width: 100% !important;
    padding: 0 !important;
    min-height: 36px;
}
.rp-sidenav-subreddit-list-item-content {
    padding-left: 0;
}
.rp-sidenav-subreddit-list-item-content a {
    padding-left: 50px;
}
