.rp-settings {

}


.rp-settings-body {
    background-color: @rp-background-content;
}

.rp-settings-dialog .rp-settings-body {
    background-color: white;
}

.rp-settings-swtich {

}
.rp-settings-dialog {
    // height: 60%;
    min-height: 60% !important;
    .rp-settings-content {
        background-color: white !important;

    }
}
.rp-settings-title {
    font-size: 24px;
    padding: 16px;
    color: @light-text-color;
    text-align: left;
}
.rp-setting-inset {
    min-width: 60%;
}

.rp-settings-dialog {
    max-width: 95% !important;
    @media (min-width: @layout-xs) {
        max-width: 70% !important;
    }
    @media (min-width: @layout-sm) {
        max-width: 45% !important;
    }
    @media (min-width: @layout-md) {
        max-width: 40% !important;
    }
}


md-select-value {
    background-color: transparent;
}

.rp-settings-body .md-default-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-blue-500 0%, @mdc-blue-500 45%, @mdc-deep-orange-500 46%, @mdc-deep-orange-500 70%, transparent 71%, transparent 100%) !important;
}
.rp-settings-body .md-indigo-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-indigo-500 0%, @mdc-indigo-500 45%, @mdc-pink-500 46%, @mdc-pink-500 70%, transparent 71%, transparent 100%) !important;
}

.rp-settings-body .md-green-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-green-500 0%, @mdc-green-500 45%, @mdc-orange-500 46%, @mdc-orange-500 70%, transparent 71%, transparent 100%) !important;
}

.rp-settings-body .md-deep-orange-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-deep-orange-500 0%, @mdc-deep-orange-500 45%, @mdc-cyan-500 46%, @mdc-cyan-500 70%, transparent 71%, transparent 100%) !important;
}

.rp-settings-body .md-red-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-red-500 0%, @mdc-red-500 45%, @mdc-blue-500 46%, @mdc-blue-500 70%, transparent 71%, transparent 100%) !important;
}

.rp-settings-body .md-pink-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-pink-500 0%, @mdc-pink-500 45%, @mdc-teal-500 46%, @mdc-teal-500 70%, transparent 71%, transparent 100%) !important;
}

.rp-settings-body .md-purple-theme md-select-value {
    height: 24px !important;
    width: 84px !important;
    background: linear-gradient(90deg, @mdc-purple-500 0%, @mdc-purple-500 45%, @mdc-teal-500 46%, @mdc-teal-500 70%, transparent 71%, transparent 100%) !important;
}

.rp-settings-theme-option:nth-of-type(1) {
    background: linear-gradient(90deg, @mdc-blue-500 0%, @mdc-blue-500 80%, @mdc-deep-orange-500 81%, @mdc-deep-orange-500 100%) !important;
    margin-bottom: 10px;
    max-height: 26px;
}

.rp-settings-theme-option:nth-of-type(2) {
    background: linear-gradient(90deg, @mdc-indigo-500 0%, @mdc-indigo-500 80%, @mdc-pink-500 81%, @mdc-pink-500 100%) !important;
    margin-bottom: 10px;
    max-height: 26px;
}

.rp-settings-theme-option:nth-of-type(3) {
    background: linear-gradient(90deg, @mdc-green-500 0%, @mdc-green-500 80%, @mdc-orange-500 81%, @mdc-orange-500 100%) !important;
    margin-bottom: 10px;
    max-height: 26px;
}

.rp-settings-theme-option:nth-of-type(4) {
    background: linear-gradient(90deg, @mdc-deep-orange-500 0%, @mdc-deep-orange-500 80%, @mdc-cyan-500 81%, @mdc-cyan-500 100%) !important;
    margin-bottom: 10px;
    max-height: 26px;
}

.rp-settings-theme-option:nth-of-type(5) {
    background: linear-gradient(90deg, @mdc-red-500 0%, @mdc-red-500 80%, @mdc-blue-500 81%, @mdc-blue-500 100%) !important;
    margin-bottom: 10px;
    max-height: 26px;
}

.rp-settings-theme-option:nth-of-type(6) {
    background: linear-gradient(90deg, @mdc-pink-500 0%, @mdc-pink-500 80%, @mdc-teal-500 81%, @mdc-teal-500 100%) !important;
    margin-bottom: 10px;
    max-height: 26px;
}

.rp-settings-theme-option:nth-of-type(7) {
    background: linear-gradient(90deg, @mdc-purple-500 0%, @mdc-purple-500 80%, @mdc-teal-500 81%, @mdc-teal-500 100%) !important;
    max-height: 26px;
}
