.rp-share-dialog {
	height: 70%;
	max-height: 70% !important;
	@media (max-width: @layout-sm) {
		max-width: 95%;
	}
}

.rp-share-email-inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white !important;
	margin-top: 40px;

}

.rp-share-email-title {
	font-size: 24px;
	padding: 16px;
	color: @light-text-color;
}
