rp-score {
    font-size: 14px;
    color: @light-text-color;
    padding: 0 !important;
    button {
        padding: 0;
    }
}

.rp-score {
    height: 100%;
}

@-moz-document url-prefix() {
    // .rp-comment rp-score {
    //     padding-top: 0 !important;
    // }
}

.rp-post-header-score {
	// width: 40px;
	// text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.rp-post-score {
	margin-bottom: 2px;

}

.rp-article-header-score {
    // width: 40px;
    // text-align: center;
    // margin-top: auto;
    // margin-bottom: auto;
}


.rp-comment rp-score {
    // padding-top: 18px !important;
}