.rp-sidenav-title {
	color: #FFF;
	font-size: 60px;
}

.rp-sidenav-title-icon {
	.rp-sidenav-title;
	font-size: 36px;
	color: @rp-titlebar-font-color;
}

.rp-sidenav-content {
	overflow-y: hidden;
	&:hover {
		overflow-y: scroll;
	}
}

.rp-sidenav-identity {
	text-align: center;
}

.rp-sidenav-subreddit {
	text-transform: none;
	.rp-sidenav-button;
}

.rp-sidenav-button {
	text-align: left;
	line-height: 32px;
	padding-left: 32px;
	color: #888;
	border-radius: 0px;
}

.rp-sidenav-toggle-button {
	color: #fff;
}