.rp-slideshow {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #000;
    z-index: 100;

    .rp-slideshow-close-button {
        .rp-dialog-close-button;
    }
}