::-webkit-scrollbar {
    width: 10px;
    // height: 8px;
    // position: absolute;
    // left: 0;
    // background: transparent;
    // background: transparent url('../../images/scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar * {
    background: transparent;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    // background: transparent;
    border: 0 none #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

::-webkit-scrollbar-thumb:active {
    background: #858585;
}

::-webkit-scrollbar-track {
    // background: transparent url('../../images/scrollbar.png') repeat-y !important;
    // background: black url('../../images/scrollbar.png') repeat-y !important;
    // background-size: 1px 1px;
    // display: block;
    // width: 30px;
    // height: 100px;
    // background-image: url('../../images/scrollbar.png') repeat-y !important;
    // background-color: transparent;
    // z-index: -100;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

// ::-webkit-scrollbar-track-piece:start {
//     background: transparent url('../../images/scrollbar.png') repeat-y !important;
// }
// ::-webkit-scrollbar-track-piece:end {
//     background: transparent url('../../images/scrollbar.png') repeat-y !important;
// }