.rp-speed-dial {

    md-fab-trigger svg {
        fill: #fff;
    }

    button.md-mini {

        md-icon {
            width: 18px;
            height: 18px;
        }

        svg {
            fill: @active-icon;
        }
    }

}

.md-scale:not(.md-is-open) .md-fab-action-item {
  opacity: 0;
}
