.rp-slideshow {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #000;
    z-index: 100;

    .rp-slideshow-close-button {
        .rp-dialog-close-button;
    }

    img,
    video {
        display: none;
        background-color: #000;
    }

    img.square,
    video.square {
        height: 100vh;
        width: auto;
    }

    img.portrait,
    video.portrait {
        height: 100vh;
        width: auto;
    }

    img.landscape,
    video.landscape {
        object-fit: cover;
        max-width: 100vw;
        max-height: 100vh;
        width: auto;
        height: auto;
        margin-top: 50vh;
        transform: translateY(-50%);
    }

    .rp-media-gfycat-pause-icon,
    .rp-media-imgur-pause-icon {
        display: none !important;
    }
}