.rp-submit-dialog {
    max-width: 95%;
    height: 95%;
    max-height: 95% !important;
    @media (min-width: @layout-md) {
        max-width: 80%;
    }
    @media (min-width: @layout-lg) {
        max-width: 60%;
    }
}
.rp-submit-content {
    background-color: transparent !important;
    padding-bottom: 40px;
    md-input-container {
        padding-left: 0 !important;
    }
}
.rp-submit-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
    margin-top: 40px;
    padding: 32px;
    // box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    // 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    // 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.rp-submit-dialog .rp-submit-inner {
    box-shadow: none;
}
.rp-submit-title {
    font-size: 24px;
    padding: 8px;
    color: @light-text-color;
}
.rp-message-compose-form {
    background-color: #fff !important;
}
.rp-submit-button {
    min-width: 80px;
    color: white !important;
}
.rp-submit-button span {
    color: white !important;
}
.rp-submit-another-button span {
    color: white !important;
}
.rp-ratelimit-button span {
    color: grey !important;
}
.rp-submit-progress {
    margin: 6px;
    padding-left: 24px;
}
.rp-submit-margin-after {
    margin-top: 40px;
}
.rp-submit-button-area {
    .rp-submit-margin-after;
    padding: 0 !important;
}
.rp-submit-submitted-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.rp-feedback-alerticon {
    font-size: 20px;
}
.rp-feedback-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.rp-autocomplete md-icon {
    display: none;
}

.rp-submit-inner md-checkbox {
    margin-left: 12px;

}

.rp-submit-inner md-checkbox.md-default-theme.md-checked .md-icon:after, md-checkbox.md-checked .md-icon:after {
    border-color: #fff !important;
}

.rp-submit-text-input-container {
    margin-bottom: 0;
}
