rp-score {
    padding: 0 !important;
    button {
        padding: 0;
    }
}
.rp-article-score {
    // margin-left: auto;
    // margin-right: auto;
}
.rp-score {
    height: 100%;
}
.rp-comment rp-score {
    padding-top: 18px !important;
}

@-moz-document url-prefix() {
    // .rp-comment rp-score {
    //     padding-top: 0 !important;
    // }
}

.rp-post-header-score {
	// width: 40px;
	// text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.rp-post-score {
	font-size: 14px;
	color: @light-text-color;
	margin-bottom: 2px;
}