.rp-menu-toggle-icon {
	color: white;
}

.rp-toolbar-menu-button {
	background: none;
	border: none;
	.rp-toolbar-menu-icon;
}

.rp-toolbar-menu-icon {
	width: 36px;
	height: 36px;
	color: @rp-titlebar-font-color;
	postition: static;
}

.rp-toolbar-menu-icon svg {
	position: static !important;
}