rp-toolbar {
	background-color: @rp-background-content;
}

.rp-toolbar {
	z-index: 2;
	color: @rp-white-text-color !important;

}

.rp-toolbar,
.rp-toolbar .md-toolbar-tools {

	max-height: 64px !important;
	min-height: 64px !important;
	@media (max-width: @layout-sm) {
		min-height: 48px !important;
		max-height: 48px !important;
	}
}

.rp-toolbar.rp-toolbar-white {
	@media(max-width: @layout-sm) {
		background-color: #fff !important;

	}

}

rp-toolbar md-toolbar.rp-toolbar-white {
	@media(max-width: @layout-sm) {
		box-shadow: none !important;
		color: @medium-text-color !important;
	}
}

.rp-menu-toggle-icon {

	// color: white;
}

.rp-toolbar-menu-button {
	background: none;
	border: none;
	margin-left: 20px !important;
	.rp-toolbar-menu-icon;
}

.rp-toolbar-menu-icon {
	width: 36px;
	height: 36px;

	// color: white !important;
	// color: @rp-titlebar-font-color !important;
	postition: static;
}

.rp-toolbar-menu-icon svg {
	position: static !important;
}

.rp-toolbar-title {

	// color: @medium-text-color !important;
	// margin-right: 13px;
}

md-toolbar.md-default-theme {

	// color: white;
}

//moved to rp-colors.less
// .rp-tab-toolbar md-tab-item.md-active {
//     // color: @normal-text-color !important;
//     color: @md-default-accent !important;
// }

// .rp-article-thread .rp-tab-toolbar md-tab-item.md-active {
//     color: @normal-text-color !important;
// }
// .rp-tab-toolbar md-ink-bar {
//     color: @md-default-accent !important;
//     background-color: @md-default-accent !important;
//     // background-color: @light-text-color !important;
//     // color: @light-text-color !important;
// }

// .rp-article-tabs.rp-tab-toolbar md-tab-item.md-active {
//     color: @md-default-accent !important;
// }
// .rp-article-tabs.rp-tab-toolbar md-ink-bar {
//     background-color: @md-default-accent !important;
//     color: @md-default-accent !important;
// }

.rp-toolbar-tools {
	padding-left: 25px;
}

.rp-content -webkit-scrollbar {
	background-color: @rp-background-content;
}
// md-tabs-wrapper {
//     margin-left: auto;
//     margin-right: auto;
// }

// .rp-tab {
// 	color: @normal-text-color !important;
// }

// md-tab-item.md-active {
//     color: @md-default-accent !important;
// }
// md-tabs.md-default-theme md-tabs-ink-bar {
//     color: @md-default-accent;
//     background: @md-default-accent;
// }

// md-tabs.md-default-theme md-tab {
// 	color: rgba(0,0,0,0.54);
// }
// md-tabs.md-default-theme {
//     background-color: @rp-background-content !important;
// }
// md-tabs-wrapper {
//     background-color: @rp-background-content !important;
//
//     // background-color: #fff !important;
// }
// md-tabs.md-default-theme md-tab .md-ripple-container {
// 	color: rgb(248,187,208);
// }
.rp-dropdown {}

.rp-menu {
	margin: 0;
}

.rp-item {
	color: @light-text-color;
}

.rp-toolbar-action {
	// max-width: 64px;
	// max-height: 64px;
	// margin-top: 4px;
}
.rp-toolbar-select {
	visibility: hidden;
	min-height: 1px !important;
	min-width: 1px !important;
	max-width: 1px !important;
	max-height: 1px !important;
	margin: 0 !important;

	md-select-value {
		min-height: 1px !important;
		min-width: 1px !important;
		max-width: 1px !important;
		max-height: 1px !important;
	}
}

.rp-toolbar-action-button {
	// margin-top: 72px !important;
}

.rp-toolbar-action-icon {
	// color: #fff !important;

	// color: @inactive-icon !important;
	&:hover {
		// color: #fff !important;

		// color: @active-icon !important;
	}
}

.rp-toolbar-action-icon svg {
	// fill: #fff !important;
}

.rp-toolbar-action-icon:hover svg {
	// fill: #fff !important;
}

.rp-toolbar-white .rp-toolbar-action-icon svg {
	@media (max-width: @layout-sm) {
		// fill: @inactive-icon !important;
	}
}

.rp-toolbar-white .rp-toolbar-action-icon:hover svg {
	@media (max-width: @layout-sm) {
		// fill: @active-icon !important;
	}
}

.rp-toolbar-select > md-select-label {
	color: white !important;
	border-bottom-color: transparent !important;
	font-size: 14px;

	// visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
}

.rp-toolbar-select > md-select-label > span {
	display: none;
}

.rp-toolbar-select > md-select-label > span.md-select-icon {
	display: block;
}

md-select-menu {

	// transform: translateY(50px);
}

md-select-menu > md-content > md-option {
	height: 36px;
}

md-select-menu > md-content {
	padding: 0 !important;
}
// .rp-select-option {
//     color: @md-default-accent !important;
//     &:focus {
//         background-color: white !important;
//     }
//     &[selected] {
//         background-color: white !important;
//     }
//     &[selected] > .rp-select-option-label {
//         color: @md-default-accent !important;
//     }
// }

// .rp-select-option[selected] > .md-text > .rp-select-option-label {
//     color: @md-default-accent !important;
// }
.md-select-menu-container {
	// right: 8px !important;
	// top: 52px !important;
	// left: auto !important;
	margin-top: 42px !important;
}

// .md-tab {
//     @media (max-width: @layout-sm) {
//         font-size: 10px;
//     }
// }

// .rp-toolbar-wrapper {
//     background-color: blue !important;
// }