@normal-text-color: rgba(0, 0, 0, 0.87);

.roboto {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     color: @normal-text-color;

     &.light {
          font-family: "Roboto", sans-serif;
          font-weight: 100;
     }
     &.thin {
          font-family: "Roboto Thin", sans-serif;
     }
     &.medium {
          font-family: "Roboto Medium", sans-serif;
     }
     &.condensed {
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 300;
     }
}

.link {
  text-decoration: none;
  // color: @md-default-accent;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    // color: @rp-article-depth-8;
  }
}

body {
  .roboto;
  overflow: hidden;
}

sup {
    font-size: 95%;
}

.primary-type {

}

.secondary-type {

}

.toolbar-type {

}

.sidebar-type {

}

