.rp-tab-toolbar {
    z-index: 1;
    max-height: 48px;
    min-height: 48px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0 2px 2px 0;
    background-color: @rp-background-content !important;
    transform: translateY(0px);

    md-tabs {
        max-height: 48px !important;
        min-height: 48px !important;
    }

    md-tabs-wrapper {
        background-color: #fff !important;
    }

    .rp-tab {
        padding: 0 !important;
    }

    md-tab-item {
        color: @light-text-color !important;
    }

    .rp-tab-link {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .rp-tabs md-icon svg {
        fill: @inactive-icon;
    }

    // md-pagination-wrapper {
    //     margin: 0 auto;
    //     position: relative;
    // }
}
