// @import '../../../bower_components/bootstrap/less/scaffolding.less';
// @import '../../../bower_components/bootstrap/less/variables.less';
// @import '../../../bower_components/bootstrap/less/mixins.less';
// @import '../../../bower_components/bootstrap/less/forms.less';
// @import '../../../bower_components/bootstrap/less/grid.less';
// @import '../../../bower_components/bootstrap/less/utilities.less';
// @import '../../../bower_components/bootstrap/less/responsive-utilities.less';
/*
	REDDUP CSS

	My Imports
*/
@import "../../../rpApp/src/rpApp/styles/rp-variables.less";
@import "../../../bower_components/material-design-color-palette/less/variables/colors.less";
@import "../../../rpApp/src/rpApp/styles/rp-animations.less";
@import "../../../rpApp/src/rpApp/styles/rp-beta.less";
@import "../../../rpApp/src/rpApp/styles/rp-brand.less";
@import "../../../rpApp/src/rpApp/styles/rp-buttons.less";
@import "../../../rpApp/src/rpApp/styles/rp-colors.less";
@import "../../../rpApp/src/rpApp/styles/rp-columns.less";
@import "../../../rpApp/src/rpApp/styles/rp-content.less";
@import "../../../rpApp/src/rpApp/styles/rp-dialog.less";
@import "../../../rpApp/src/rpApp/styles/rp-font-sizes.less";
@import "../../../rpApp/src/rpApp/styles/rp-fonts.less";
@import "../../../rpApp/src/rpApp/styles/rp-form.less";
@import "../../../rpApp/src/rpApp/styles/rp-formatting.less";
@import "../../../rpApp/src/rpApp/styles/rp-material-icons.less";
@import "../../../rpApp/src/rpApp/styles/rp-menu.less";
@import "../../../rpApp/src/rpApp/styles/rp-mfb.less";
@import "../../../rpApp/src/rpApp/styles/rp-mixins.less";
@import "../../../rpApp/src/rpApp/styles/rp-progress.less";
@import "../../../rpApp/src/rpApp/styles/rp-scroll.less";
@import "../../../rpApp/src/rpApp/styles/rp-tabs.less";
@import "../../../rpApp/src/rpApp/styles/rp-typography.less";
@import "../../../rpApp/src/rpArticle/styles/rp-article.less";
@import "../../../rpApp/src/rpCaptcha/styles/rp-captcha.less";
@import "../../../rpApp/src/rpComment/styles/rp-comment.less";
@import "../../../rpApp/src/rpDelete/styles/rp-delete.less";
@import "../../../rpApp/src/rpDialogCloseButton/styles/rp-dialog-close-button.less";
@import "../../../rpApp/src/rpEdit/styles/rp-edit.less";
@import "../../../rpApp/src/rpError/styles/rp-error.less";
@import "../../../rpApp/src/rpFeedback/styles/rp-feedback.less";
@import "../../../rpApp/src/rpGild/styles/rp-gild.less";
@import "../../../rpApp/src/rpLayoutButton/styles/rp-layout-button.less";
@import "../../../rpApp/src/rpLink/styles/rp-link-list.less";
@import "../../../rpApp/src/rpLink/styles/rp-link.less";
@import "../../../rpApp/src/rpLoginButton/styles/rp-login-button.less";
@import "../../../rpApp/src/rpMedia/rpMedia/styles/rp-media-preview-panel.less";
@import "../../../rpApp/src/rpMedia/rpMedia/styles/rp-media.less";
@import "../../../rpApp/src/rpMedia/rpMediaDefault/styles/rp-media-default.less";
@import "../../../rpApp/src/rpMedia/rpMediaGfycat/styles/rp-media-gfycat.less";
@import "../../../rpApp/src/rpMedia/rpMediaGiphy/styles/rp-media-giphy.less";
@import "../../../rpApp/src/rpMedia/rpMediaImagePanel/styles/rp-media-image-panel-album.less";
@import "../../../rpApp/src/rpMedia/rpMediaImagePanel/styles/rp-media-image-panel.less";
@import "../../../rpApp/src/rpMedia/rpMediaImgur/styles/rp-media-imgur.less";
@import "../../../rpApp/src/rpMedia/rpMediaImgurAlbum/styles/rp-media-imgur-album.less";
@import "../../../rpApp/src/rpMedia/rpMediaStreamable/styles/rp-media-streamable.less";
@import "../../../rpApp/src/rpMedia/rpMediaTwitter/styles/rp-media-twitter.less";
@import "../../../rpApp/src/rpMedia/rpMediaYoutube/styles/rp-media-youtube.less";
@import "../../../rpApp/src/rpMessage/rpMessage/styles/rp-message.less";
@import "../../../rpApp/src/rpMessage/rpMessageCompose/styles/rp-message-compose.less";
@import "../../../rpApp/src/rpNightTheme/styles/rp-night-theme.less";
@import "../../../rpApp/src/rpPost/styles/rp-post.less";
@import "../../../rpApp/src/rpScore/styles/rp-score.less";
@import "../../../rpApp/src/rpSearch/styles/rp-search.less";
@import "../../../rpApp/src/rpSettings/styles/rp-settings.less";
@import "../../../rpApp/src/rpShare/styles/rp-share-bottom-sheet.less";
@import "../../../rpApp/src/rpShare/styles/rp-share-email.less";
@import "../../../rpApp/src/rpSidebar/styles/rp-sidebar.less";
@import "../../../rpApp/src/rpSidenav/styles/rp-sidenav.less";
@import "../../../rpApp/src/rpSlideshow/styles/rp-slideshow.less";
@import "../../../rpApp/src/rpSocial/styles/rp-social-buttons.less";
@import "../../../rpApp/src/rpSpeedDial/styles/rp-speed-dial.less";
@import "../../../rpApp/src/rpSubmit/styles/rp-submit.less";
@import "../../../rpApp/src/rpToast/styles/rp-toast.less";
@import "../../../rpApp/src/rpToolbar/styles/rp-toolbar-overflow-menu.less";
@import "../../../rpApp/src/rpToolbar/styles/rp-toolbar.less";
@import "../../../rpApp/src/rpToolbarSelect/styles/rp-toolbar-select.less";
@import "../../../rpApp/src/rpUser/styles/rp-user.less";

body {
  background-color: @rp-background-content;
}

.rp-view {
  overflow: hidden !important;
}

.rp-body {
  overflow-y: hidden !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.md-select-value .md-select-icon {
  // color: @inactive-icon !important;
}

.no-padding {
  padding: 0 !important;
}
//http://stackoverflow.com/questions/1638223/is-there-a-way-to-word-wrap-long-words-in-a-div

.rp-wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}