// @import '../../../bower_components/bootstrap/less/scaffolding.less';
// @import '../../../bower_components/bootstrap/less/variables.less';
// @import '../../../bower_components/bootstrap/less/mixins.less';
// @import '../../../bower_components/bootstrap/less/forms.less';
// @import '../../../bower_components/bootstrap/less/grid.less';
// @import '../../../bower_components/bootstrap/less/utilities.less';
// @import '../../../bower_components/bootstrap/less/responsive-utilities.less';

/*
	My Imports
*/
@import "fonts.less";

/*
	Variable Overrides
*/
@grid-gutter-width: 12px;
@screen-lg: 1550px;
@screen-md: 970px;
@background-color: rgba(0, 0, 0, 0.2);

@reddit-orange: #ff5700;
//Snoo's eyes must be orangered
@reddit-orangered: #ff4500;
@reddit-upvote: #ff8b60;
@reddit-neutral: #c6c6c6;
@reddit-downvote: #9494ff;
@reddit-lightbg: #eff7ff;
@reddit-header: #cee3f8;
@reddit-uitext: #336699;

@upvote-button: rgba(255, 139, 96, 0.5);
@downvote-button: rgba(148, 148, 255, 0.5);
@favorite-button: rgba(254, 67, 54, 0.5);
@share-button: rgba(0, 150, 136, 0.5);
@comments-button: rgba(103, 58, 183, 0.5);

@upvote-button-ripple: rgb(255, 105, 49);
@downvote-button-ripple: rgb(101, 101, 252);
@favorite-button-ripple: rgb(211, 47, 47);
@share-button-ripple: rgb(0, 121, 107);
@comments-button-ripple: rgb(81, 45, 168);


@embed-play-button-color: rgba(255, 255, 255, 0.5);
@embed-play-button-color-hover: rgb(255, 255, 255);

@md-titlebar-font-color: rgba(255, 255, 255, 0.870558);

@rp-image-album-icon-color: white;

@md-default-primary: #2196F3;
@md-default-accent: #FF5722;

@normal-text-color: rgba(0, 0, 0, 0.87);
@light-text-color: rgba(0, 0, 0, 0.54);
@inactive-icon: rgba(0, 0, 0, 0.26);
@active-icon: rgba(0, 0, 0, 0.54);

@imgur-green: #85BF25;
@youtube-red: #CC181E;
@gif-yellow: #FFEB3B;
@twitter-blue: #2290BF;

@material-red-400: #EF5350;

@rp-background-content: #efefef;
@rp-background-card: #fff;

ul {
	list-style: none;
}

.progress {
	position: absolute;
	top: -5px;
	width: 100%;
	z-index: 1000;
}


.rp-sidebar-title {
	color: #FFF;
	font-size: 60px;
}

.rp-sidebar-title-icon {
	.rp-sidebar-title;
	font-size: 36px;
	color: @md-titlebar-font-color;
}

.rp-sidenav-content {
	overflow-y: hidden;
	&:hover {
		overflow-y: scroll;
	}
}

.rp-sidenav-subreddit {
	text-transform: none;
	.rp-sidenav-button;
}

.rp-sidenav-button {
	text-align: left;
	line-height: 32px;
	padding-left: 32px;
	color: #888;
	border-radius: 0px;
}

.rp-subreddit-posts {
	margin: 0;
	padding: 8px 0px 8px 0px;
	background-color: @rp-background-content;
	@media(min-width: @screen-md) {
		padding-left: 10%;
		padding-right: 10%;
	}
}

//TODO: try using the hide-sm responsive directives from material angular istead..

.rp-posts-col-lg {
	display: none;
	@media (min-width: @screen-lg) {
		display: block;
	}
}
.rp-posts-col-md {
	display: none;
	@media (min-width: @screen-md) and (max-width: @screen-lg) {
		display: block;
	}
}
.rp-posts-col-sm {
	display: none;
	@media (max-width: @screen-md) {
		display: block;
	}
}
.rp-card {
	margin-top: 25px;
	margin-bottom: 25px;
	.roboto;
	font-size: 14px;
	p {
		margin: 0px;
	}
}

.rp-card-header {
	font-size: 14px;
	color: @light-text-color;
}

.rp-card-title {
	.roboto;
	.link;
	font-size: 16px;
}

.rp-card-author {
	.link;
}

.rp-readmore {
	.roboto;
	.link;
	color: @light-text-color
}

.rp-card-selftext {
	word-wrap: break-word;
}

.rp-card-score {
	font-size: 16px;
}
.rp-card-numcomments-link {
	text-decoration: none;
	color: @inactive-icon;
	&:hover {
		color: @active-icon;
	}
}
.rp-card-numcomments {
	font-size: 14px;
	color: @inactive-icon;
	// &:hover {
	// 	color: @active-icon;
	// }
}

// .rp-card-icon {
// 	font-size: 18px;
// 	color: @inactive-icon;
// 	fill: @inactive-icon;
// 	// text-align: center;

// 	&:hover {
// 		color: @active-icon;
// 		fill: @active-icon;
// 	}
// }

// .rp-card-icon-svg {
// 	fill: @inactive-icon;
// 	width: 24px;
// 	height: 24px;
// 	&:hover {
// 		fill: @active-icon;
// 	}
// }

.rp-card-paper-icon {
	text-align: center;
	color: @inactive-icon;
	&:hover {
		color: @active-icon;
	}
}
.rp-card-paper-icon::shadow core-icon {
	width: 18px;
	height: 18px;
}

.rp-card-upvote-true {
	color: @reddit-upvote;
}

.rp-card-downvote-false {
	color: @reddit-downvote;
}

.rp-card-favorite-true {
	color: @material-red-400;
}

.rp-card-paper-icon::shadow #ripple {
	width: 33px;
	height: 33px;
}
.rp-card-paper-icon#upvote::shadow #ripple {
	color: @reddit-upvote;
}
.rp-card-paper-icon#downvote::shadow #ripple {
	color: @reddit-downvote;
}
.rp-card-paper-icon#favorite::shadow #ripple {
	color: red;
}
.rp-card-paper-icon#share::shadow #ripple {
	color: green;
}
.rp-card-paper-icon#forum::shadow #ripple {
	color: purple;
}

.rp-card-action-inner{
	text-align: center;
}
.rp-card-comment {
	background-color: #f5f5f5;
	padding-top: 2px;
	padding-bottom: 12px;
	md-input-container {
		padding-bottom: 0;
	}
}
.rp-card-comment-label {
	color: @light-text-color !important;
}

.rp-identity {
	text-align: center;
}

.rp-imgur-album-controls {
	text-align: center;
}


.rp-sidenav-toggle-button {
	color: #fff;
}

.rp-menu-toggle-icon {
	color: white;
}

.rp-menu-button {
	background: none;
	border: none;
	.rp-menu-icon;
}

.rp-menu-icon {
	width: 48px;
	height: 48px;
	color: @md-titlebar-font-color;
}

video {
	.rp-media-video;
}

.video {
	.rp-media-video;
}

.rp-media-video {
	width: 100% !important;
}


.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe.embedly-xcomm {
	margin-left: 0;
	margin-right: 0;
}

.rp-imgur-album-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

/*
	Imgur Album Controls
 */

.rp-imgur-album-image {
	// position: absolute;
}

.rp-imgur-album-button-before {
	.rp-imgur-album-button;
	left: 0;
}

.rp-imgur-album-button-next {
	.rp-imgur-album-button;
	right: 0;
}

.rp-imgur-album-button {
	color: @rp-image-album-icon-color;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	border-radius: 0 !important;
	background-color: rgba(200,200,200,0.6);
	&:hover {
		background-color: rgba(220,220,220,0.8) !important;
	}
	&:focus {
		background-color: rgba(200,200,200,0.6) !important;
	}
	&:active {
		background-color: rgba(200,200,200,0.6);
	}
}

.rp-imgur-album-icon-before {
	.rp-imgur-album-icon;
	// left: 0;
}

.rp-imgur-album-icon-next {
	.rp-imgur-album-icon;
	// right: 0;
}

.rp-imgur-album-icon {
	color: @rp-image-album-icon-color;
	width: 24px;
	height: 24px;

}

.rp-imgur-album-wrapper:hover .rp-imgur-album-button-before {
 	display: block;
}

.rp-imgur-album-wrapper:hover .rp-imgur-album-button-next {
 	display: block;
}

.rp-imgur-details p {
	font-size: 14px;
	line-height: normal;
	text-align: left;
}

/*
	fix youtube embed not fullscreening in chrome
 */
#player {
	max-width: 100%!important;
	max-height: 100%!important;
}

/*
	Embedded video thumbnail
 */

.rp-media-video-thumbnail-wrapper {
	.rp-media-embed-thumbnail-wrapper;
}

.rp-media-embed-thumbnail-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.rp-media-play-icon {
	// width: 128px;
	// height: 128px;
	color: white !important;
}

.rp-media-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}

.rp-media-play-button {
	.rp-media-button;
}

// .rp-media-embed-thumbnail-wrapper:hover .rp-media-play-button {
//  	display: block;
// }

.rp-media-pause-button {
	.rp-media-button;
	display: none;
}

.rp-media-embed-thumbnail-wrapper:hover .rp-media-pause-button {
 	display: block;
}

.rp-media-embed-media-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.rp-toolbar {
	z-index: 2;
	// box-shadow: none;
}
md-toolbar.md-default-theme {
	color: white;

}

.rp-tab-toolbar {
	padding-top: 16px !important;
	margin-top: -21px !important;
	z-index: 1;
}

.rp-content {
	z-index: 0;
	transform: translate3d(0px, 0px, 0px) !important;
	-webkit-transform: translate3d(0px, 0px, 0px) !important;
	margin-top: -50px !important;
	padding-top: 50px !important;
}

.rp-content -webkit-scrollbar {
	background-color: @rp-background-content;
}

.rp-tabs{
	overflow: hidden !important;
	width: auto !important;
}

.rp-tab {
	padding: 0px !important;
}

.rp-tab-link {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

md-tabs.md-default-theme md-tab.active {
	color: @md-default-accent;
}

md-tabs.md-default-theme md-tabs-ink-bar {
	color: @md-default-accent;
	background: @md-default-accent;
}

md-tabs.md-default-theme md-tab {
	color: rgba(0,0,0,0.54);
}

md-tabs.md-default-theme .md-header {
	background-color: white !important;
}

// md-tabs.md-default-theme md-tab .md-ripple-container {
// 	color: rgb(248,187,208);
// }

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 16px 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin: 5px 0 5px 0;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.rp-card md-card {
	background-color: @rp-background-card !important;
}

.rp-card-selftext a {
	color: @md-default-primary;
	text-decoration: none;
	&:hover {
		color: @md-default-accent;
		text-decoration: none;
	}
}

.rp-toolbar-select {
	margin-top: 0;
}

.rp-dropdown {

}

.rp-menu {
	margin: 0px;
}

.rp-item {
	color: @light-text-color;
	&:hover {
		color: @md-default-accent
	}
}

.rp-colorbar {
	width: 100%;
	height: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 2px solid
}

.rp-colorbar-default {
	display: none;
	visibility: hidden;
}

.rp-colorbar-image {
	.rp-colorbar;
	background-color: @imgur-green;
	border-color: @imgur-green;
}
.rp-colorbar-album{
	.rp-colorbar;
	background-color: @imgur-green;
	background-color: @imgur-green;
	border-color: @imgur-green;
}
.rp-colorbar-tweet{
	.rp-colorbar;
	background-color:  @twitter-blue;
	background-color: @twitter-blue;
	border-color: @twitter-blue;
}
.rp-colorbar-video{
	.rp-colorbar;
	background-color: @gif-yellow;
	background-color: @gif-yellow;
	border-color: @gif-yellow;
}
.rp-colorbar-embed{
	.rp-colorbar;
	background-color: @youtube-red;
	background-color: @youtube-red;
	border-color:  @youtube-red;
}

.rp-colorbar-self{
	.rp-colorbar;
	background-color: @md-default-primary;
	background-color: @md-default-primary;
	border-color:  @md-default-primary;
}

.rp-toast {
	background-color: white !important;
}

.rp-toast-text {
	color: @normal-text-color !important;
}

.rp-toast-button {
	color: white !important;
}

.rp-post-action-button {
	width: 36px !important;
	height: 36px !important;
	background-color: white !important;
	z-index: 0 !important;
	box-shadow: none !important;
}

.rp-post-action-button#upvote {
	color: @upvote-button-ripple !important;
}
.rp-post-action-button#downvote {
	color: @downvote-button-ripple !important;
}
.rp-post-action-button#favorite {
	color: @favorite-button-ripple !important;
}
.rp-post-action-button#share {
	color: @share-button-ripple !important;
}
.rp-post-action-button#comments {
	color: @comments-button-ripple !important;
}

// .rp-post-action-button {
// 	color: white !important;
// }

.rp-post-action-button#upvote:active > .md-ripple-container {
	background-color: @upvote-button !important;
	width: 36px !important;
	height: 36px !important;
}
.rp-post-action-button#downvote:active > .md-ripple-container {
	background-color: @downvote-button !important;
	width: 36px !important;
	height: 36px !important;
}
.rp-post-action-button#favorite:active > .md-ripple-container {
	background-color: @favorite-button !important;
	width: 36px !important;
	height: 36px !important;
}
.rp-post-action-button#share:active > .md-ripple-container {
	background-color: @share-button !important;
	width: 36px !important;
	height: 36px !important;
}
.rp-post-action-button#comments:active > .md-ripple-container {
	background-color: @comments-button !important;
	width: 36px !important;
	height: 36px !important;
}

.rp-post-action-icon {
	position: absolute;
	top: 6px !important;
	left: 6px !important;
	color: @inactive-icon;
	&:hover {
		color: @active-icon;
	}
	// transform: translateY(-18px) !important;
	// transform: translateX(-18px) !important;
}

.rp-post-action-icon svg {
	width: 24px !important;
	height: 24px !important;
}

// .rp-card-action-fab svg {
// 	position: inline-block;
// 	width: 24px;
// 	height: 24px;
// }
