@import '../../../bower_components/bootstrap/less/scaffolding.less';
@import '../../../bower_components/bootstrap/less/variables.less';
@import '../../../bower_components/bootstrap/less/mixins.less';
@import '../../../bower_components/bootstrap/less/forms.less';
@import '../../../bower_components/bootstrap/less/grid.less';
// @import '../../../bower_components/bootstrap/less/utilities.less';
// @import '../../../bower_components/bootstrap/less/responsive-utilities.less';

/*
	My Imports
*/
@import "fonts.less";

/*
	Variable Overrides
*/
@grid-gutter-width: 12px;

body {
	.roboto;
	overflow: hidden;
}

ul {
	list-style: none;
}

.rp-sidenav-subreddit {
	text-transform: none;
	.rp-sidenav-button;
}

.rp-sidenav-button {
	text-align: left;
	line-height: 32px;
	padding-left: 32px; 
	color: #888;
	border-radius: 0px;
}


.rp-subreddit-posts > .row > .col-md-4 {
	display: none;
	@media (min-width: @screen-lg) {
		display: block; 
	}
}
.rp-subreddit-posts > .row > .col-sm-6 {
	display: none;
	@media (min-width: @screen-md) and (max-width: @screen-lg) {
		display: block;
	}
}
.rp-subreddit-posts > .row > .col-xs-12 {
	display: none;
	@media (max-width: @screen-md) {
		display: block;
	}
}