/*
	Variables
*/
@grid-gutter-width: 12px;
@screen-lg: 1550px;
@screen-lg-plus-one: 1551px;
@screen-md: 960px;
@background-color: rgba(0, 0, 0, 0.2);

@rp-post-fab-icon-size: 20px;
@rp-post-fab-size: 34px;

@reddit-orange: #ff5700;
//Snoo's eyes must be orangered
@reddit-orangered: #ff4500;
@reddit-upvote: #ff8b60;
@reddit-neutral: #c6c6c6;
@reddit-downvote: #9494ff;
@reddit-lightbg: #eff7ff;
@reddit-header: #cee3f8;
@reddit-uitext: #336699;

@upvote-button-light: rgba(255, 139, 96, 0.5);
@downvote-button-light: rgba(148, 148, 255, 0.5);
@save-button-light: rgba(254, 67, 54, 0.5);
@share-button-light: rgba(0, 150, 136, 0.5);
@comments-button-light: rgba(103, 58, 183, 0.5);

@upvote-button: #ff8b60;
@downvote-button: #9494ff;
@save-button: #F44336;
@share-button: rgb(0, 150, 136);
@comments-button: rgb(103, 58, 183);

@embed-play-button-color: rgba(255, 255, 255, 0.5);
@embed-play-button-color-hover: rgb(255, 255, 255);

@rp-titlebar-font-color: rgba(255, 255, 255, 0.870558);

@rp-image-album-icon-color: white;

@md-default-primary: #2196F3;
@md-default-accent: #FF5722;

@normal-text-color: rgba(0, 0, 0, 0.87);
// @light-text-color: rgba(0, 0, 0, 0.54);
@light-text-color: #999;
@inactive-icon: rgba(0, 0, 0, 0.26);
// @inactive-icon: #a1a1a1;
@active-icon: rgba(0, 0, 0, 0.54);

@imgur-green: #85BF25;
@youtube-red: #CC181E;
@gif-yellow: #FFEB3B;
@twitter-blue: #2290BF;
@md-blue: #2196F3;

@material-red-400: #EF5350;

@rp-background-content: #efefef;
@rp-background-card: #fff;