/*
	Variables
*/
@background-color: rgba(0, 0, 0, 0.2);

/*
	Columns and Resizing Breakpoints.
 */

@screen-md: 960px;
@screen-md2: 1200px;
@screen-lg: 1550px;

@sm-column-size: 100%;
@md-column-size: 300px;
@md2-column-size: 400px;
@lg-column-size: 400px;

@grid-gutter-width: 20px;

@rp-post-fab-icon-size: 20px;
@rp-post-fab-size: 34px;

@rp-comments-fab-icon-size: 24px;
@rp-comments-fab-size: 36px;

@reddit-orange: #ff5700;
//Snoo's eyes must be orangered
@reddit-orangered: #ff4500;
@reddit-upvote: #ff8b60;
@reddit-neutral: #c6c6c6;
@reddit-downvote: #9494ff;
@reddit-lightbg: #eff7ff;
@reddit-header: #cee3f8;
@reddit-uitext: #336699;

@upvote-button: #ff8b60;
@downvote-button: #9494ff;
@save-button: @material-pink-500;
@share-button: #4CAF50;
@comments-button: #AB47BC;
@reply-button: @material-teal-500;
@send-button: @md-default-accent;
@context-button: @material-green-500;
@search-button: @material-amber-500;
@subscribe-button: #4CAF50;
@delete-button: @material-red-500;
@edit-button: @material-cyan-500;
@info-button: @md-default-accent;

@rp-stickied: @material-deeporange-A100;

@embed-play-button-color: rgba(255, 255, 255, 0.5);
@embed-play-button-color-hover: rgb(255, 255, 255);

@rp-titlebar-font-color: rgba(255, 255, 255, 0.870558);

@rp-image-album-icon-color: white;

@md-default-primary: #3f51b5;
@md-default-accent: #FF5722;

@normal-text-color: rgba(0, 0, 0, 0.87);
@medium-text-color: rgba(0, 0, 0, 0.54);
@light-text-color: #999;
@gray-text-color: rgb(153, 153, 153);
@inactive-icon: rgba(0, 0, 0, 0.26);
// @inactive-icon: #a1a1a1;
@active-icon: rgba(0, 0, 0, 0.54);

@imgur-green: #85BF25;
@youtube-red: #CC181E;
@gif-yellow: #FFEB3B;
@twitter-blue: #2290BF;
@md-blue: #2196F3;

@material-red-400: #EF5350;
@material-red-500: #F44336;

@material-grey-500: #9E9E9E;
@material-amber-500: #FFC107;
@material-pink-500: #E91E63;
@material-teal-500: #009688;
@material-green-500: #4CAF50;
@material-cyan-500: #00BCD4;
@material-brown-300: #A1887F;
@material-lightblue-500: #03A9F4;
@material-lightblue-100: #B3E5FC;
@material-lightblue-600: #039BE5;


@material-indigo-50: #E8EAF6;
@material-indigo-100: #C5CAE9;
@material-indigo-200: #9FA8DA;
@material-indigo-300: #7986CB;
@material-indigo-400: #5C6BC0;
@material-indigo-600: #3949ab;
@material-indigo-700: #303f9f;
@material-indigo-800: #283593;
@material-indigo-900: #1A237E;
@material-indigo-A100: #8C9EFF;
@material-indigo-A200: #536DFE;
@material-indigo-A300: #3D5AFE;
@material-indigo-A400: #304FFE;



@rp-background-content: #efefef;
@rp-background-card: #fff;

@rp-media-image-background: #efefef;


@material-deeporange-50: #FBE9E7;
@material-deeporange-100: #FFCCBC;
@material-deeporange-200: #FFAB91;
@material-deeporange-300: #FF8A65;
@material-deeporange-400: #FF7043;
@material-deeporange-500: #FF5722;
@material-deeporange-600: #F4511E;
@material-deeporange-700: #E64A19;
@material-deeporange-800: #D84315;
@material-deeporange-900: #BF360C;
@material-deeporange-A100: #FF9E80;
@material-deeporange-A200: #FF6E40;
@material-deeporange-A400: #FF3D00;
@material-deeporange-A700: #DD2C00;

@rp-comments-depth-0: white;
@rp-comments-depth-1: @material-deeporange-50;
@rp-comments-depth-2: @material-deeporange-100;
@rp-comments-depth-3: @material-deeporange-200;
@rp-comments-depth-4: @material-deeporange-300;
@rp-comments-depth-5: @material-deeporange-400;
@rp-comments-depth-6: @material-deeporange-500;
@rp-comments-depth-7: @material-deeporange-600;
@rp-comments-depth-8: @material-deeporange-700;
@rp-comments-depth-9: @material-deeporange-800;
@rp-comments-depth-10: @material-deeporange-900;

@rp-comment-op: #0277BD;

@rp-accent: @md-default-accent;
@rp-accent-lighter: rgba(255,110,64,0.87);

@rp-gilded: #FFB300;