/*
	Variables
*/
@background-color: rgba(0, 0, 0, 0.2);

/*
	Columns and Resizing Breakpoints.
 */

@screen-md: 960px;
@screen-md2: 1200px;
@screen-lg: 1550px;

@sm-column-size: 100%;
@md-column-size: 300px;
@md2-column-size: 400px;
@lg-column-size: 400px;

@grid-gutter-width: 20px;

@rp-post-fab-icon-size: 20px;
@rp-post-fab-size: 34px;

@rp-comments-fab-icon-size: 24px;
@rp-comments-fab-size: 36px;

@reddit-orange: #ff5700;
//Snoo's eyes must be orangered
@reddit-orangered: #ff4500;
@reddit-upvote: #ff8b60;
@reddit-neutral: #c6c6c6;
@reddit-downvote: #9494ff;
@reddit-lightbg: #eff7ff;
@reddit-header: #cee3f8;
@reddit-uitext: #336699;

@upvote-button: #ff8b60;
@downvote-button: #9494ff;
@save-button: #F44336;
@share-button: rgb(0, 150, 136);
@comments-button: #0277BD;
@reply-button: #E91E63;

@embed-play-button-color: rgba(255, 255, 255, 0.5);
@embed-play-button-color-hover: rgb(255, 255, 255);

@rp-titlebar-font-color: rgba(255, 255, 255, 0.870558);

@rp-image-album-icon-color: white;

@md-default-primary: #2196F3;
@md-default-accent: #FF5722;

@normal-text-color: rgba(0, 0, 0, 0.87);
// @light-text-color: rgba(0, 0, 0, 0.54);
@light-text-color: #999;
@inactive-icon: rgba(0, 0, 0, 0.26);
// @inactive-icon: #a1a1a1;
@active-icon: rgba(0, 0, 0, 0.54);

@imgur-green: #85BF25;
@youtube-red: #CC181E;
@gif-yellow: #FFEB3B;
@twitter-blue: #2290BF;
@md-blue: #2196F3;

@material-red-400: #EF5350;

@rp-background-content: #efefef;
@rp-background-card: #fff;

@rp-media-image-background: #efefef;

@rp-comments-depth-0: white;
@rp-comments-depth-1: #FBE9E7;
@rp-comments-depth-2: #FFCCBC;
@rp-comments-depth-3: #FFAB91;
@rp-comments-depth-4: #FF8A65;
@rp-comments-depth-5: #FF7043;
@rp-comments-depth-6: #FF5722;
@rp-comments-depth-7: #F4511E;
@rp-comments-depth-8: #E64A19;
@rp-comments-depth-9: #D84315;
@rp-comments-depth-10: #BF360C;

@rp-comment-op: #0277BD;