.rp-error-body
{ height: 100%;
    margin: 0; 
}

.rp-error-sidenav
{ float: left;  overflow: hidden;  width: 256px;  height: 100%;  text-align: center;

    background-color: @md-default-primary; 
}


.rp-error-content
{ font-family: 'Roboto';  height: 100%;
    padding: 20px;  text-align: center;  color: @medium-text-color;  color: @medium-text-color; 
    // float: right;

    .title
    {
        font-size: 26px;
    }

    .message
    {
        font-size: 18px;
    }
}

.rp-error-image-snoo
{ display: block; 

    width: 128px;  height: 128px;  margin: auto;
}

.rp-error-image
{
    display: block;  float: none; margin: auto; 
}

.rp-content-404
{ text-align: center;

    color: @medium-text-color; 
    .title
    {
        font-size: 26px;
    }

    .message
    {
        font-size: 18px;
    }
}
