.rp-media-streambale-wrapper {
  position: relative;
  width: 100%;
  // height: 90vh;
  // width: 50vw;
  text-align: center;
  // height: 100%;
}

.rp-media-streamable-content {
  // .rp-media-youtube-content;
  // width: 50vh;
  // padding: 32px;
}

.rp-media-streamable-embed {
  // position: relative;
  // padding-bottom: 100%;
  // height: 0;
  // margin: 10px 0;
  // overflow: hidden;
  // text-align: center;
}

.rp-media-streamable-embed embed,
.rp-media-streamable-embed iframe,
.rp-media-streamable-embed object {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100% !important;
  // height: 100%;
}

.rp-media-streamable-thumbnail {
  position: relative;
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
}