.rp-social-buttons {
  text-align: center;
  min-width: 210px;
  max-width: 210px;
  margin-top: 24px;
}
// .rp-social-fab {
//     background-color: transparent !important;
//     // z-index: 0 !important;
//     box-shadow: none !important;
//     // margin: 0;\
//     width: 36px !important;
//     height: 36px !important;
// }
// .rp-social-fab-icon {
//     color: @inactive-icon !important;
//     top: 7px !important;
//     left: 7px !important;
//     position: absolute;
// }
// .twitter-share-button {
//     padding: 4px;
//     display: inline-block !important;
// }
// .fb-like {
//     min-height: 20px;
//     padding: 4px;
//     vertical-align: top;
// }
// .rp-paypal-img {
// }
.fb-like {
  vertical-align: top;
  padding: 4px;
  display: inline-block !important;
}

.twitter-follow-button {
  vertical-align: top;
  padding: 4px;
}

.rp-google-plus {
  display: inline-block;
  margin-top: 3.5px;
  margin-left: 4px;
}
