.rp-posts-list-wrapper {
  // width: 80% !important;
  margin: 0 auto;
}
@media (max-width: @layout-xs) {
  .rp-link-list md-card {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.rp-link-list {
  md-card {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
  }

  .rp-link-list-item {
    z-index: 100;

    .rp-link-list-thumbnail {
      // max-width: 100px;
      // max-height: 100px;
      &:hover {
        cursor: zoom-in;
      }
    }

    .rp-link-list-thumbnail.media-open {
      &:hover {
        cursor: zoom-out;
      }
    }

    .rp-link-link-content {
      padding: 8px;
    }

    .rp-post-actions {
      margin-left: -5px;
    }
  }

  .rp-list-media {
    &:hover {
      cursor: zoom-out !important;
    }

    img {
      &:hover {
        cursor: zoom-out !important;
      }
    }
  }

  rp-gild {
    padding-top: 2px !important;
  }

  blockquote {
    font-style: italic;
    margin-left: 0;
    padding-left: 8px;
    color: #999;
    border-width: 0;
    border-style: solid;
    border-color: #999;
    border-left-width: 2px;
  }

  rp-delete-form {
    form {
      margin: 0 8px;
    }
  }
}
@media (max-width: @layout-md) {
  .rp-list-view {
    .rp-posts-list-wrapper {
      width: 100% !important;
    }
  }
}
@media (max-width: @layout-sm) {
  .rp-list-view .rp-subreddit-posts {
    width: 100% !important;
  }
}
