.rp-link-comment-header {
  .rp-post-header;

  .rp-post-header {
    padding-bottom: 0;
  }
  // background-color: #f5f5f5;
}

.rp-link-comment {
  font-size: 14px;
  padding-right: 16px;
  padding-left: 16px;
  word-wrap: break-word;
  color: @normal-text-color;
  blockquote {
    font-style: italic;
    margin-left: 0;
    padding-left: 8px;
    color: #999;
    border-width: 0;
    border-style: solid;
    border-color: #999;
    border-left-width: 2px;
  }
}

.rp-subreddit-posts {
  max-width: 100%;
  margin: auto;
  @media only screen and (min-width: @layout-two-columns) {
    margin: 0 auto;
  }
  @media (min-width: @layout-two-columns) {
    max-width: 760px !important;
  }
  @media (min-width: @layout-three-columns) {
    max-width: 1280px !important;
  }
  @media (min-width: @layout-four-columns) {
    max-width: 1660px !important;
  }
}

rp-link {
  md-card {
    .rp-shadow;
    @media (max-width: @layout-xs) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  md-divider {
    padding: 0 !important;
  }
}
