.rp-sidenav-plus {
  .rp-sidenav-login;

  .rp-sidenav-plus-button {
    .rp-sidenav-login-button;
  }
}

.rp-sidenav-plus .rp-sidenav-button {
  // padding-top: 6px;
  max-width: 170px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding-left: 6px;
}
// .rp-settings-dialog .rp-plus {
//     max-width: 100% !important;
//     margin: 0 !important;
// }

.rp-plus {
  max-width: 60%;
  margin: auto;
  background-color: transparent !important;

  .rp-plus-subscribing {
    md-progress-circular {
      margin: auto;
    }

    p {
      text-align: center;
    }
  }
}

.rp-settings-dialog .rp-plus {
  max-width: none;
  margin: 0;
}

.rp-plus-form {
  .rp-button-row {
    padding-top: 24px;
  }

  button {
    margin: 0;
  }
}

.rp-cancel-subscription button {
  font-size: 13px;
  line-height: 24px;
  margin-right: 16px !important;
  margin-left: 0 !important;
}

.rp-cancel-button {
  &:hover {
    color: white !important;
    background-color: @mdc-red-500 !important;
  }
}
@keyframes subscribe_button {
  0% {
    background-color: @mdc-light-blue-500;
  }

  50% {
    background-color: @mdc-light-blue-700;
  }

  100% {
    background-color: @mdc-light-blue-500;
  }
}

.rp-plus-paypal-button {
  padding: 8px 16px;
  animation: subscribe_button 3s ease-in-out infinite;
  color: white !important;
  background-color: @mdc-light-blue-600;

  &:hover {
    animation: none;
    background-color: @mdc-light-blue-500 !important;
  }

  md-icon {
    width: 196px;
    height: auto;
  }
}

.rp-plus-subscription-details {
  table {
    // margin: auto;
    tr {
      td {
        padding: 8px;

        md-chips {
          md-chips-wrap {
            box-shadow: none !important;
          }

          md-chip {
            color: white;
            background: @mdc-light-green-500;
          }
        }
      }
    }
  }
}

.rp-plus-dialog {
  max-width: 95%;
  @media (min-width:@layout-xs) {
    max-width: 70% !important;
  }
  @media (min-width: @layout-sm) {
    max-width: 45% !important;
  }
  @media (min-width: @layout-md) {
    max-width: 35% !important;
  }
}

.rp-plus-form {
  md-input-container {
    width: 100%;
  }
  // .rp-plus-subscribing {
  //     md-progress-circular {
  //         margin: auto;
  //     }
  // }
  .rp-error {
    font-size: 14px;
    color: @mdc-red-500;
  }

  #card-errors {
    font-size: 14px;
    padding-top: 8px;
    color: @mdc-red-500;
  }

  .rp-plus-form-stripe {
    font-size: 13px;
    color: @light-text-color;

    img {
      width: 10%;
      margin-bottom: -5px;
      margin-left: 5px;
    }
  }
}

.rp-plus-feature-text {
  font-size: 14px;
  width: 158px;
  margin: 0 auto 16px;
  padding: 16px;
  text-align: center;
  color: @dark05;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: @dark01;
}

.rp-plus-feature-image {
  width: 190px;
  margin: 0 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rp-plus-sidenav-ad {
  display: block;
  margin-left: 10px;

  .ad {
    display: block;
    width: 190px;
    height: auto;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }

  .rp-plus-logo-wrapper {
    width: 174px;
    padding: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: @dark02;
  }

  .rp-plus-logo {
    display: block;
    width: 120px;
    height: auto;
    margin: 0 auto;

    svg {
      animation: reddup_plus_logo 60s linear infinite;
      fill: red;
    }
  }
  @keyframes reddup_plus_logo {
    0% {
      color: @mdc-deep-orange-400;
      fill: @mdc-deep-orange-400;
    }

    8% {
      color: @mdc-red-400;
      fill: @mdc-red-400;
    }

    16% {
      color: @mdc-pink-400;
      fill: @mdc-pink-400;
    }

    24% {
      color: @mdc-purple-400;
      fill: @mdc-purple-400;
    }

    32% {
      color: @mdc-blue-400;
      fill: @mdc-blue-400;
    }

    40% {
      color: @mdc-light-blue-400;
      fill: @mdc-light-blue-400;
    }

    48% {
      color: @mdc-cyan-400;
      fill: @mdc-cyan-400;
    }

    56% {
      color: @mdc-teal-400;
      fill: @mdc-teal-400;
    }

    64% {
      color: @mdc-green-400;
      fill: @mdc-green-400;
    }

    72% {
      color: @mdc-light-green-400;
      fill: @mdc-light-green-400;
    }

    80% {
      color: @mdc-lime-400;
      fill: @mdc-lime-400;
    }

    88% {
      color: @mdc-amber-400;
      fill: @mdc-amber-400;
    }

    96% {
      color: @mdc-orange-400;
      fill: @mdc-orange-400;
    }

    100% {
      color: @mdc-deep-orange-400;
      fill: @mdc-deep-orange-400;
    }
  }

  img {
    display: block;
    width: 190px;
    height: auto;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
  }

  button {
    width: 190px;
    margin: 0;
    text-transform: none;
    color: white !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@keyframes left_wing {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes right_wing {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#left-wing_cache1 {
  transform-origin: right;
  animation: left_wing 2s infinite ease-in-out;
}

#right-wing_cache1 {
  transform-origin: left;
  animation: right_wing 2s infinite ease-in-out;
}

#DARK_cache1 {
  display: none;
}

#left-eye_cache1,
#right-eye_cache1 {
  // fill: red;
}

.rp-settings-content {
  md-tab-item:nth-last-of-type(1) {
    font-family: 'Typo Round Light';
    font-size: 24px;
    animation: reddup_plus_logo 120s linear infinite;
    color: @mdc-deep-orange-400;
  }
}

.rp-plus-features-logo {
  font-family: 'Typo Round Light';
  font-size: 36px;
  animation: reddup_plus_logo 120s linear infinite;
  color: @mdc-deep-orange-400;
}

.rp-plus-features-intro {
  text-align: center;
}

.rp-plus-features-lead {
  font-family: 'Roboto Light';
  font-size: 36px;
  color: @medium-text-color;
}

.rp-plus-features-info {
  font-family: 'Roboto Light';
  font-size: 24px;
  color: @medium-text-color;
}

.rp-plus-sidenav-ad {
  button {
    animation: reddup_plus_ad_button 60s linear infinite;
  }
}

.rp-plus-subscribe-button-switch {
  text-align: center;
}
@keyframes reddup_plus_ad_button {
  0% {
    background-color: @mdc-deep-orange-400;
  }

  8% {
    background-color: @mdc-red-400;
  }

  16% {
    background-color: @mdc-pink-400;
  }

  24% {
    background-color: @mdc-purple-400;
  }

  32% {
    background-color: @mdc-blue-400;
  }

  40% {
    background-color: @mdc-light-blue-400;
  }

  48% {
    background-color: @mdc-cyan-400;
  }

  56% {
    background-color: @mdc-teal-400;
  }

  64% {
    background-color: @mdc-green-400;
  }

  72% {
    background-color: @mdc-light-green-400;
  }

  80% {
    background-color: @mdc-lime-400;
  }

  88% {
    background-color: @mdc-amber-400;
  }

  96% {
    background-color: @mdc-orange-400;
  }

  100% {
    background-color: @mdc-deep-orange-400;
  }
}