// TODO:: Remove transition times
.IL_BASE {
  display: block !important;
  max-width: 100% !important;
  transition: none !important;
}

#IL_INSEARCH {
  // position: static !important;
  margin: auto !important;
  transition: none !important;
}

@media (min-width: @layout-md) {
  #IL_INSEARCH {
    transform: translateX(100px) !important;
  }
}
.rp-article-card-content > .IL_BASE {
  margin-top: 24px !important;
}
