/*
     Fonts
*/
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('/fonts/roboto/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/roboto/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('/fonts/roboto/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family: 'Lobster Two';
  src: url('/fonts/LobsterTwo-Italic.ttf');
}
@font-face {
  font-family: 'Lobster';
  src: url('/fonts/lobster-regular-webfont.ttf');
}
@font-face {
  font-family: 'Typo Round Light';
  src: url('/fonts/Typo_Round_Light_Demo.otf');
}
@font-face {
  font-family: 'Typo Round Thin';
  src: url('/fonts/Typo_Round_Thin_Demo.otf');
}
// @light-text-color: rgba(0, 0, 0, 0.54);
// @light-text-color: #999;