.rp-body {
  // overflow-y: hidden !important;
  // overflow-y: scroll !important;

}

.rp-toolbar {
  position: fixed !important;
}

.rp-page-content {
  display: flex !important;
  overflow-y: scroll !important;
  margin-top: 64px;
}

.rp-app-main {
  // display: flex !important;
  // overflow-y: hidden !important;
  margin-left: auto !important;
  margin-right: auto !important;

}

.rp-content {
  // display: flex !important;
  // height: auto !important;
  // overflow-y: hidden !important;
  @media(min-width: @layout-md) {
    margin-left: 210px;
  }
}

.rp-layout-switch {
  // display: flex !important;
  // height: auto !important;
}

.rp-sidenav-docked {
  position: fixed !important;
  top: 64px !important;
  left: 0 !important;
  
}

rp-speed-dial {
  position: fixed !important;
  bottom: 0 !important;
  right: 24px !important;
}