.rp-author
{
    font-family: 'Roboto Medium';  font-size: 14px; color: @light-text-color; .link;
}

.rp-shadow
{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 1px 1px 1px rgba(0, 0, 0, .05);
}
