.rp-progress {
  position: absolute !important;
  z-index: 1000 !important;
  top: -2px !important;
  width: 100% !important;
}

md-progress-circular {
  svg {
    transform-origin: inherit !important;
  }
}

.rp-small-form-progress {
  margin-top: auto;
  margin-bottom: auto;
}