/*
	Variables
*/
@background-color: rgba(0, 0, 0, .2);
/*
	Columns and Resizing Breakpoints.
 */
//angular material breakpoints values
@layout-xs: 600px;
@layout-sm: 960px;
@layout-md: 1280px;
@layout-lg: 1920px; /*
	column size values... move to rp-columns.less
 */
@grid-gutter-width: 20px;
@rp-post-fab-icon-size: 18px;
@rp-post-fab-size: 28px;
@rp-article-fab-icon-size: 18px;
@rp-article-fab-size: 28px;
@rp-comment-fab-icon-size: 16px;
@rp-comment-fab-size: 26px;
@rp-speed-dial-icon-size: 18px;
@reddit-orange: #ff5700;
@sidenav-width: 210px; //Snoo's eyes must be orangered
@reddit-orangered: #ff4500;
@reddit-upvote: #ff8b60;
@reddit-neutral: #c6c6c6;
@reddit-downvote: #9494ff;
@reddit-lightbg: #eff7ff;
@reddit-header: #cee3f8;
@reddit-uitext: #369;
@rp-gild: #ffb300;
@upvote-button: #ff8b60;
@downvote-button: #9494ff;
@save-button: @material-red-500;
@share-button: #4caf50;
@comments-button: #ab47bc;
@open-button: @mdc-blue-500;
@hide-button: @mdc-purple-500;
@reply-button: @material-amber-500;
@send-button: @md-default-accent;
@context-button: @material-green-500;
@search-button: @material-amber-500;
@subscribe-button: #4caf50;
@delete-button: @material-red-500;
@edit-button: @material-cyan-500;
@info-button: @md-default-accent;
@gild-button: @rp-gild;
@rp-stickied: @material-blue-300;
@embed-play-button-color: rgba(255, 255, 255, .5);
@embed-play-button-color-hover: rgb(255, 255, 255);
@rp-titlebar-font-color: rgba(255, 255, 255, .870558);
@rp-image-album-icon-color: white;
@normal-text-color: rgba(0, 0, 0, .87);
@medium-text-color: rgba(0, 0, 0, .54);
@light-text-color: #999;
@gray-text-color: rgb(153, 153, 153);
@rp-white-text-color: rgb(255, 255, 255); // @rp-white-text-color: rgba(255,255,255,0.87);
@inactive-icon: rgba(0, 0, 0, .26);
@active-icon: rgba(0, 0, 0, .54); // @inactive-icon: #a1a1a1;
@imgur-green: #85bf25;
@youtube-red: #cc181e;
@gif-yellow: #ffeb3b;
@twitter-blue: #2290bf;
@md-blue: #2196f3;
@material-red-500: #f44336;
@material-red-400: #ef5350;
@material-red-300: #e57373;
@material-grey-50: #fafafa;
@material-grey-100: #f5f5f5;
@material-grey-200: #eee;
@material-grey-500: #9e9e9e;
@material-amber-500: #ffc107;
@material-pink-500: #e91e63;
@material-blue-300: #f06292;
@material-teal-500: #009688;
@material-green-500: #4caf50;
@material-green-400: #66bb6a;
@material-green-300: #81c784;
@material-cyan-500: #00bcd4;
@material-brown-300: #a1887f;
@material-blue-500: #2196f3;
@material-lightblue-500: #03a9f4;
@material-lightblue-100: #b3e5fc;
@material-lightblue-600: #039be5;
@material-purple-500: #9c27b0;
@material-indigo-50: #e8eaf6;
@material-indigo-100: #c5cae9;
@material-indigo-200: #9fa8da;
@material-indigo-300: #7986cb;
@material-indigo-400: #5c6bc0;
@material-indigo-500: #3f51b5;
@material-indigo-600: #3949ab;
@material-indigo-700: #303f9f;
@material-indigo-800: #283593;
@material-indigo-900: #1a237e;
@material-indigo-A100: #8c9eff;
@material-indigo-A200: #536dfe;
@material-indigo-A300: #3d5afe;
@material-indigo-A400: #304ffe;
@rp-background-content: #efefef;
@rp-background-card: #fff;
@rp-media-image-background: #efefef;
@material-deeporange-50: #fbe9e7;
@material-deeporange-100: #ffccbc;
@material-deeporange-200: #ffab91;
@material-deeporange-300: #ff8a65;
@material-deeporange-400: #ff7043;
@material-deeporange-500: #ff5722;
@material-deeporange-600: #f4511e;
@material-deeporange-700: #e64a19;
@material-deeporange-800: #d84315;
@material-deeporange-900: #bf360c;
@material-deeporange-A100: #ff9e80;
@material-deeporange-A200: #ff6e40;
@material-deeporange-A400: #ff3d00;
@material-deeporange-A700: #dd2c00;
@material-green-50: #e8f5e9;
@material-green-100: #c8e6c9;
@material-green-200: #a5d6a7;
@material-green-300: #81c784;
@material-green-400: #66bb6a;
@material-green-600: #43a047;
@material-green-700: #388e3c;
@material-green-800: #2e7d32;
@material-green-900: #1b5e20;
@material-pink-50: #fce4ec;
@material-pink-100: #f8bbd0;
@material-pink-200: #f48fb1;
@material-pink-300: #f06292;
@material-pink-400: #ec407a;
@material-pink-600: #d81b60;
@material-pink-700: #c2185b;
@material-pink-800: #ad1457;
@material-pink-900: #880e4f;
@material-purple-50: #f3e5f5;
@material-purple-100: #e1bee7;
@material-purple-200: #ce93d8;
@material-purple-300: #ba68c8;
@material-purple-400: #ab47bc;
@material-purple-600: #8e24aa;
@material-purple-700: #7b1fa2;
@material-purple-800: #6a1b9a;
@material-purple-900: #4a148c;
@material-blue-50: #e3f2fd;
@material-blue-100: #bbdefb;
@material-blue-200: #90caf9;
@material-blue-300: #64b5f6;
@material-blue-400: #42a5f5;
@material-blue-600: #1e88e5;
@material-blue-700: #1976d2;
@material-blue-800: #1565c0;
@material-blue-900: #0d47a1;
@material-red-50: #ffebee;
@material-red-100: #ffcdd2;
@material-red-200: #ef9a9a;
@material-red-300: #e57373;
@material-red-400: #ef5350;
@material-red-600: #e53935;
@material-red-700: #d32f2f;
@material-red-800: #c62828;
@material-red-900: #b71c1c;
@rp-article-depth-0: white;
@rp-article-depth-1: @material-deeporange-50;
@rp-article-depth-2: @material-deeporange-100;
@rp-article-depth-3: @material-deeporange-200;
@rp-article-depth-4: @material-deeporange-300;
@rp-article-depth-5: @material-deeporange-400;
@rp-article-depth-6: @material-deeporange-500;
@rp-article-depth-7: @material-deeporange-600;
@rp-article-depth-8: @material-deeporange-700;
@rp-article-depth-9: @material-deeporange-800;
@rp-article-depth-10: @material-deeporange-900;
@rp-comment-op: #0277bd;
@md-default-primary: @material-deeporange-500;
@md-default-accent: @material-deeporange-500;
