.rp-message-compose-dialog {
    height: 95%;
    max-height: 95% !important;
    max-width: 95%;
    @media (min-width: @layout-md) {
        max-width: 70%;
    }
    @media (min-width: @layout-lg) {
        max-width: 60%;
    }
}

.rp-message-compose-content {
    background-color: transparent !important;
    padding-bottom: 40px;
}

.rp-message-compose-dialog .rp-message-compose-inner {
    box-shadow: none;
}

.rp-message-compose-title {
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: @light-text-color;
}

.rp-message-compose-form {
    background-color: #fff !important;
}

.rp-message-compose-form md-input-container {
    padding-left: 0 !important;
}

.rp-message-compose-button-area {
    margin-top: 40px;
}

.rp-message-compose-button {
    min-width: 80px;
}

.rp-message-compose-send-button span {
    color: white !important;
}

.rp-message-compose-progress {
    margin: 6px;
    // padding-left: 24px;
}
