.rp-toolbar-overflow-menu {
	min-width: auto;

	.rp-toolbar-overflow-menu-button {
		width: auto;
		padding: 0;
	}

	.md-button {
		min-width: auto;
		margin: 0;
		padding: 6px 14px;
	}
}

.rp-overflow-button md-icon svg {
	fill: @rp-titlebar-font-color !important;
}