.rp-bottom-sheet {
  // background-color: @rp-background-content !important;
  // .md-whiteframe-z2;
  md-icon {
    width: 48px;
    height: 48px;

    svg {
      fill: @inactive-icon;
    }

    &:hover {
      svg {
        fill: @active-icon;
      }
    }
  }
  .md-grid-text {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  md-list md-list-item {
    flex: 0 !important;

    button {
      padding: 8px;
    }
  }
}
