.rp-share-email-dialog {
  max-width: 95%;
  height: 90%;
  max-height: 95% !important;
  @media (min-width: @layout-md) {
    max-width: 65%;
    max-height: 70%;
  }
  @media (min-width: @layout-lg) {
    max-width: 50%;
  }
}

.rp-share-email-inner {
  width: 80%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px 32px 50px;
  background-color: white !important;
}

.rp-share-email-title {
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: @light-text-color;
}

.rp-share-email-content {
  background-color: transparent !important;
}