md-fab-speed-dial.md-fab-bottom-right.md-scale.rp-speed-dial(md-open="isOpen", md-direction="up", ng-mouseenter="open()", ng-mouseleave="collapse()")
  md-fab-trigger
    md-button.md-fab.md-warn(aria-label="submit")
      md-icon(md-svg-icon="ic_add_black_24px")
  md-fab-actions.rp-speed-dial-actions
    md-button.md-fab.md-mini.md-raised(ng-click="newLink($event)", aria-label="link")
      md-icon(md-svg-icon="ic_link_black_24px")
    md-button.md-fab.md-mini.md-raised(ng-click="newText($event)", aria-label="text")
      md-icon(md-svg-icon="ic_format_align_justify_black_24px")
