.rp-toolbar-wrapper(layout="row")
	md-toolbar.rp-toolbar.md-whiteframe-2dp(
		layout-align="start center"
		ng-if="showToolbar"
		ng-class="{'rp-animation-toolbar': animations}"

	)

		//- .rp-beta
			.rp-beta-tag
			.rp-beta-text beta

		.md-toolbar-tools.rp-toolbar-tools(flex)
			md-button.rp-toolbar-menu-button.md-icon-button(ng-click="toggleLeft()", hide-gt-md, aria-label="menu")
				md-icon.rp-toolbar-action-icon(md-svg-icon="ic_menu_black_48px")
					md-tooltip(hide, show-gt-sm) menu

			.rp-brand(layout="row", layout-align="center center", hide, show-gt-sm, ng-click="brandLink($event)")
				//- md-icon.rp-brand-icecream-icon(md-svg-icon="reddup")
				//- md-icon.rp-brand-icon(md-svg-icon="logo")
				md-icon.rp-brand-icon(md-svg-src="../../icons/logo.svg")
				.rp-brand-name reddup
			//- a.rp-brand(layout="row", layout-align="center center", hide, show-gt-sm, href=".")
			//- 	img.rp-brand-logo(src="http://www.reddup.co//images/logo.png")
			//- 	.rp-brand-name reddup

			.md-toolbar-title.rp-toolbar-title
				a(href="{{toolbarTitle}}", ng-if="linkTitle") {{toolbarTitle}}
				span(ng-if="!linkTitle") {{toolbarTitle}}

			span(flex)

			rp-toolbar-select(type="'postTime'", ng-if="buttonVisibility.showPostTime")
			rp-toolbar-select(type="'postSort'", ng-if="buttonVisibility.showPostSort")
			rp-toolbar-select(type="'articleSort'", ng-if="buttonVisibility.showArticleSort")
			rp-toolbar-select(type="'userTime'", ng-if="buttonVisibility.showUserTime")
			rp-toolbar-select(type="'userSort'", ng-if="buttonVisibility.showUserSort")
			rp-toolbar-select(type="'userWhere'", ng-if="buttonVisibility.showUserWhere")
			rp-toolbar-select(type="'messageWhere'", ng-if="buttonVisibility.showMessageWhere")
			rp-toolbar-select(type="'searchTime'", ng-if="buttonVisibility.showSearchTime")
			rp-toolbar-select(type="'searchSort'", ng-if="buttonVisibility.showSearchSort")

			rp-layout-button(hide, show-gt-sm)
			rp-night-theme-button(hide, show-gt-sm)
			rp-slideshow-button(hide, show-gt-sm)
			rp-refresh-button
			rp-toolbar-overflow-menu(hide, show-sm, show-xs)

			.rp-toolbar-rules(ng-if="showRules")
				md-button.rp-toolbar-action-button.md-icon-button(aria-label="sidebar", ng-click="toggleRules()")
					md-icon.rp-toolbar-action-icon(md-svg-icon="ic_chrome_reader_mode_black_48px")
						md-tooltip(hide, show-gt-sm) sidebar
