.rp-toolbar-wrapper(layout="row")
  md-toolbar.rp-toolbar.md-whiteframe-2dp(
    layout-align="start center"
    ng-if="showToolbar"
    ng-class="{'rp-animation-toolbar': appCtrl.settings.animations}"

  )

    .md-toolbar-tools.rp-toolbar-tools(flex)
      rp-sidenav-button

      .rp-brand(layout="row", layout-align="center center", hide, show-gt-sm, ng-click="brandLink($event)")
        md-icon.rp-brand-icon(md-svg-src="../../icons/logo.svg")
        .rp-brand-name reddup

      .md-toolbar-title.rp-toolbar-title
        a(href="{{appCtrl.titles.toolbar}}", ng-if="linkTitle") {{appCtrl.titles.toolbar}}
        span(ng-if="!linkTitle") {{appCtrl.titles.toolbar}}

      span(flex)

      .rp-toolbar-selects(ng-controller="rpToolbarSelectCtrl")
        rp-toolbar-select-button(config="config.postTime", ng-if="buttonVisibility.showPostTime")
        rp-toolbar-select-button(config="config.postSort", ng-if="buttonVisibility.showPostSort")
        rp-toolbar-select-button(config="config.articleSort", ng-if="buttonVisibility.showArticleSort")
        rp-toolbar-select-button(config="config.userTime", ng-if="buttonVisibility.showUserTime")
        rp-toolbar-select-button(config="config.userSort", ng-if="buttonVisibility.showUserSort")
        rp-toolbar-select-button(config="config.userWhere", ng-if="buttonVisibility.showUserWhere")
        rp-toolbar-select-button(config="config.messageWhere", ng-if="buttonVisibility.showMessageWhere")
        rp-toolbar-select-button(config="config.searchTime", ng-if="buttonVisibility.showSearchTime")
        rp-toolbar-select-button(config="config.searchSort", ng-if="buttonVisibility.showSearchSort")

      rp-layout-button(hide, show-gt-sm)
      rp-night-theme-button(hide, show-gt-sm)
      rp-slideshow-button(hide, show-gt-sm)
      rp-refresh-button
      rp-toolbar-overflow-menu(hide, show-sm, show-xs)

      rp-sidebar-button.rp-toolbar-rules(ng-if="buttonVisibility.showRules")

