.rp-speed-dial
{
    md-fab-trigger svg
    {
        fill: #fff;
    }

    button.md-mini
    {
        md-icon
        {
            position: absolute !important;
            top: 10px !important;
            left: 10px !important;
        }

        svg
        {
            width: @rp-speed-dial-icon-size !important;
            height: @rp-speed-dial-icon-size !important;

            fill: @active-icon;
        }
    }
}

.rp-speed-dial:nth-of-type(2)
{
    display: none !important;
}

.md-scale:not(.md-is-open) .md-fab-action-item
{
    opacity: 0;
}
