.rp-share-email-dialog {
	max-height: 95% !important;
	max-width: 95%;
	height: 90%;
	@media (min-width: @layout-md) {
		max-height: 70%;
		max-width: 65%;
	}
	@media (min-width: @layout-lg) {
		max-width: 50%;
	}
}

.rp-share-email-inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white !important;
	margin-top: 40px;
	padding: 32px 32px 50px;
}

.rp-share-email-title {
	font-size: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	color: @light-text-color;
}

.rp-share-email-content {
	background-color: transparent !important;
}
