// one dark colors
@dark00: #282c34;
@dark01: #353b45;
@dark02: #3e4451;
@dark03: #545862;
@dark04: #565c64;
@dark05: #abb2bf;
@dark06: #b6bdca; //use for icons
@dark07: #c8ccd4; // @dark07: rgba(255,255,255,0.87);
// @dark06: rgba(255,255,255,0.56);
// @dark05: rgba(255,255,255,0.24);

.rp-body.rp-night-theme {
  background-color: @dark00 !important;
}

.rp-night-theme md-content {
  background-color: @dark00 !important;
}

.rp-night-theme md-card {
  background-color: @dark02 !important;
}

.rp-night-theme {
  .default-dark-button {
    color: @dark04 !important;
    background-color: @dark02 !important;

    span {
      color: @dark07 !important;
    }

    &:hover {
      background-color: @dark01 !important;
    }
  }

  .rp-sidebar-description,
  .rp-sidebar-header,
  h1 {
    color: @dark05 !important;
  }

  md-toolbar {
    background-color: @dark01 !important;
  }

  md-content {
    color: @dark07;
    background-color: transparent !important;
  }

  rp-toolbar {
    background-color: @dark00 !important;
  }

  md-sidenav {
    background-color: @dark00 !important;
  }

  md-dialog {
    background-color: @dark01 !important;
  }

  .rp-sidenav-left {
    color: @dark07 !important;
    background-color: @dark01 !important;

    .rp-sidenav-content {
      color: @dark07 !important;
    }
  }

  .rp-sidenav-white {
    .rp-brand-name {
      color: @dark07 !important;
    }

    .rp-brand {
      background-color: transparent !important;
    }
  }

  .rp-page-content {
    background-color: @dark00 !important;
  }

  .rp-main {
    background-color: @dark00 !important;
  }

  .rp-sidenav-content {
    color: @dark07 !important;
  }

  .rp-sidenav-icon svg {
    fill: @dark06 !important;
  }

  .rp-sidenav-identity-name {
    color: @dark07 !important;
  }

  .rp-sidenav-identity-identity md-icon svg {
    fill: @dark06 !important;
  }

  md-input-container {
    label {
      color: @dark07 !important;
    }

    label.md-required:after {
      color: @dark07 !important;
    }

    .md-input {
      color: @dark07 !important;
      border-color: @dark06 !important;
    }

    input {
      color: @dark07 !important;
    }

    input::placeholder {
      color: @dark06 !important;
    }

    textarea::placeholder {
      color: @dark06 !important;
    }
  }

  md-select {
    .md-select-value {
      border-bottom-color: @dark06 !important;

      .rp-select-option-label {
        color: @dark07 !important;
      }
    }

    .md-select-icon {
      color: @dark07 !important;
    }
  }

  md-select-menu {
    md-content {
      background-color: @dark01 !important;
    }
  }

  .rp-post-action {
    button {
      background-color: @dark01 !important;

      span {
        color: @dark07 !important;
      }

      &:hover {
        background-color: @dark02 !important;
      }
    }

    md-icon svg {
      fill: @dark06;
    }
  }

  .rp-select-option {
    background-color: @dark01 !important;

    .rp-select-option-label {
      color: @dark07 !important;
    }
  }

  .rp-select-option:focus {
    background-color: @dark01 !important;
  }

  .rp-select-option[selected] {
    background-color: @dark02 !important;
  }

  .rp-settings-font-size-select {
    md-select-value {
      color: @dark07 !important;
    }
  }

  .rp-settings-font-size-option {
    color: @dark07 !important;
    background-color: @dark01 !important;

    &:hover {
      background-color: @dark02 !important;
    }
  }

  .rp-settings-font-size-option:focus {
    background-color: @dark01 !important;
  }

  .rp-settings-font-size-option[selected] {
    background-color: @dark02 !important;
  }

  .rp-search-sidenav-form button md-icon svg {
    fill: @dark06 !important;
  }

  .rp-sidenav-footer {
    color: @dark06 !important;
  }

  .rp-toolbar .rp-brand-name {
    border-right-color: @dark04 !important;
  }

  md-divider {
    border-top-color: @dark04;
  }

  md-menu-content {
    background-color: @dark01 !important;

    md-menu-item {
      color: @dark07 !important;
    }
  }

  .rp-post-header-title {
    color: @dark07 !important;
  }

  .rp-post-header-details {
    color: @dark06 !important;
  }

  .rp-post-selftext {
    color: @dark07 !important;
  }

  rp-score {
    color: @dark07 !important;
  }

  .rp-post-fab-icon svg {
    fill: @dark06 !important;
  }

  .rp-article-button {
    button {
      background-color: @dark02 !important;

      span {
        color: @dark07 !important;
      }
    }

    md-icon svg {
      fill: @dark06 !important;
    }
  }
  // .rp-toolbar-action-icon svg {
  //     fill: @dark06 !important;
  // }
  //
  .rp-dialog-close-button {
    md-icon svg {
      fill: @dark06 !important;
    }

    &:hover {
      md-icon svg {
        fill: @mdc-red-500 !important;
      }
    }
  }

  .rp-article-content {
    background-color: transparent !important;
  }

  .rp-article-content-inner {
    background-color: transparent !important;
  }
  // .rp-article .rp-article-content,
  // .rp-article-dialog .rp-article-content {
  // }
  .rp-article-post {
    background-color: @dark01 !important;
  }

  .rp-article-header-title {
    color: @dark07 !important;
  }

  .rp-article-thread {
    // background-color: @dark01 !important;
    background-color: transparent !important;
  }

  .rp-comment-inner {
    background-color: @dark01 !important;
  }

  .rp-comment-details {
    color: @dark06 !important;
  }

  .rp-comment-body {
    color: @dark07 !important;
  }

  .rp-comment-collapse-icon {
    svg {
      fill: @dark06 !important;
    }
  }

  .rp-comment-showmore-link {
    color: @dark06;
  }

  .rp-comment-showmore a {
    color: @dark06 !important;
  }

  .rp-article-nocomments {
    color: @dark06 !important;
    // background-color: @dark01 !important;
    background-color: transparent !important;
  }

  .rp-settings-dialog .rp-settings-content {
    background-color: transparent !important;
  }

  .rp-settings-title {
    color: @dark07 !important;
  }

  md-tabs-wrapper {
    border-bottom-color: @dark04 !important;
  }

  md-tab-item {
    color: @dark07 !important;
  }

  .rp-cancel-button {
    background-color: @dark01 !important;

    span {
      color: @dark07 !important;
    }

    &:hover {
      color: white !important;
      background-color: @mdc-red-500 !important;
    }
  }

  .rp-direct-message {
    color: @dark07 !important;
  }

  .rp-direct-message-header {
    md-icon svg {
      fill: @dark06 !important;
    }

    .rp-direct-message-subject {
      color: @dark07 !important;
    }
  }

  .rp-direct-message-details {
    color: @dark06 !important;

    .rp-message-arrow-icon svg {
      fill: @dark06 !important;
    }
  }

  .rp-direct-message-inner {
    background-color: transparent !important;
  }

  .rp-direct-message-inner-depth0 {
    border-left-color: transparent !important;
  }

  .rp-message-comment-wrapper {
    md-divider {
      display: none;
    }
  }

  .rp-message-comment {
    background: transparent !important;

    .rp-message-comment-title {
      md-icon svg {
        fill: @dark06 !important;
      }

      a {
        color: @dark07 !important;
      }
    }

    .rp-message-comment-details {
      color: @dark06 !important;
    }

    .rp-message-comment-body-html {
      color: @dark07 !important;
    }
  }

  .rp-speed-dial-actions {
    button {
      background-color: @dark02 !important;
    }

    md-icon svg {
      fill: @dark06 !important;
    }
  }

  .rp-form-title {
    color: @dark06 !important;
  }

  .rp-form-inner {
    color: @dark07 !important;
    background: transparent !important;

    .rp-submit-cancel-button {
      .default-dark-button;
    }
  }

  md-virtual-repeat-container {
    color: @dark07 !important;
    background-color: @dark01 !important;
  }

  .md-autocomplete-suggestions li {
    span {
      color: @dark06 !important;

      .highlight {
        color: @dark07 !important;
      }
    }

    &:hover {
      background-color: @dark02 !important;
    }
  }

  .rp-formatting-code {
    color: @dark07 !important;
    background-color: @dark04 !important;
  }

  .rp-message-compose-form {
    background-color: transparent !important;
  }

  .rp-message-compose-cancel-button {
    .default-dark-button;
  }

  .rp-link-comment {
    color: @dark07 !important;
  }

  .rp-media-imgur-album-info-count {
    color: @dark06 !important;
  }

  .rp-media-imgur-album-image-description {
    color: @dark07 !important;
  }

  .rp-gild-count {
    color: @dark06 !important;
  }

  .rp-search-srlink-heading {
    color: @dark06 !important;
  }

  .rp-search-sub-title {
    color: @dark07 !important;
  }

  .rp-search-more-button {
    md-icon svg {
      fill: @dark06 !important;
    }
  }

  .rp-search-sub-actions {
    background-color: @dark03 !important;
  }

  .rp-search-sub-description {
    color: @dark07 !important;
  }

  rp-search-sub md-divider {
    display: none;
  }

  md-bottom-sheet {
    border-top-color: @dark02 !important;
    background-color: @dark01 !important;

    md-icon svg {
      fill: @dark06 !important;
    }

    button {
      color: @dark06 !important;
    }
  }
  @media (min-width: @layout-xs) {
    ::-webkit-scrollbar-thumb {
      border: 0 none #fff;
      background: @dark02;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: @dark03;
    }
  }

  .md-toast-content,
  md-tooltip {
    background-color: @dark03 !important;
  }

  .rp-article-thread-comment-warning {
    background-color: @dark02 !important;

    .rp-article-thread-comment-warning-body {
      color: @dark06 !important;
    }
  }

  .rp-comment-inner.rp-comment-focussed {
    background-color: @dark02 !important;
  }

  .rp-content-eol {
    color: @dark05;
    background-color: transparent;
  }

  .rp-link-list {
    md-card {
      border-top: 1px solid @dark03;
      border-right: 1px solid @dark03;
      border-left: 1px solid @dark03;
    }
  }
  //select dropdown for rpLayoutButton
  .rp-layout-select-container {
    md-option {
      svg {
        fill: @dark06;
      }

      &:hover {
        background-color: @dark02 !important;
      }
    }

    md-option[selected] {
      background-color: @dark01 !important;
    }
  }

  .rp-toolbar-overflow-menu {
    .md-button {
      svg {
        fill: @dark06;
      }
    }
  }
}
// .dark-theme
// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//dividers
//toolbar animating in
//
//animations for opening sidenav items
@keyframes subreddits_enter_dark {
  from {
    max-height: 0;
    background-color: @dark02;
  }

  to {
    max-height: 5000px;
    background-color: @dark00;
  }
}
@keyframes subreddits_leave_dark {
  from {
    max-height: 5000px;
    background-color: @dark00;
  }

  to {
    max-height: 0;
    background-color: @dark02;
  }
}

.rp-night-theme .rp-animation-subreddits.ng-enter {
  animation: subreddits_enter_dark 750ms @rp-expando-curve !important;
}

.rp-night-theme .rp-animation-subreddits.ng-leave {
  animation: subreddits_leave_dark 750ms @rp-expando-curve !important;
}

.rp-night-theme .rp-animation-messages-menu.ng-enter {
  animation: subreddits_enter_dark 500ms @rp-expando-curve !important;
}

.rp-night-theme .rp-animation-messages-menu.ng-leave {
  animation: subreddits_leave_dark 500ms @rp-expando-curve !important;
}
@keyframes search_form_enter_dark {
  from {
    max-height: 0;
    background-color: @dark02;
  }

  to {
    max-height: 400px;
    background-color: @dark00;
  }
}
@keyframes search_form_leave_dark {
  from {
    max-height: 400px;
    background-color: @dark00;
  }

  to {
    max-height: 0;
    background-color: @dark02;
  }
}

.rp-night-theme .rp-animation-searchform.ng-enter {
  animation: search_form_enter_dark 200ms ease-in !important;
}

.rp-night-theme .rp-animation-searchform.ng-leave {
  animation: search_form_leave_dark 200ms ease-out !important;
}
// TODO
// //toast and tooltip colors
//animations when open sidenav things and popups
//md select menus
//ripple on buttons
//scrollbars
//background when opening gif