rp-gild {
	padding-top: 6px !important;
	padding-right: 0 !important;
}

.rp-gild-fab {
	color: @rp-gild !important;
	width: 24px !important;
	height: 24px !important;
	min-height: 20px !important;
	background-color: transparent !important;
	z-index: 0 !important;
	box-shadow: none !important;
	margin: 0;
}

.rp-gild-icon {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
}

.rp-gild-icon svg {
	fill: @rp-gild !important;
	width: 18px;
	height: 18px;
}

.rp-comment-body .rp-gild {
	margin-left: 8px;
}

.rp-gild-count {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.64);
}

md-dialog rp-gild {
	margin-right: 24px;
}