.rp-social-buttons
  .rp-support
    p.title reddup is a open source and relies on your support.

    p Contribute on GitHub or with a donation.
    .top-row(layout="row" layout-align="start center")
      rp-social-github
      rp-social-paypal
    p Share reddup with your friends
    .bottom-row(layout="row" layout-align="start center")
      rp-social-facebook
      rp-social-twitter
