.rp-toolbar-action.rp-toolbar-layout(
	ng-if="showLayout"
	hide, show-gt-xs
)
	md-select.md-no-underline(
		ng-model="selection.layout"
		ng-change="changeLayout()"
		aria-label="label"
	
	)
		md-option(value="multiColumnLayout")
			md-icon.rp-toolbar-action-icon(md-svg-icon="ic_dashboard_black_24px")
				md-tooltip(hide, show-gt-sm) multi column
		md-option(value="singleColumnLayout")
			md-icon.rp-toolbar-action-icon(md-svg-icon="ic_view_agenda_black_24px")
				md-tooltip(hide, show-gt-sm) single column
		md-option(value="listLayout")
			md-icon.rp-toolbar-action-icon(md-svg-icon="ic_view_list_black_24px")
				md-tooltip(hide, show-gt-sm) list
