form.rp-delete-form(layout="row", layout-align="space-around center", ng-submit="submit()", ng-if="parentCtrl.isDeleting")
  p.rp-delete-form-heading(flex="50") delete this {{type}}?
  span.md-actions(flex="50")
    md-button#delete(ng-if="!isDeleteInProgress", type="submit") Yes
    md-button#delete(ng-if="!isDeleteInProgress", type="button", ng-click="cancel()") No
    md-progress-circular(md-mode="indeterminate", ng-if="isDeleteInProgress", md-diameter="24")
